<h1>Admin Shelter Show Page</h1>

<h3><%= @shelter_info_sql.name %></h3>
<p><%= @shelter_info_sql.city %></p>

<div id="stats">
  <ul>
    <li>Average Pet Age: <%= @shelter.average_pet_age %></li>
    <li>Adoptable pets: <%= @shelter.num_adoptable_pets %></li>
    <li>Pets already adopted: <%= @shelter.num_pets_adopted %></li>
  </ul>
</div>