<div class="content">
  <h1>All Shelters</h1>

  <%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %>

  <%= form_with url: "/shelters", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <table class="shelters">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Created At:</th>
      <th scope="col"></th>
    </thead>  
    <% @shelters.each do |shelter| %>
      <tr class="row">
        <th scope="row"><h3><%= shelter.name %></h3></th>
        <td><%= shelter.created_at %></td>
        <td>
         <p><%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %></p>
         <p><%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %></p>
        </td>
      </div>
    <% end %>
  </table>
</div>