<h1>All Shelters</h1><br>

<%= link_to "Add a Shelter", new_shelter_path %><br><br>

<%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %><br><br>

<%= form_with url: shelters_path, method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %><br>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= link_to shelter.name, "/shelters/#{shelter.id}" %></h3>
    <p>Created at: <%= shelter.created_at.to_date%></p>
    <%= button_to "Update", shelters_path %>
    <%= button_to "Delete", "/shelters/#{shelter.id}", method: :delete, class: "btn btn-danger", confirm: "Are you sure you want to delete this?" %>
  </div><br>
<% end %><br>
