<h1>All Shelters</h1>

<%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %>

<%= render partial: 'form', locals: {
  path: "/shelters",
  method: :get,
  button_text: "Search" } %>


<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>
