<h1>All Shelters</h1>
<br>

<%= link_to "Sort by number of pets", "/shelters?sort=pet_count" %>
<br><br>
<%= form_with url: "/shelters", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>
<br>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "About #{shelter.name}", "/shelters/#{shelter.id}" %> |
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %> |
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
  <br>
<% end %>
