<h1>All Pets at <%= @shelter.name %></h1><br>

<p><%= link_to "Add a Pet", "/shelters/#{@shelter.id}/pets/new" %></p>

<%= link_to "Sort alphabetically", "/shelters/#{@shelter.id}/pets?sort=alphabetical" %><br><br>

<%= form_with url: "/shelters/#{@shelter.id}/pets", method: :get do |form| %>
  <%= form.label "Only display pets with an age of at least..." %>
  <%= form.select :age, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15] %>
  <%= form.submit "Filter" %>
<% end %><br>

<% @shelter_pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p><%= pet.name %> can be adopted from <%= @shelter.name %>!</p>
  <%= button_to "Edit #{pet.name}", "/shelters/#{@shelter.id}/pets/#{pet.id}/edit", class: "btn btn-secondary" %>
  <%= button_to "Delete #{pet.name}", "/shelters/#{@shelter.id}/pets/#{pet.id}/edit", method: :delete, class: "btn btn-danger" %><br>
<% end %>
