<h1>Application For: <%= @application.name %></h1>


<div class = "approve_or_reject">
  <h3>Pets Wanted</h3>

  <% @pet_applications.each do |pet_app| %>
  <div id = <%= "#{pet_app.id}" %>>
    <ul>
      <%= "#{pet_app.pet.name}" %>
      <%= button_to("Approve this pet", "/admin/applications/#{pet_app.id}", method: :patch, params: {status: "Accepted"}) %></li>
      <%= button_to("Reject this pet for adoption", "/admin/applications/#{pet_app.id}", method: :patch, params: {status: "Rejected"}) %></li>
    </ul>
  <% end %>
</div>

<h3>Pets Approved for Adoption</h3>
<div class = 'approved_pets'>
  <% @pet_applications.each do |app| %>
    <%if app.application.status == "Accepted" %>
      <%="#{app.pet.name}: Approved"%>
    <% end %>
  <% end %>
</div>







