<h1 style="text-decoration: underline;"><%= "#{@application.name}'s Pet Adoption Application" %></h3>

<%= render partial: '/applications/application_status' %>

<%= render partial: '/applications/application_applicant', locals: { method: :get } %>

<%= render partial: '/applications/application_pets_adopting' %>

<%= render partial: '/applications/application_statement', locals: { method: :get } %>