<body style="background-color:Orchid; color:PeachPuff; border-style:groove; border-width:10px; border-color:PeachPuff;">
</body>
<h1>Admin View: Application from <%= @application.last %>, <%= @application.first %></h1>

<p>Address: <%= @application.street %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip %></p>
<p>Desctiption: <%= @application.description %></p>
<p>Pets to Adopt:</p>
  <% @pets_and_approval.each do |pet, approval| %>
    <p><%= pet.name %>
    <% if approval == nil %></p>
      <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: { approve_reject: true, pet_id: pet.id } %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}", method: :patch, params: { approve_reject: false, pet_id: pet.id } %>
    <% elsif approval == true %>
      <%= "Approved" %>
    <% elsif approval == false %>
      <%= "Rejected" %>
    <% end %>
  <% end%> </p>
<p>Application Status: <%= @application.status %></p>