<h1><%= @application.name %></h1>
<h3>Street Address: <%= @application.address %></h3>
<h3>Status: <%= @application.approved_declined %></h3>
<h3>Description: <%= @application.description %></h3>

<h3> Pets: </h3>
<% @pets.each do |pet| %>
  <% @pet_applications.each do |application| %>
    <% if application.pet_id == pet.id  %>
    <p><%= pet.name %><%=  application.approved_or_declined %></p>
    <% end %>
  <% end %>
<% end %>



<h3> Pets for Adoption: </h3>
<% @pets.each do |pet| %>
  <% @pet_applications.each do |application| %>
  <% if application.pet_id == pet.id && application.was_approved != true &&  application.was_approved != false && pet.adoptable == true %>
    <p><%= pet.name %></p>
    <%= link_to("Approve #{pet.name}", "/admin/applications/#{@application.id}/pets/#{pet.id}/approve", method: :patch) %><br/>
    <%= link_to("Reject Adoption for #{pet.name}", "/admin/applications/#{@application.id}/pets/#{pet.id}/reject", method: :patch) %><br/>
  <% end %>
  <% end %>
<% end %>
