<%= render partial: 'shared/form', locals: { path: "/admin/applications/#{@applicant.id}", method: :get } %>

<% @pets.each do |pet| %>
  <div id = "pending-<%= pet.id %>">
    <%= pet.name %>
      <%= form_with url: "/admin/applications/#{@applicant.id}", method: :patch, local: true do |form| %>
        <%= form.hidden_field :pet_id, value: "#{pet.id}"%>
        <%= form.hidden_field :app_pet_id, value: @applicant.app_pet_by_pet(pet).id %>
        <% if @applicant.app_pet_by_pet(pet).status == "Pending" %>
          <%= form.button "Approve Adoption", type: "submit", name: "status", value: "Approved" %>
          <%= form.button "Reject Adoption", type: "submit", name: "status", value: "Rejected" %>
        <% elsif @applicant.app_pet_by_pet(pet).status == "Approved"%>
          <p> The Application for <%= "#{pet.name}" %> has been APPROVED!!! </p>
        <% else %>
          <p> The Application for <%= "#{pet.name}" %> has been REJECTED!!! </p>
        <% end %>
      <% end %>
  </div>   
<% end %>
