<h1>Application For: <%= @application.name %></h1>


<div class = "approve_or_reject">
  <h3>Pets Wanted</h3>

  <% @pet_applications.each do |pet_app| %>
  <div id = <%= "#{pet_app.id}" %>>
   <h4><%= "#{pet_app.pet.name}" %></h4>
    <p>
      <%if pet_app.status == "Accepted" %> 
        <%= pet_app.status %> 
      <%elsif pet_app.status == "Rejected" %>
        <%= pet_app.status %>
      <%elsif pet_app.status != "Accepted" && pet_app.status != "Rejected" %> 
        <%= button_to("Approve #{pet_app.pet.name} ", "/admin/applications/#{pet_app.id}", method: :patch, params: {status: "Accepted"}) %></li>
        <%= button_to("Reject this pet for adoption", "/admin/applications/#{pet_app.id}", method: :patch, params: {status: "Rejected"}) %></li>
      <% end %> 
    </p>
  <% end %>
</div>

<h3>Pets Approved for Adoption</h3>
<div class = 'approved_pets'>
  <% @pet_applications.each do |app| %>
    <%if app.status == "Accepted" %><br>
      <%="#{app.pet.name}: Approved"%>
    <% end %>
  <% end %>
</div>









