<h1>Application for: <%= @application.name %>, ID:<%= @application.id %></h1>

<h3>Pet Adoption Interests</h3>

<% @pets.each do |pet| %>
  <section id="pet-<%= pet.id %>">
  <p>Name: <%= pet.name %></p>
  <p>ID: <%= pet.id %></p>
  
  <% @app_pets.each do |app_pet| %>
    <% if app_pet.status == nil && app_pet.pet_id == pet.id%>
      <%= form_with url:"/admin/applications/#{@application.id}", method: :patch, local: true do |form| %>
        <%= form.radio_button :status, "Approved" %>
        <%= form.label :status_approve, "Approve" %>
        <%= form.radio_button :status, "Rejected" %>
        <%= form.label :status_reject, "Reject" %>
        <%= form.hidden_field :pet, value: pet.id %>
        <%= form.submit "Submit" %>
      <% end %>
    <% elsif app_pet.pet_id == pet.id %>
      <p><%= app_pet.status %></p>
    <% end %>
  <% end %>
  </section>
<% end %>
  