<% @application.application_pets.each do |application_pet| %>
  <div id="pet-<%= application_pet.pet_id %>">
    <% if @application.status == "Approved" || @application.status == "Rejected" %>
      <h3>Application Status: <%= @application.status %>
    <% elsif application_pet.approved? %>
      <h3><%= application_pet.pet.name %></h3>
      <p>Approved!</p>
    <% elsif application_pet.rejected? %>
      <h3><%= application_pet.pet.name %></h3>
      <p>Rejected!</p>
    <% else %>
      <h3><%= application_pet.pet.name %></h3>
      <%= button_to "Approve", "/admin/applications/#{@application.id}", params: {status: :approved, application_pet_id: application_pet.id}, method: :patch, local: true %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}", params: {status: :rejected, application_pet_id: application_pet.id}, method: :patch, local: true %>
    <% end %>
  </div>
<% end %>
