<h1> Admin Application for: <%= @application.name %></h1>
<% if @application.status == "Accepted" %>
     <a href="#" class="btn btn-success btn-lg disabled" role="button" aria-disabled="true">Application Status: <%= @application.status %></a>
<% elsif @application.status == "Rejected" %>
     <a href="#" class="btn btn-danger btn-lg disabled" role="button" aria-disabled="true">Application Status: <%= @application.status %></a>
 <% end %>

<h3>Pets to adpot: <p>
<% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
  <% if @admin_status == "approved" && @petid == "#{pet.id}"%>
    <h3>This pet has been approved!</h3>

  <% elsif @admin_status == "rejected" && @petid == "#{pet.id}"%>
    <h3>This pet has been rejected!</h3>

  <% else %>
    <%= form_with url: "/admin/applications/#{@application.id}?status=approved",
      method: :patch, local: true do |f| %>
        <button class="btn btn-success btn-secondary btn-sm" type="submit">Approve</button>
        <%= f.text_field :petid, value: pet.id, hidden: true %>
      <% end %>
    <%= form_with url: "/admin/applications/#{@application.id}/?status=rejected", method: :patch,  local: true do |f| %>
        <button class="btn btn-danger btn-secondary btn-sm" type="submit">Reject</button>
        <%= f.text_field :petid, value: pet.id, hidden: true %>
      <% end %>
  <% end %>
<% end %>
</h3>
