<h1> Application ID: <%= @application.id %></h1>
<h2> Status: <%= @application.status %></h2>
<hr>
<h3><%= @application.name %></h3>
<h3><%= @application.address %></h3>
<ul>
<% @application_pets.each do |ap| %>
  <div id=<%= ap.id %>>
  <%= ap.pet.name %>
  <% if ap.status.nil? %>
    <%= button_to "Approve", "/application_pets/#{ap.id}", method: :patch, params: { :status => true } %>
    <%= button_to "Reject", "/application_pets/#{ap.id}", method: :patch, params: { :status => false } %>
  <% else !ap.status.nil? %>
    <p> <%= ap.approval_status %></p>
  <% end %>
  </div>
<% end %>
</ul>