<h1>Application Admin</h1>
<h3>Application ID: <%= @application.id %></h3>
<p>Name: <%= @application.name %></p>
<p>Street: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zipcode: <%= @application.zipcode %></p>
<p>Description: <%= @application.description %></p>

<% @app_pet.each do |app| %>
  <% if app[:pet_status] == nil %>
    <%= app.pet.name %>
    <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: {app_id: app.id, status: 'Approve'} %>
    <%= button_to "Reject", "/admin/applications/#{@application.id}", method: :patch, params: {app_id: app.id, status: 'Reject'}%>
  <% end %>
<% end %>

<% @app_pet.each do |app| %>
  <% if app[:pet_status] == "Approved" %>
    <%= "#{app.pet.name} approved" %><br>
  <% elsif app[:pet_status] == "Rejected" %>
    <%= "#{app.pet.name} rejected" %><br>
  <% end %>
<% end %>
