<h1> Application ID: <%= @application.id %></h1>
<h2> Status: <%= @application.status %></h2>
<hr>
<h3><%= @application.name %></h3>
<h3><%= @application.address %></h3>
<ul>
<% @application_pets.each do |ap| %>
  <%= ap.pet.name %>
  <% if ap.approval_status.nil? %>
    <%= button_to "Approve", "/application_pets/#{ap.id}", method: :patch, params: { :approval => true } %>
    <%= button_to "Reject", "/application_pets/#{ap.id}", method: :patch, params: { :approval => false } %>
  <% else %>
    <p> <%= ap.approval_status %></p>
  <% end %>
<% end %>
</ul>