<h1>Admin View: Application from <%= @application.last %>, <%= @application.first %></h1>

<p>Address: <%= @application.street %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip %></p>
<p>Desctiption: <%= @application.description %></p>
<p>Pets to Adopt:</p>
                  <p><% @application.pets.each do |pet| %>
                    <%= pet.name %>
                    <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: { status: "Pending" } %>
                  <% end%> </p>
<p>Application Status: <%= @application.status %></p>