<h1> Application ID: <%= @application.id %></h1>
<h2> Status: <%= @application.status %></h2>
<hr>
<h3><%= @application.name %></h3>
<h3><%= @application.address %></h3>
<ul>
<% @pets.each do |pet| %>
  <%= pet.name %>
  <% if params["#{pet.id} approval"].nil? %>
    <%= button_to "Approve", "/admin/applications/#{@application.id}", method: :get, params: { "#{pet.id} approval" => "Pet Approved" } %>
    <%= button_to "Reject", "/admin/applications/#{@application.id}", method: :get, params: { "#{pet.id} approval" => "Pet Rejected" } %>
  <% else %>
    <p> <%= params["#{pet.id} approval"] %></p>
  <% end %>
<% end %>
</ul>