<main>

<h1>Application</h1>

<p>Name: <%= @app.name %></p>
<p>Address: <%= @app.street %>, <%= @app.city %>, <%= @app.state %> <%= @app.zip %></p>
<p>Reason for Application: <%= @app.reason %></p>

<h2>Pets</h2>
<% @app.pets.each do |pet| %>
<p>Pet Name: <%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>
<h3>Application Status: <%= @app.status %></h3>
</main>
