<h1> <%= @pet_application.name %>'s application </h1>
  <%= @pet_application.name %><br>
  Address:<br>
  <%= @pet_application.street%><br>
  <%= @pet_application.city%><br>
  <%= @pet_application.state%><br>
  <%= @pet_application.zip%><br>
  <%= @pet_application.reason%><br>
  <%= @pet_application.status%><br>
  <br>
