<h1><%= @adopt_app.name %>'s Adoption Application</h1>

<p>Name: <%= @adopt_app.name %></p>
<p>Street Address: <%= @adopt_app.street_address %></p>
<p>City: <%= @adopt_app.city %></p>
<p>State: <%= @adopt_app.state %></p>
<p>Zip Code: <%= @adopt_app.zip_code %></p>
<p>Pets to adopt: </p>
<p>Description: <%= @adopt_app.description %></p>
<p>Status: <%= @adopt_app.status %></p>
