<h1><%= @veterinarian.name %></h1>
<h3>
  <% if @veterinarian.on_call %>
    On call
  <% else %>
    Not on call
  <% end %>
</h3>
<h3>Rating: <%= @veterinarian.review_rating %></h3>
<h3>Practice: <%= @veterinarian.office_name %></h3>

<%= link_to "Update #{@veterinarian.name}", "veterinarians/#{@veterinarian.id}/edit" %>
<%= button_to "Delete #{@veterinarian.name}", "/veterinarians/#{@veterinarian.id}", method: :delete %>
