<h1>Applicant Info</h1>



<%= @application_form.name %>

<p>Full Address: <%= @application_form.street_address %>, <%= @application_form.city %>, <%= @application_form.zip_code %></p>

<p>Description: <%= @application_form.description %></p>

<p>Status: </p>
