<h1><%= "#{@application.applicant_name}'s application" %></h1>
<h2> Pet Wishlist </h2><br/><br/>
<h2> Application Status: <%= @application.status %></h2>
  <% @application.update_status %>
<% @pet_applications.each do |pet_app| %>
  <h3><%= Pet.where(id: pet_app.pet_id).pluck(:name).first %></h3>
  <% if pet_app.condition == "Pending" %>
      <% if pet_app.pet.adoptable != false %>
    <p><%= link_to "Approve this Pet!", "/admin/applications/#{pet_app.application_id}?condition_update=Approved&pet_app=#{pet_app.id}", id: "Approve #{pet_app.pet_id}", method: :post %></p>
      <% end %>
    <p><%= link_to "Reject this Pet", "/admin/applications/#{pet_app.application_id}?condition_update=Denied&pet_app=#{pet_app.id}", id: "Reject #{pet_app.pet_id}", method: :post %></p>
  <% elsif pet_app.condition == "Approved" %>
    <p><%= "The application for this pet has been approved." %></p>
  <% else %>
    <p><%= "The application for this pet has been denied." %></p>
  <% end %>
<% end %>