<%= content_tag :div, id: "all_shelters" do %>
  <h2><%= "All Shelters" %></h2>
  <% @all_shelters.each do |shelter| %>
  <%= link_to shelter.name, "/admin/shelters/#{shelter.id}" %><br/>
  <% end %>
<% end %>
<%= content_tag :div, id: "open_app_shelters" do %>
  <h2><%= "Shelters with open applications" %></h2>
  <% @app_shelters.each do |shelter| %>
  <%= shelter.name %><br/>
  <% end %>
<% end %>
