<h2>Application Details</h2>
<% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
  <%= pet.name %>
  <%= render partial: 'pet_approve', locals: { pet_id: pet.id } unless @approved == "Application Approved!" && pet == @pet || @approved == "Application Rejected" && pet == @pet %>
  <%= render partial: 'pet_reject', locals: { pet_id: pet.id } unless @approved == "Application Approved!" && pet == @pet || @approved == "Application Rejected" && pet == @pet %>
  <%= @approved if @approved == "Application Approved!" || @approved == "Application Rejected" && pet == @pet %>
  </div>

<% end %>