<h1>Admin Panel</h1>

<h2><%= @application.name %></h2>
<h3>Street Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>Zipcode: <%= @application.zipcode %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Status: <%= @application.status %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Pets I am interested in:

  <% @application.pets.each do |pet| %>
    <section id= <%= "pet-#{pet.id}" %>>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        <% if pet.app_approval?(pet.id, @application.id) %>
          <p>You have been approved for <%= "#{pet.name}" %></p>
        <% elsif pet.app_rejected?(pet.id, @application.id) %>
          <p>You have been rejected for <%= "#{pet.name}" %></p>
        <% else %>
          <%= button_to "Approve Pet", params: {app_status: "Approved", pet_id: pet.id} %>
          <%= button_to "Reject Pet", params: {app_status: "Rejected", pet_id: pet.id} %>
        <% end %>
    </section>
  <% end %>
</h3>
