<h2>Application Details</h2>
<h3>Application Status: <%= @application.status %></h3>
<% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
  <%= pet.name %>
  <%= "This Pet has been Approved for Adoption" if @application.find_app_approved(pet.id)%>
  <%= render partial: 'pet_approval', locals: { pet_id: pet.id } if @application.find_pa_status(pet.id) == nil && @application.find_app_approved(pet.id) == false %>
  <%= render partial: 'pet_reject', locals: { pet_id: pet.id } if @application.find_pa_status(pet.id) == nil %>
  <%= @application.status_message(pet.id) unless @application.find_pa_status(pet.id) == nil %>
  </div>
<% end %>
