<h1>Application Info</h1>

<p>First name: <%= @pet_form.first_name %></p>
<p>Last name: <%= @pet_form.last_name %></p>
<p>Street address: <%= @pet_form.street_address %></p>
<p>City: <%= @pet_form.city %></p>
<p>State: <%= @pet_form.state %></p>
<p>Zip code: <%= @pet_form.zip_code %></p>
<p>Description of home: <%= @pet_form.description %></p>
<p>Application status: <%= @pet_form.status %></p>
