<%= form_with url: "/adoption_forms/#{@pet_form.id}?search=search", method: :get, local: true do |f| %>
  <%= f.label :search, "Add a pet to this application"%>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pet_form.pets.present? %>
  <p>Pets on this application: </p>
  <% @pet_form.pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this pet", "/adoption_forms/#{@pet_form.id}/pets/#{pet.id}" %>
  <% end %>
<% end %>

<% if @searched_pets.present? %>
  <% @searched_pets.each do |pet| %>
    <div id="pet_<%= pet.id %>">
      <h4>Pet name: <%= pet.name %></h4>
      <%= button_to "Adopt this pet", "/adoption_forms/#{@pet_form.id}/pets/#{pet.id}", method: :post, local: true %><br>
    </div>
  <% end %>
<% end %>

<br><br>
<h3>Application Info</h3>
<p>First name: <%= @pet_form.first_name %></p>
<p>Last name: <%= @pet_form.last_name %></p>
<p>Street address: <%= @pet_form.street_address %></p>
<p>City: <%= @pet_form.city %></p>
<p>State: <%= @pet_form.state %></p>
<p>Zip code: <%= @pet_form.zip_code %></p>
<p>Description of home: <%= @pet_form.description %></p>
<p>Application status: <%= @pet_form.status %></p>
