<h1>Applicant Information:</h1>
<p>Name: <%= @petition.name %></p>
<p>Street Address: <%= @petition.street_address %></p>
<p>City: <%= @petition.city %></p>
<p>State: <%= @petition.state %></p>
<p>Zip Code: <%= @petition.zip_code %></p>
<p>Description: <%= @petition.description %></p>
<p>Status: <%= @petition.status %></p>

<% @petition.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<% if @petition.can_add_pet? %>
  <h4>Add a Pet to this Application</h4>
  <%= form_tag("/petitions/#{@petition.id}", method: :get, local: true) do %>
    <p>Pet Name</p>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ('Search') %>
  <% end %>
  <% if @petition.pets.count >= 1 && @petition.status == "In Progress" %>
    <h4>Why do you want to Adopt?</h4>
    <%= form_tag("/petitions/#{@petition.id}", method: :patch, local: true) do %>
      <%= text_field_tag(:description, params[:description]) %>
      <%= submit_tag ('Submit') %>
      <% end %>
  <% end %>
  <% if @results != nil %>
    <% @results.each do |result| %>
      <p><%= result.name %> <%= button_to 'Adopt this Pet', "/petition_pets/#{result.id}/#{@petition.id}", method: :post %></p>
    <% end %>
  <% end %>
<% end %>
