<h1>Applicant Information:</h1>
<p>Name: <%= @petition.name %></p>
<p>Street Address: <%= @petition.street_address %></p>
<p>City: <%= @petition.city %></p>
<p>State: <%= @petition.state %></p>
<p>Zip Code: <%= @petition.zip_code %></p>
<p>Description: <%= @petition.description %></p>
<p>Status: <%= @petition.status %></p>