<h1 class= "text-center"><%=("Results")%></h1>
<%=  render 'search/form'%>

<div class="container">
  <table>
    <thead>
      <tr>
        <th><%= sort_link(@query, :name, " Pet name", default_order: :asc) %></th>
        <th><%= sort_link(@query, :breed, "Pet Breed") %></th>
        <th><%= sort_link(@query, :age, "pet age") %></th>
        <th><%= sort_link(@query, :adoptable, "adoptable") %></th>
      </tr>
    </thead>

    <tbody>
      <% @pets.each do |pet| %>
        <tr>
            <td><%=pet.name %></td>
            <td><%=pet.breed%></td>
            <td><%=pet.age%></td>
            <td><%=pet.adoptable%></td>
        </tr>
      <% end %>
  </table>
</div>
