<h3> <%= @application.name %> </h3>
<p>
Address: <%= @application.street %> <%= @application.city%>, <%= @application.state %>, <%= @application.zip %><br>
I'm a good fit because: <%= @application.description %><br>

Application Status: <%= @application.status %>
</p>