<%= form_with model: model, method: method, local: true do |f| %>
  <div class="form-floating mb-3">
    <%= f.text_field :name, class: "form-control", id: "floatingInput1" %>
    <%= f.label :name, for: "floatingInput1" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :address, class: "form-control", id: "floatingInput2" %>
    <%= f.label :address, for: "floatingInput2" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :city, class: "form-control", id: "floatingInput3" %>
    <%= f.label :city, for: "floatingInput3" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :state, class: "form-control", id: "floatingInput4" %>
    <%= f.label :state, for: "floatingInput4" %>
  </div>
  <div class="form-floating mb-3">
    <%= f.text_field :zipcode, class: "form-control", id: "floatingInput5" %>
    <%= f.label :zipcode, for: "floatingInput5" %>
  </div>

  <%= f.submit 'Submit Application', class: 'btn btn-primary' %>
<% end %>
