<%= form_with url: "/applications/#{@application.id}", method: :GET, local:true do |f| %>
  <h2> Add Pet to Application </h2>
  <%= f.label :pet_name %>
  <%= f.text_field :pet_name %>
  <%= f.submit "Search" %>
<% end %>

<% if @pet_search.present? %>
  <% @pet_search.each do |pet| %>
    <p>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= link_to "Adopt this Pet", add_pet_application_path(@application, pet_id: pet.id), method: :post %>
    v</p>
  <% end %>
<% end %>