<section>
<h2>Submit Application Section</h2>

  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <%= f.label :what_makes_you_a_good_owner %>
    <%= f.text_field :description %>
    <%= f.hidden_field :status, value: "Pending" %>
    <%= f.submit "Submit Application"%>
  <% end %>
</section>
