<h1>Applications</h1>
<% @applications.each do |app| %>
  <h3>Application Number: <%= app.id %></h3>
  <ul>
    <li>Applpicant Name: <%= app.applicant_name %></li>
    <li>Applpicant Address: <%= app.street_address %>, <%= app.city %>, <%= app.state %>, <%= app.zip_code %></li>
    <li>Description: <%= app.description %></li>
    <li>Pet Name(s): <% app.pets.each do |pet| %></li>
      <ol>
        <li><%= pet.name %></li>
      </ol>
    <% end %>
    <li>Application Status: <%= app.application_status %> </li>
  </ul>
<% end %>
