<h1>All pets</h1>

<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% @applications.each do |application| %>
<%= application.name %>
<% end %>
