<h1> All Applications </h1>

<table class="table">
    <thead>
      <th scope="col">Status</th>
      <th scope="col">Applicant Name</th>
      <th scope="col">Submitted On</th>
      <th scope="col"></th>
      <th scopt="col"></th>
    </thead>  

    <tbody>
      <% @applications.each do |application| %>
        <tr class="row">
          <th scope><%= application.status %></th>
          <td><%= application.id %></td>
          <td><%= link_to "#{application.name}", "/applications/#{application.id}" %></td>
          <td><%= application.created_at %></td>
          <td>
            <%= link_to "Update", "/applications/#{application.id}/edit" %>
          </td>
          <td> <td>
        </tr>
      <% end %>
    </tbody>
  </table>