<h1> All Applications </h1>

<table class="table">
    <thead>
      <th scope="col">Status</th>
      <th scope="col">Applicant Name</th>
      <th scope="col">Submitted On</th>
      <th scope="col"></th>
      <th scopt="col"></th>
    </thead>  

    <tbody>
      <% @applications.each do |application| %>
        <tr class="row">
          <th scope><%= application.id %></th>
          <td><%= link_to "#{application.name}", "/applications/#{application.id}" %></td>
          <td><%= application.created_at %></td>
          <td>
            <p class="link"><%= link_to "Edit", "/applications/#{application.id}/edit" %></p>
            <p class="link"><%= link_to "Delete", "/applications/#{application.id}", method: :delete %></p>
          </td>
          <!-- <td><%= link_to "Check Application", "/applications/#{application.id}" %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>