<% @applications.each do |application| %>
  <h2><a href="/applications/<%= application.id %>"><%= application.name %></a></h2>
  <h3><%= application.street %></h3>
  <h3><%= application.city %></h3>
  <h3><%= application.state %></h3>
  <h3><%= application.zip %></h3>
  <h3><%= application.description %></h3>
  <h3><%= application.application_status %></h3>
<% end %>
