<h1>New Application</h1>
<%= form_with url: "/applications", method: :post, local: true do |f| %>
  <%= f.label :fname, 'First Name' %>
  <%= f.text_field :fname %>

  <%= f.label :lname, 'Last Name' %>
  <%= f.text_field :lname %>

  <%= f.label :street_address, 'Street Address' %>
  <%= f.text_field :street_address %>

  <%= f.label :city, 'City' %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zip_code, 'Zip Code' %>
  <%= f.number_field :zip_code %>

  <%= f.submit %>
<% end %>