<%= form_with url: '/application', method: :post, local: true do |form| %>
  <div class="form-control" align="center" style="background-color: #DEB887">

    <div class="form-control" align="center" >
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :street, "Street Address" %>
      <%= form.text_field :street %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :city, "City" %>
      <%= form.text_field :city %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :state, "State" %>
      <%= form.text_field :state %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :zip_code, "Zip Code" %>
      <%= form.text_field :zip_code %>
    </div>
    <br/>
    <br/>
    <div class="form-group" align="center" >
    <%= form.submit "Create Application" %>
    </div>
  </div>
  <% end %>
