<%= render "shared/banner" %>

<%= form_with url:"/applications", method: :post, local: true do |form|  %>

  <p><%= form.label :first_name, "First Name:", require: :true %></p>
    <%= form.text_field :first_name %>
  <p><%= form.label :last_name, "Last Name:" %></p>
    <%= form.text_field :last_name %>
  <p><%= form.label :street_address, "Address:" %></p>
    <%= form.text_field :street_address %>
  <p><%= form.label :city, "City:" %></p>
      <%= form.text_field :city %>
  <p><%= form.label :state, "State:" %></p>
      <%= form.text_field :state %>
  <p><%= form.label :zip_code, "Zip Code:" %></p>
      <%= form.text_field :zip_code %>
  <%= form.submit "Apply for Pet" %>
<% end %>
