<html>
<head>
  <h1>Enter Your Information</h1>
</head>

<body style="font-size:20px">
  <h3 style="color:red"><%= flash[:notice] %></h3><br>
  <%= form_with model: @application, url: "/applications", method: :post, local: true do |f| %>
    <div><%= f.label :first_name, 'First Name' %> <%= f.text_field :first_name %></div>
    <div><%= f.label :middle_name, 'Middle Name (optional)' %> <%= f.text_field :middle_name %></div>
    <div><%= f.label :last_name, 'Last Name' %> <%= f.text_field :last_name %></div><br>
    <div><%= f.label :street_number, 'Street Number' %> <%= f.number_field :street_number %></div>
    <div><%= f.label :street_prefix, 'Street Prefix (if any)' %> <%= f.text_field :street_prefix %></div>
    <div><%= f.label :street_name, 'Street Name' %> <%= f.text_field :street_name %></div>
    <div><%= f.label :street_type, 'Street Type' %> <%= f.text_field :street_type %></div>
    <div><%= f.label :city, 'City' %> <%= f.text_field :city %></div>
    <div><%= f.label :state, 'State' %> <%= f.text_field :state %></div>
    <div><%= f.label :zip_code, 'Zip Code' %> <%= f.number_field :zip_code %></div><br>
    <div><%= f.label :description, "Why would you make a good forever home?" %> <%= f.text_field :description %></div><br>
    <div><%= f.submit "Submit" %></div>
  <% end %>
</body>
</html>
