<%= form_with url: "/applications?app_status=In Progress", method: :post, local: true do |form| %>
<p><%= form.label :name %>
<%= form.text_field :name, :required => true %></p>
<p><%= form.label :street %>
<%= form.text_field :street, :required => true %></p>
<p><%= form.label :city %>
<%= form.text_field :city, :required => true %></p>
<p><%= form.label :state %>
<%= form.text_field :state, :required => true %></p>
<p><%= form.label :zip %>
<%= form.number_field :zip, :required => true %></p>
<p><%= form.label :applicant_argument %>
<%= form.text_area :applicant_argument, :required => true %></p>
<p><%= form.submit 'Submit' %></p>
<% end %>
