<div class="d-flex align-items-center justify-content-center">
  <h1>New Application</h1>
</div>


<%= form_with model: @application, url: '/application/new', method: :post, local: true do |f| %>
  <% if @application.errors.any? %>
    <div class="alert alert-danger">
      <% @application.errors.full_messages.each do |message| %>
        <div> <%= message %></div>
      <% end %>
    </div>
  <% end %>

  <%= f.label :name, "Name:" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :street_address, "Street Address:" %>
  <%= f.text_field :street_address %>
  
  <%= f.label :city, "City:" %>
  <%= f.text_field :city %>

  <%= f.label :state, "State:"%>
  <%= f.text_field :state %>

  <%= f.label :zipcode, "Zip Code:" %>
  <%= f.number_field :zipcode %>

  <%= f.submit %>
<% end %>
