<%= form_with url: '/applications', method: :post, local: true do |form| %>
  <div class="form-control" align="center" style="background-color: #DEB887">

    <div class="form-control" align="center" >
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :street, "Street Address" %>
      <%= form.text_field :street %>
    </div>
    <br>
    <div class="form-control" align="center" >
      <%= form.label :city, "City" %>
      <%= form.text_field :city %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :state, "State" %>
      <%= form.text_field :state %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :zip_code, "Zip Code" %>
      <%= form.text_field :zip_code %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :description, "Why are you a good fit?" %>
      <%= form.text_area :description %>
    </div>
    <br/>
    <div class="form-control" align="center" >
      <%= form.label :application_status, "Application Status"%>
      <%= form.text_field :application_status, value: 'In Progress', readonly: true %>
      </div>
    <br/>
    <br/>
    <div class="form-group" align="center" >
    <%= form.submit "Create Application" %>
    </div>
  </div>
  <% end %>
