<% flash.each do |type, msg| %>
      <%= msg %>
<% end %>

<%= form_with url: "/applications?app_status=In Progress", method: :post, local: true do |form| %>
<p><%= form.label :name %>
<%= form.text_field :name %></p>
<p><%= form.label :street %>
<%= form.text_field :street %></p>
<p><%= form.label :city %>
<%= form.text_field :city %></p>
<p><%= form.label :state %>
<%= form.text_field :state %></p>
<p><%= form.label :zip %>
<%= form.number_field :zip %></p>
<p><%= form.submit 'Submit' %></p>
<% end %>
