<h3>New Application</h3>
<%= form_with url: "/applications", method: :post, local: true do |form| %>
<p><%= form.label :name %></p>
<%= form.text_field :name %>

<p><%= form.label :address %></p>
<%= form.text_field :address %>

<p><%= form.label :city %></p>
<%= form.text_field :city %>

<p><%= form.label :state %></p>
<%= form.text_field :state %>

<p><%= form.label :zipcode %></p>
<%= form.text_field :zipcode %><br>

<%= form.submit "Submit" %>
<% end %>
