<h1>Start a New Application</h1>
<br>
<%= form_with url: "/applications", method: :post, local: true do |f| %>
  <%= f.label :name, "Name: " %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :street_address, "Street Address: " %>
  <%= f.text_field :street_address %>
  <br>
  <%= f.label :city, "City: " %>
  <%= f.text_field :city %>
  <br>
  <%= f.label :state, "State: " %>
  <%= f.text_field :state %>
  <br>
  <%= f.label :zip_code, "Zip Code: " %>
  <%= f.text_field :zip_code %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
