<h1>New Application</h1>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>

<%= form_with url: '/applications?status=In Progress', method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :state %>
  <%= f.text_field :state %>

  <%= f.label :zipcode %>
  <%= f.number_field :zipcode %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit "Submit" %>
<% end %>