<h1>Adoption Application</h1>

<%= form_with url: "/applications", method: :post, local: true do |f| %>
<h3><%= f.label "Start a new application:" %></h3><br>
<%= f.label :applicant_name %>
<%= f.text_field :applicant_name %><br>
<p>Address:
<div><%= f.label :street %>
<%= f.text_field :street %></div>
<%= f.label :city %>
<%= f.text_field :city %>
<%= f.label :state %>
<%= f.select :state, options_for_select(us_states) %>
<%= f.label :zip_code %>
<%= f.text_field :zip_code %></p>
<% f.text_field :statement, value: " " %>
<% f.select :status, value: "in progress" %>
<br>
<%= f.submit "Submit" %>
<% end %>
