<h1>New Application</h1>
<%= form_with url: "/applications/", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :city %>
  <%= f.number_field :city %>

  <%= f.label :state %>
  <%= f.number_field :state %>

  <%= f.label :zip %>
  <%= f.number_field :zip %>

  <%= f.submit %>
<% end %>
