<h2>New Application</h2>

<% if params[:missing_field] %>
  <h3>You must fill in all fields</h3>
<% end %>

<%= form_with url: '/applications', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :street_address %>
  <%= form.text_field :street_address %>
  <%= form.label :city %>
  <%= form.text_field :city %>
  <%= form.label :state %>
  <%= form.text_field :state %>
  <%= form.label :zip_code %>
  <%= form.text_field :zip_code %>

  <%= form.submit 'Create Application' %>
<% end %>
