<h1> New Application </h1>
<%= form_with url: "/applications", method: :post, local: true do |form| %>
<p>Name: <%= form.text_field :name%></p>
<p>Street Address: <%= form.text_field :street_address%></p>
<p>City: <%= form.text_field :city%></p>
<p>State: <%= form.text_field :state%></p>
<p>Zipcode: <%= form.text_field :zip_code%></p>

<%= form.submit "Submit Application" %>
<% end %>