
<center><h1> New Application </h1></center?
<h3> Submit the following information:</h3>

<p><%= form_with url: "/applications", method: :post, local: true do |f| %></p>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>
  <p><%= f.label :street_address %></p>
  <p><%= f.text_field :street_address %></p>
  <p><%= f.label :city %></p>
  <p><%= f.text_field :city %></p>
  <p><%= f.label :state %></p>
  <p><%= f.text_field :state %></p>
  <p><%= f.label :zip_code %></p>
  <p><%= f.text_field :zip_code %></p>
  <p><%= f.label :description %></p>
  <p><%= f.text_field :description %></p>
  <br>

  <br>
  <p><%= f.submit "Submit" %></p>

<% end %>
