<h1>New Application</h1>
<%= form_with url: "/applications/:id", method: :post, local: true do |f| %>
  
  <p><%= f.label :applicant_name, 'Name:' %>
  <%= f.text_field :applicant_name %></p>

  <p><%= f.label :street_address, 'Street Address:' %>
  <%= f.text_field :street_address %></p>

  <p><%= f.label :city, 'City:' %>
  <%= f.text_field :city %></p>

  <p><%= f.label :state, 'State:' %>
  <%= f.text_field :state %></p>

  <p><%= f.label :zip_code, 'Zip Code:' %>
  <%= f.text_field :zip_code %></p>

  <%= f.submit "Submit" %>
<% end %>