<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end %>

<%= form_with url: "/applications/:id", method: :post do |form| %>
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %>
  <%= form.label :street_address, 'Street Address' %>
  <%= form.text_field :street_address %>
  <%= form.label :city, 'City' %>
  <%= form.text_field :city %>
  <%= form.label :state, 'State' %>
  <%= form.text_field :state %>
  <%= form.label :zip_code, 'Zip Code' %>
  <%= form.text_field :zip_code %>
  <%= form.label :description, 'Description' %>
  <%= form.text_field :description %>
  <%= form.submit 'Submit' %>
<% end %>
