<%= form_with url: "/applications", method: :post, local: true do |form| %>
<p><%= form.label :name %>
<%= form.text_field :name %></p>
<p><%= form.label :street_address %>
<%= form.text_field :street_address %></p>
<p><%= form.label :city %>
<%= form.text_field :city %></p>
<p><%= form.label :state %>
<%= form.text_field :state %></p>
<p><%= form.label :zip_code %>
<%= form.text_field :zip_code %></p>
<p><%= form.label :description %>
<%= form.text_field :description %></p>
<p><%= form.submit "Submit Application" %></p>
<% end %>