<%= form_with url: '/applications', method: :post, local: true do |form| %>
<br/>
<h1 align="center">New Application</h1>
<br/>
  <div class="container-fluid" align="center" style="text-align=center">

    <div class="col-sm-3">
      <div class="card" style="background-color: #ffc40c">
        <div class="card-block">
          <br/>
          <ul class="card-title">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :street, "Street Address" %>
      <%= form.text_field :street %>

    <br>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :city, "City" %>
      <%= form.text_field :city %>

    <br/>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :state, "State" %>
      <%= form.text_field :state %>

    <br/>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :zip_code, "Zip Code" %>
      <%= form.number_field :zip_code, min: 00001, max: 99999 %>
      </div>
    <br/>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <%= form.label :description, "Why are you a good fit?" %>
      <%= form.text_area :description %>
    <br/>

    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="background-color: #ffc40c">
      <% form.label :application_status %>
      <%= form.hidden_field :application_status, value: 'In Progress'%>
      </div>
    <br/>

    <br/>

    <%= form.submit "Create Application", class: "btn btn-primary btn-outline-warning", data: { confirm: "Are you sure? It's a big responsibility." } %>
    </div>
  </div>
  <% end %>
