<h1>Application @application.id}</h1>
<%= "Name: #{@application.name}" %>
<%= "Address: #{@application.address}" %>
<%= "City: #{@application.city}" %>
<%= "State: #{@application.state}" %>
<%= "Zipcode: #{@application.zip_code}" %>
<%= "Description: #{@application.description}" %>
<%= "Application Status: #{@application.status}" %>
<% @application.pets.each do |pet| %>
  <%= link_to "Pet Name: #{pet.name}", "/pets/#{pet.id}" %>
<% end %>
