
<h1><%= @application.name %></h1>
<p style='font-weight: bold'>Street Address:</p>
<%= @application.street %>
<p style='font-weight: bold'>City:</p>
<%= @application.city %>
<p style='font-weight: bold'>State:</p>
<%= @application.state %>
<p style='font-weight: bold'>Zip:</p>
<%= @application.zip %>
<p style='font-weight: bold'>Description:</p>
<%= @application.desc %>
<p style='font-weight: bold'>Status:</p>
<%= @application.status %>
<p style='font-weight: bold'>Desired Pets:</p>
<% @pets.each do |pet| %>
  <%= pet.name %>
<% end %>


<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f|%>
	<%= f.label :pet_name, 'Add a Pet to this Application' %>
	<%= f.text_field :pet_name %>
	<%= f.submit 'Search Pets' %>
<% end %>

<% @pet_search.each do |pet| %>
	<%= pet.name %><%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}?pets=#{pet.id}", method: :patch%><br/> 
<% end %>