<p><%= @application.name  %></p>
<p><%= @application.address  %></p>
<p><%= @application.city  %></p>
<p><%= @application.state  %></p>
<p><%= @application.zip %></p>
<p><%= @application.description  %></p>
<p><%= @application.status  %></p>

<% @pet_application.each do |app| %>
  <p><%= app.pet.name %></p>
  <% end %>

<%= "Add a Pet to this Application" %>
 <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
   <%= f.label :pet_name %>
   <%= f.text_field :pet_name %>
   <%= f.submit "Search" %>
 <% end %>

 <% @pets.each do |pet| %>
 <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
 <%= button_to "Adopt this Pet", "/pet_applications/create", method: :post, params: {:application_id => @application.id, :pet_id => pet.id} %>
 <% end %>
