<h1><%= @application.name %></h1>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<h3>Pets Applied for:</h3>
<% @pets.each do |pet| %>
<p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>

<% if @application.status == "In Progress" %>
  <h3>Add a Pet to this Application:</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "Search for Pets" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
   <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
  	<%= f.label :description, "Enter a short description about you:" %>
  	<%= f.text_field :description %>
  	<%= f.submit "Submit" %>
    <% end %>
<% end %>

<% if @pet_results && @application.status == "In Progress" %>
  <% @pet_results.map do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", application_path(@application, {pet_id: pet.id}), method: :patch%>
  <% end %>
<% end %>

 






