<h1><%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>Why I'd make a good home for this pet(s): <%= @application.description %></h3>
<h3>Status: <%= @application.status %></h3>
<h3>Pets Applied For: </h3><% @application.pets.each do |pet| %>
   <p><%= pet.name %></p>
<% end %>
<h1>Add pet to application:</h1>
<%= form_tag("/applications/#{@application.id}", method: :patch) do %>
<%= text_field_tag(:search, params[:search]) %>
<%= submit_tag ("Search") %>
<% end %>
<% @pets.each do |pet| %>
  <p><%= pet.name %></p>
<% end %>
