<h1> Applicant Name: <%= @application.name %></h1>
<p><b>Address:</b> <%= @application.street_address %>,
             <%= @application.city  %>,
             <%= @application.state %>,
             <%= @application.zip_code %></p>
<p><b>Why is <%= @application.name %> a good fit? </b> <%= @application.description %></p>
<p><b>Pet Names: </b>
  <% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
</p>
<p><b> Application Status:</b> <%= @application.status %></p>

<% if @application.status == "In Progress" %>
  <h3> Add a Pet to this Application: </h3>
  <%= form_with url:"/applications/#{@application.id}", method: :get do |form| %>
    <%= form.label :search_by_name %>
    <%= form.text_field :search_by_name %>
    <%= form.submit "Search" %>
  <% end %>
<% end %>

<% if !@matching_pets.nil? %>
  <% @matching_pets.each do |pet| %>
    <div id="pet-<%=pet.id%>">
      <p> <%= pet.name %> </p>
    </div>
  <% end  %>
<% end  %>
