<h1>hi</h1>
<p>Name: <%= @app.name %></p>
<p>Address: <%= @app.address %> <%= @app.city %>, <%= @app.state %> <%= @app.zipcode %></p>
<p>Why I am a good fit: <%= @app.description %></p>
<p>Status: <%= @app.app_status %></p>
<p>Pets applied for:</p>
