<h1><%= @application.name %></h1>
<h3>
  <%= label :text, :address, 'Address: ' %>
  <%= @application.street_address %> 
  <%= @application.city %>, 
  <%= @application.state %> 
  <%= @application.zip_code %><br>
  <h3>
    <%= label :text, :description, 'Description: ' %>
    <%= @application.description %><br>
  </h3>

  <div class="avail-pets-cta">
    <h3>
      <%= label :text, :pets_list, 'Available Pets: ' %><br>
      <%= render partial: "shared/all_pets" %>
    </h3>
  </div>

  <% if @selected_pets %>
    <div class="select-pets-cta">
      <h3>
        <%= label :text, :pets_list, 'Selected Pets: ' %><br>
        <% @selected_pets.each do |pet| %>
          <pre><h3>   <%= link_to "#{pet.name}", "pets/#{pet.id}" %>
          <% if request.path_info.include?("admin") %>
            <%= render partial: "buttons_approve_reject", locals: {pet: pet} %></h3></pre>
          <% end %>
        <% end %>
      </h3>
    </div>
  <% end %>

    <h3>
      <%= label :text, :status, 'Status: ' %>
      <%= @application.status %>
    </h3>

  <% if @application.status == "in progress" %>
    <%= render partial: "in_progress" %>
  <% end %>
</h3>
