<h1><%= @application.name %></h1>
<h3>Street Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State:<%= @application.state %></h3>
<h3>Zipcode: <%= @application.zip_code %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Pets Applying For: <% @application.pets.each do |pet| %></h3>
                       <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
                       <% end %>
<h3>Status: <%= @application.status %></h3>

<% if @application.status == "In Progress" %>
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
  <% end %>
<% end %>

<% if params[:search].present? %>
  <% @pet_search.each do |pet| %>
    <%= pet.name %>
    <%= button_to 'Adopt this Pet', '/application_pets', method: :create, params: {application_id: @application.id, pet_id: pet.id} %>
  <% end %>
<% end %>
