<h1>Application Show Page</h1>

Name: <%= @application.name %><br>
Address: <%= @application.address %><br>
Description: <%= @application.description %><br>
Pet Name(s): <%= @application.pet_names %><br>
Status: <%= @application.status %><br>
