<h1><%= @application.name %></h1>
<h3><%= @application.street %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip %></h3>
<% if @application.application_status == 'Pending' %>
    <h3>Why I should be approved: <%= @application.description %></h3>
<% end %>
<h3>Application Status: <%= @application.application_status %></h3>
<h2> Pets: </h2>
<% @application.pets.each do |pet| %>
<h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
<% end %>

<% if @application.application_status == 'In Progress' %>
    <% if @pets_added %>
        <h3>Please tell us why you would make an excellent candidate for adoption.</h3>
        <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
        <p><% f.label :description %>
        <%= f.text_area :description %></p>
        <%= f.submit "Submit" %>
        <% end %>
    <% end %>

    <h2>Add a Pet to this Application</h2>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
    <% end %>

    <% @pets.each do |pet| %>
    <h3><%= pet.name %></h3>
    <%= form_with url: "/applications/#{@application.id}", method: :post, local: true do |f| %>
    <%= f.hidden_field :pet_id, value: "#{pet.id}" %>
    <%= f.submit "Adopt #{pet.name}" %>
    <% end %>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: </p>
    <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
    <% end %>
<% end %>