<h1>Current Application</h1>
<h3> <%= @application.name %> </h3>
<h3> <%= @application.street_address %> <%= @application.city %> <%= @application.state %> <%= @application.zip_code %></h3>
<h3> <%= @application.status %></h3>
<h3> <%= @application.statement %></h3>

<h3>Pets on Application: </h3>
