<h3><%=@application.name%></h3>
<%= "Address: " + @application.address %><br>
<%= "City: " + @application.city%><br>
<%= "State: " + @application.state%><br>
<%= "Zip Code: " + @application.zipcode.to_s%><br>
<%= "Description: " + @application.description%><br>
<%= "Status: " + @application.status%><br>
<%@application.pets.each do |pet|%>
<%= link_to pet.name, "/pets/#{pet.id}" %>
<% end %>

<h2> Add a Pet to this Application</h2>

<%= form_with(url: "/applications/#{@application.id}", method: "GET") do |form| %>
<%= form.label :pet_name %>
<%= form.text_field :pet_name%>
<%= form.submit "Submit" %>
<% end %>
<% if !@pet.nil? %>
<%= link_to @pet.name, "/pets/#{@pet.id}" %>
<% end %>
