<h2>Application</h2>
<br>
<h3>Name: <%= @application.name %> </h3>
<h3>Address: <%= @application.address %> </h3>
<h3>City: <%= @application.city %> </h3>
<h3>State: <%= @application.state %> </h3>
<h3>Zip code: <%= @application.zipcode %> </h3>
<h4> <%= @application.description %> </h4>

<h3>Pets Added to Application: <%@pets.each do |pet| %>
    <%= link_to(pet.name, "pets/#{pet.id}") %> <br>
<% end %> </h3>

<h3>Status: <%=@application.status %> </h3>
<%if @application.status == "In Progress"%>
    <%=render partial: "add_pet_to_app"%>
<%end%>

<% @pet.each do |pet| %>
  <h3>Name: <%= pet.name %></h3>
  <h4>Breed: <%= pet.breed %></h4>
  <h4>Age: <%= pet.age %></h4>
  <h4>Adoptable: <%= pet.adoptable %></h4>
  <%= button_to("Adopt this pet", "/pet_applications?application_id=#{@application.id}&pet_id=#{pet.id}", method: :post)%><br>
<% end %>