<section id="pet_search">
<h1>Add a Pet to this Application</h1>

  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

<% if params[:search].present?%>
  <% @pets.each do |pet| %>
  <%= button_to 'Adopt this Pet', "/applications/#{@application.id}", method: :get, params: { adopt: pet.id } %>
  <%= pet.name %>
  <% end %>
  <% end %>
</section>

<section id="application-<%= @application.id %>">
  <h1>Name: <%= @application.name %></h1>
  <h3>Full Address: <%= @application.full_address %></h3>
  <h3>Why would you be a good pet owner? <%= @application.description %></h3>
  <h3>Application Status: <%= @application.status %></h3>
  <h2>Pets on this Application:</h2>
  <% @application.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %></p>
  <% end %>
</section>

