<h3><%= @application.name %></h3>
<h3><%= @application.street_address %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip %></h3>
<h3><%= @application.description %></h3>
<h3><%= @application.status %></h3>
<%= @application.pets.each do |pet| %>
  <%= pet.name %>
<% end %>

<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description, disabled: @application.pets.empty? %>
  <%= f.submit "Submit Application", disabled: @application.pets.empty? %>
<% end %>

<h2> Add a Pet to this Application: </h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search_pets %>
  <%= f.text_field :search_pets %>
  <%= f.submit "Submit" %>
<% end %>

<% @pets.each do |pet| %>
  <p><%= pet.name %></p>
  <p><%= pet.id %></p>
  <%= link_to "Adopt #{pet.name}", "/applications/#{@application.id}?adopt=#{pet.id}", method: :get , local: true %>
<% end %>
