<h1><%= @application.applicant_name %>'s Application</h1>

<h2>Applicant Information</h2>
<p>Applicant Name: <%= @application.applicant_name %><br>
   Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %><br>
   Expression of interest: <%= @application.why %><br>
   Application Status: <%= @application.application_status%><br>
</p>

<h3>Pets on Application</h3>
<% @application.get_pets(@application.id).each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %><br>
<% end %>