
  <h3><%= @application.name %></h3>
  <p>Address: <%= @application.address %>
    <%= @application.street %>
    <%=  @application.city %>
    <%= @application.state %>
    <%= @application.zip_code %> </p>
  <p>Description of good home potential: <%= @application.description %></p>
  <p>Status of application: <%= @application.status %></p>
