<h1> Application Number <%= @application.id %> </h1>

<h3> Name: <%= @application.name %> </h3>
<h3> Street Address: <%= @application.street_address %> </h3>
<h3> City: <%= @application.city %> </h3>
<h3> State: <%= @application.state %> </h3>
<h3> Zip Code: <%= @application.zip_code %> </h3>
<h3> Description: <%= @application.description %> </h3>
<h3> Status: <%= @application.status %> </h3>
</br>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search, "Pet Finder" %>
  <p> <%= form.text_field :search %> </p>

  <%= form.submit "Find that Pet!" %>
<% end %>
</br>

<% @pets.each do |pet| %>
<section id= "searched-pets-<%= pet.id %>"> 
<h3> Pets Searched for: </h3>
<p> Name of the pet: <%= pet.name %> </p>
<p> Pet breed: <%= pet.breed %> </p>
<p> Age of the pet: <%= pet.age %> </p>
<p> <%= button_to "Adopt #{pet.name}❤️", "/applications/#{@application.id}/pets?pet_id=#{pet.id}", method: :post %> </p>
</section>
<% end %>

</br>

<h1> Pets Applicant has Applied for </h1>
<% @applicant_pets.each do |pet| %>
<section id= "associated-pets-<%= pet.id %>"> 
  <h3> Name of the pet: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h3>
</section>
<% end %>
