
<section id="application- <%  %> "

<h1><%= @application.name %></h1>
<h3><%= @application.address %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip %></h3>
<h3><%= @application.description %></h3>
<h3><%= @application.status %></h3>


<p> Pets on this application </p> <% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>

<% end %>


<% if @application.status == "In Progress" %>
  <%=  "Add a Pet to this Application" %>
  <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |form| %>
    <%= form.label :pet_name %>
    <%= form.text_field :pet_name %>
    <%= form.submit 'Search pets by name' %>
  <% end %>


  <% if @pets.present? %>
    <% @pets.each do |pet| %>
      <%= pet.name %>
      <%= button_to "Adopt this pet", "/application_pets/new", method: :post, params: {:application_id => @application.id, :pet_id => pet.id} %>
    <% end %>
  <% end %>
<% end %>


<% if @application.has_pets? %>
  <h3>Submit my application</h3>
  <%= form_with url: "/applications", method: :patch, local: true do |form| %>
    <%= form.label :description %>
    <%= form.text_field :description %>
    <%= form.submit 'Submit this application' %>
  <% end %>
<% end %>
