<h3>Application Number: <%= @application.id %></h3>
<ul>
  <li>Applicant Name: <%= @application.applicant_name %></li>
  <li>Applicant Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></li>
  <li>Description: <%= @application.description %></li>
  <li>Pet Name(s):</li>
    <ol>
      <% @application.pets.each do |pet| %>
        <section id="adopt<%= pet.id %>">
          <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
        </section>
      <% end %>
    </ol>


  <% if @application.application_status != "Pending" %>
    <li>Add a Pet to this Application:</li>
    <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
      <%= f.label :pet_name, "Pet Name" %>
      <%= f.text_field :pet_name %>
      <%= f.submit "Search" %><br><br>
    <% end %>
  <% end %>

  <% if @pets.present? %>
    <% @pets.each do |pet| %>
    <section id="search<%= pet.id %>">
      <%= pet.name %>
      <%= button_to 'Adopt this Pet', "/pet_applications/new", method: :post, params: { application_id: @application.id, pet_id: pet.id} %><br><br>
    </section>
    <% end %>
  <% end %>
  <li>Application Status: <%= @application.application_status %> </li>
  <li>Applicant Description:
    <% if @application.description != nil %>
      <%= @application.description %>
    <% else %>
      Incomplete
    <% end %>
  </li>
</ul>

<% if @application.pets.count >= 1 && @application.application_status != 'Pending' %>
  <%= form_with url: '/applications/update', method: :patch, local: true do |f| %>
    <%= f.hidden_field :application_status, value: 'Pending' %>
    <%= f.hidden_field :id, value: "#{@application.id}" %>
    <%= f.label :description, "Please describe why you would be a good home for these pets." %><br>
    <%= f.text_area :description, rows: 10, required: true %><br>
    <%= f.submit 'Submit Application' %>
  <% end %>
<% end %>
