<h1><%= "#{@application.name}'s Application" %></h1>
<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>
<p>
  <strong>Street Address:</strong>
  <%= @application.street_address%>
</p>
<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @application.state %>
</p>
<p>
  <strong>Zip Code:</strong>
  <%= @application.zip_code %>
</p>
<p>
  <strong>Description: </strong>
  <%= @application.description %>
</p>

<% if @application.status == "In Progress" %>
  <h1> Search Adoptable Pets </h1>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% @pets.each do |pet| %>
      <p><%= pet.name %></p>
      <p><%= pet.age %> years old </p>
      <p><%= pet.breed %></p>
      <% @application.status ==  "In Progress" %>
        <%= form_with url: "/pet_applications", method: :post, local: true do |f| %>
        <%= f.hidden_field :application_id, :value => @application.id %>
        <%= f.hidden_field :pet_id, :value => pet.id %>
        <%= f.submit "Adopt this Pet" %>
        <% end %>
    <% end %>
<% end %>
