<h1><%= @application.name %></h1>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<p id="application-pets"><% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
<% end %></p>
<p>Status: <%= @application.status %></p>
<% if @application.status == "In Progress" then %>
  <section>
    <p>Add a Pet to this Application</p>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>
  </section>
  <% if @pets != nil %>
    <% @pets.each do |pet| %>
      <section id="pet-<%= pet.id %>">
        <%= pet.name %><%= button_to "Adopt this Pet", "/applications/#{@application.id}?pet=#{pet.id}", method: :patch %>
      </section>
    <% end %>
  <% end %>
<% end %>
