<h1>Application Details</h1>
<p><strong>Name:</strong> <%= @application.name %></p>
<p><strong>Address:</strong> <%= @application.street_address %>, <%= @application.city %> <%= @application.state %> <%= @application.zip_code %></p>
<p><strong>Why I would make a good home for this pet(s):</strong> <%= @application.description %></p>

<h2>Pets Applied For</h2>
<ul>
  <% @application.pets.each do |pet| %>
    <li><%= link_to pet.name, "/pets/#{pet.id}" %></li>
  <% end %>
</ul>

<p><strong>Status:</strong> <%= @application.status %></p>

<% if @application.eligible? %>
  <h2>Add a Pet to this Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :get do |form| %>
    <%= form.label :query, "Search for Pet by Name" %>
    <%= form.text_field :query, placeholder: "Enter pet name..." %>
    <%= form.submit "Search" %>
  <% end %>
<% end %>

<% if @search_results %>
  <% @search_results.each do |pet| %>
    <%= pet.name %><%= button_to "Adopt this Pet", "/application_pets/#{pet.id}/new?application_id=#{@application.id}" %>
  <% end %>
<% end %>