<h1>Applicants</h1>

<h2>Name: <%= @application.name %></h2>
<p>Address: <%= @application.street_address %></p>
<p> <%= @application.city %> </p>
<p> <%= @application.state %></p>
<p> <%= @application.zip_code  %> </p>
<p>Applicant description: <%= @application.description %></p>
<p>Status of application: <%= @application.status %></p>

<% @application.pets.each do |pet| %>
  <p>Pets applied for: <%= pet.name %> </p>
<% end %>

<h2>Add a pet to this application:</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pets %>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets", method: :post, params: {pet: pet.id, application: @application.id}%>
  <% end %>
<% end %>

<h2>"Why would you make a good owner for this pet?"</h2>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit "Submit Application" %>
<% end %>
