<h1>Applicant Name: <%= @application.name %></h1>
<h3>Application ID: <%= @application.id %></h3>
<h3>Street: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zip Code: <%= @application.zip_code %></h3>
<h3>Why would I make a good home?: <%= @application.description %></h3>
<h3>Application Status: <%= @application.app_status %></h3>

<h3>Pets being considered for:</h3>


<% @application.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
