<h1>Applications</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address %></p> 
<p><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p> 

<p>Pets I want to Adopt: 
<% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<%end%>
<p>
