<h1>Application</h1>
<h3>Application ID: <%= @application.id %></h3>

<p>Name: <%= @applicant.name %></p>
<p>Street: <%= @applicant.street_address %></p>
<p>City: <%= @applicant.city %></p>
<p>State: <%= @applicant.state %></p>
<p>Zipcode: <%= @applicant.zipcode %></p>
<p>Description: <%= @applicant.description %></p>


<p>Status: <%= @application.status %></p>
