<h1><%= @application.name %></h1>
<p><%= @application.street %></p>
<p><%= @application.city %></p>
<p><%= @application.state %></p>
<p><%= @application.zip %></p>
<p><%= @application.description %></p>
<p><%= @application.status %></p>
<p><%= @pets.name %> </p>
