<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Reason that this is a good home: <%= @application.description %></p>
<p>Pet Name(s): <%= @application.pet_names %></p>
<p>Application Status: <%= @application.status %></p>
