<h1>Application For:</h1>

<h3>Name : <%= @application.name %></h3>
<p>Street Address : <%= @application.street_address %></p>
<p>City : <%= @application.city %></p>
<p>State : <%= @application.state %></p>
<p>State : <%= @application.zip_code %></p>
<p>State : <%= @application.state %></p>
<p>Zip Code : <%= @application.zip_code %></p>
<p>Status : <%= @application.status %></p>
<p>Description: <%= @application.description %></p>
<% @application.pets.each do |pet| %>
<%= link_to pet.name, "/pets/#{pet.id}", method: :get %><br>
<% if @application.status == "In progress" %>
  <%= render 'applications/pet_search_bar' %>
  <% end %>
<% end %>
