<h3><%= @application.name %></h3>

<p><%= @application.address %>
<p><%= @application.city %>,</p>
<p><%= @application.state %></p>
<p><%= @application.zipcode %></p>
<p><%= @application.description %></p>
<% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end  %>
<p><%= @application.status %></p>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
<%= form.label :search, "Add a Pet to This Application" %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
  <%= pet.name %>
  <%= link_to "Adopt this Pet", "/applications/#{@application.id}?add_pet=#{pet.id}" %>
  <% end %>
<% end  %>
