<h1><%= @application.name %></h1>

<p>Address: <%= @application.street %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>

<p>Created at: <%= @application.created_at %></p>

<p>Updated at: <%= @application.updated_at %></p>

<p>Description: <%= @application.description %></p>

<p>Status: <%= @application.status %></p>
<br>

<p>Pets Applied For:</p>
<% @pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
<br>

<% unless @application.status == "Pending" %>
  <%= render 'search_pets' %>

  <% if @found_pets.nil? == false %>
    <%= render 'found_pets' %>
  <% end %>
<% end %>
