<section id="app-attributes">
  <%= render :partial => 'partials/app_attributes', locals: { applications: @applications } %>

  <% @application.pets.each do |pet| %>
  <p>Pet Name: <%= link_to pet.name, "/pets/#{pet.id}"%></p>
  <% end %>
</section>

<section id="adding-pets">
  <p>Add a Pet to this Application:</p>
  <%= form_tag("/applications/#{@application.id}", method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>
</section>

<div id="pet-results">
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet",
      "/applications/#{@application.id}",
      method: :post,
      params: {:pet_id => pet.id}
    %>
  <% end %>
</div>

<section id="application-submission">
<% if @application.pets.count > 0 && @application.status == "In Progress" %>
<h3>Submit Your Application</h3>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.submit "Submit Application" %>
  <% end %>
<% end %>
</section>
