<h1>Here there be Applicant's for pet ownership!</h1>
<h3>Applicant name: <%=@app.name%><h3>
  <a>Address: <%=@app.street %></a><br>
  <a>City   : <%=@app.city %></a><br>
  <a>State  : <%=@app.state %></a><br>
  <%#binding.pry %>
  <a>Zip    : <%=@app.zip %></a><br>
  <a>Status : <%=@app.status %></a><br>
  <p>description: <%=@app.description %></p>

<%if @app.status == "In progress" %>
  <%= "Add a pet to the application, search by name" %>
  <%= form_with url: "/applications/#{@app.id}?search=pet_name", method: :get, local: true do |form| %>
  <%=form.label :pet_name %>
  <%=form.text_field :pet_name%>
  <%=form.submit "Search"%>

  <%end%>
  <% if @pets.present? %>
    <%@pets.each do |pet|%>
      <%=pet.name%>
    <%end%>
  <%end%>
<%end%>
