<h1>Application</h1>

Name: <%= @application.name %>
<p>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Good Home Description: <%= @application.description %></p>
<p>Application Status: <%= @application.application_status %></p>
