<h1> <%= @applicant.name %> </h1>

<h3>Street Address: <%= @applicant.street_address %></h3>
<h3>City: <%= @applicant.city %></h3>
<h3>State: <%= @applicant.state %></h3>
<h3>Zip Code: <%= @applicant.zip_code %></h3>
<p>Applicant's reason for adoption: <br> <%= @applicant.reason_for_adoption %></p>
<h3>Pets they're interested in adopting: 

<% @pets.each do |pet| %>
<h3> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
<% end %>

<% if @pets.length > 0 && @applicant.status == "In Progress" %>
  <%= form_with url: "/applications/#{@applicant.id}", method: :patch, local: true do |form| %>
    <%= form.label :reason_for_adoption, "Why I would make a good owner for these pet(s):" %>
    <%= form.text_field :reason_for_adoption %>
  <%= form.submit "Submit Adoption Application" %>
  <% end %>
<% end %>


<% if @applicant.status == "In Progress" %>
  <h3> Add a Pet to this Application </h3>
  <%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search, value: params[:search] %>
    <%= f.submit "Search" %>
  <% end %>
  <% if params[:search] != nil %>
    <h2>Search Results</h2>
    <ul> 
      <% @results.each do |result| %>
        <li> <p> <%= result.name %> <%= button_to "Adopt this Pet", "/applications/#{@applicant.id}/application_pets", params:{application_id: @applicant.id, pet_id: result.id}%> </p></li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found</p>
  <% end %>
<% end %>

<h3>Current Application Status: <%= @applicant.status %></h3>