<h3><u> Applicant's name:</u></h3>
<p><%= @applicant.name %></p>
<h3><u> Applicant's address:</u></h3>
<p>
  <%= @applicant.street_address %>,
  <%= @applicant.city %>,
  <%= @applicant.state %>
  <%= @applicant.zip_code %>
</p>
<h3><u> Why you're good for these pet(s)?</u></h3>
<p><%= @applicant.description %></p>
<h3><u> Pets this application is for:</u></h3>
<% @applicants_pets.map do |pet| %>
  <%= pet.name %>
<% end %>
<h3><u> Application status:</u></h3>
<p><%= @applicant.status %></br>

<h3><u>Add a pet to this application by name:</u></h3>
<%= form_with url: "/applications/#{@applicant.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Submit" %>
<% end %>
<% if params[:search] %>
  <% @pets.map do |pet| %>
    <p id="singleline"><%= pet.name %>
    <%= button_to "Adopt this pet", "/applications/#{@applicant.id}", method: :post, params: { pet_id: pet.id } %></p>
  <% end %>
<% end %>
