<h1> <%= @application.name %></h1>
<p> Applicant address: <%= @application.address %></p>
<p>Applicant city: <%= @application.city %></p>
<p>Applicant state: <%= @application.state %></p>
<p>Applicant zipcode: <%= @application.zipcode %></p>
<p>Applicant description: <%= @application.description %></p>
<p>Application status: <%= @application.status %></p>
<p>Pets applied for: </p>
