<h2>Application</h2>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Application Status: <%= @application.application_status %></p>
<br>
<p><h2>Name of Pet Applying For:</h2></p>
<p><% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %></p>
<h2><p>Add a Pet to this Application</h2>  
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search_pet %>
  <%= form.text_field :search_pet %>
  <%= form.submit 'Search Pet' %>
<% end %><br>
  <% if !@searched_pets.nil? %>
    <% @searched_pets.each do |pet| %>
    <b><%= pet.name %></b>
    <%= button_to "Adopt This Pet", "/applications/#{@application.id}", method: :get %>
    <% end %>
<% end %></p>
