<h1>Applicant Information</h1>

<p>Add a Pet to this Application</p>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
<div>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}/edit"%>
    <%= pet.id %>
</div>
  <% end %>
<% end %>

<p> Applicant ID: <%= @application.id %> </p>
<p> Name: <%= @application.name %> </p>
<p> Address: <%= @application.street_address %>,
<%= @application.city %>,
<%= @application.state %>,
<%= @application.zip %> </p>
<p> Why I would make a good home for this pet: <%= @application.description %> </p>
<p> Application Status: <%= @application.status %> </p>

