<h1><%= @application.first_name%>'s Application</h1>
  <p>First Name: <%= @application.first_name %></p>
  <p>Last Name: <%= @application.last_name %></p>
  <p>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
  <br>

<p>Status: <%= @application.status %></p>

<%if @application.status != "Pending" %>
<div id= "searching_for_pets" >
 <h4><%= "Add a Pet to this Application" %> </h4>
 <%= form_with url:"/applications/#{@application.id}", method: :get, local: true do |form|  %>
  <p><%= form.label :desired_pet, "Search for pet by name:", require: :true %></p>
  <%= form.text_field :desired_pet %>
  <%= form.submit "Search for Pet" %> 
  <% end %>
  </div>
  <%end%>

  <% @pets.each do |pet| %>
  <div id= "pet_<%=pet.id%>">
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <p><%= button_to "Adopt this Pet", "/pet_applications/#{pet.id}/#{@application.id}", method: :post %></p>
  </div>
  <% end %>

 <p><% @application.pets.each do |app_pet| %></p>
 <div id= "pet_<%=app_pet.id%>">
  <p><%= app_pet.name %></p>
</div>
  <p><% end %></p>

<%if @application.pets.first != nil %>
<div id= "submission_section">
 <%= form_with url: "/applications/#{@application.id}", to: 'applications#update', method: :patch, local: true do |form|  %>
  <p><%= form.label :description, "Please describe why you would like to adopt these pets."%></p>
 <p> <%= form.text_field :description, size: 90 %></p>
 <p> <%= form.submit "Submit My Application" %> </p>
  <p><% end %></p>
 </div>
 <% end %>

