<h1>Name: <%=  @application.name %></h1>
<h3>Street Address: <%= @application.street_address  %></h3>
<h3>City: <%= @application.city  %></h3>
<h3>State: <%= @application.state  %></h3>
<h3>Zip Code: <%= @application.zip_code  %></h3>
<h3>Why they'd make a great home: <%= @application.description  %></h3>
<h3>Status: <%= @application.status  %></h3>
<% if @application.pets.count > 0 %>
   <h3>Interested in adopting:
   <% @application.pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
   <% end %></h3>
<% end %>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search, "Add a Pet to this Application" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>
<% if @application.pet_search(params[:search]).count >= 1 %>
   <% @application.pet_search(params[:search]).each do |pet| %>
    <p>  
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> 
      <%= button_to "Adopt this Pet", "/applications/applicationpets/create", method: :post, params: {pet_id: pet.id, application_id: @application.id}%>
   </p>
   <% end %>
<% end %>