<h1>Application : <%= @application.name %></h1>

<div id = "app_information">
  <p>Name: <%= @application.name %> </p>
  <p>Street Address: <%= @application.street_address %>, 
  <%= @application.city %>, 
  <%= @application.state %>, 
  <%= @application.zipcode %></p>
  <p>Description: <%= @application.description %></p>
  <p>Pets Wanted: <% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %>
  <% end %></p>
  <p>Status: <%= @application.status %></p>
</div>

<div id = "pet_search">
<h2>Add a Pet to this Application</h2>
<%= form_with url: "/applications/#{@application.id}?search=find_pet", method: :get, local: true do |f| %>
  <%= f.label :search_name %>
  <%= f.text_field :search_name %>
  <%= f.submit "Search" %>
<% end %>
</div>

<div id = "pet_found">
<% if @located_pets.present? %>
<% @located_pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %></p>
  <%= button_to "Add to Application", "/pet_applications/#{@application.id}", method: :post, params: {:pet_id=> pet.id, :application_id=>@application.id} %>
<% end %>
<% end %>
</div>