<h1>Application Show Page</h1>

Name: <%= @application.name %><br>
Address: <%= @application.address %><br>
Description: <%= @application.description %><br>
Pet Name(s): <%= @application.pet_names %><br>
Status: <%= @application.status %><br>
<h4>Add a Pet to this Application</h4>
<%= form_with url: "/applications/#{@application.id}?search=name", method: :get, local: true do %>
  <%= label_tag(:pet_names, "pet names") %>
  <%= text_field_tag(:pet_names) %>
  <%= submit_tag("Submit") %>
<% end %>
<% @pets.each do |pet| %>
<%= pet.name %><br>
<% end %>
