<h1><%= @application.human_name %>'s Application Details</h1>

<h3>Address Details</h3>
<p><b>Street Address:</b> <%= @application.street_address %></p>
<p><b>City:</b> <%= @application.city %></p>
<p><b>State:</b> <%= @application.state %></p>
<p><b>Zip:</b> <%= @application.zip %></p>
<p><b>Status:</b> <%= @application.status %></p>

<h3>General Details</h3>
<p><b>Description:</b> <%= @application.description %></p>
<p><b>Created At:</b> <%= @application.created_at %></p>
<p><b>Updated At:</b> <%= @application.updated_at %></p>


