<h1><%= "Name: #{@application.name}" %></h1>
<%= "Address: #{@application.address}" %>
<%= "City: #{@application.city}" %>
<%= "State: #{@application.state}" %>
<%= "Zipcode: #{@application.zip_code}" %>
<%= "Description: #{@application.description}" %>
<%= "Application Status: #{@application.status}" %>

<h4><%= "Add a pet to this Application" %></h4>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Submit" %>
<% end %>

<% @pets.each do |pet| %>
  <%= link_to "Pet Name: #{pet.name}", "/pets/#{pet.id}" %>
<% end %>
