<h1>Application for Adoption</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zipcode: <%= @application.zipcode %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<div class="requested_pets">
<h3>Requested Pets</h3>
<% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %><br>
<% end %>
</div>

<% if @application.status == "In Progress" %>
  <h1>Add a Pet to your Application</h1>
  <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
    <%= f.label :pet_name %>
    <%= f.text_field :pet_name %><br>
    <%= f.submit "Search" %>
  <% end %>

  <% if @search_pets != nil %>
    <% @search_pets.each do |pet| %>
      <div class="pet-<%= pet.id %>">
        <%= pet.name %>
        <%= button_to "Adopt", "/pet_applications/new", method: :post, params: {:application_id => @application.id, :pet_id => pet.id} %>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if @pets.count > 0 && @application.description == " " %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <p>Describe why you make a good owner for these pets:<p>
  <%= f.label :description %><br>
  <%= f.text_field :description %><br>
  <%= f.submit 'Submit Application' %>
  <% end %>
<% end %>