<section id="application-<%= @application.id %>">
  <h1>Application ID: <%= @application.id %> <%= @application.applicant_name %></h1>
  <p>Address: <%= @application.street %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
  <p>Statement: <%= @application.statement %></p>
  <h5>Application Status: <%= @application.status %></h5>
</section>

<section id="add_pet-<%= @application.id %>">
  <h4> Add a Pet to this Application </h4>
  <%= form_with url: "/pets", method: :get, local: true do |f| %>
    <%= f.label :search, "Search by Pet name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% @pets.each do |pet| %>
    <h4><%= pet.name %></h4>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: <%= pet.adoptable %></p>
    <p>You can find <%= pet.name %> at <%= pet.shelter_name %></p>
    <%= button "Adopt this Pet", "/applications/#{@application.id}" %>
  <% end %>
</section>

<%# <section id="submit-<%= @application.id %>
