<h1><%= "Application ##{@app.id}" %></h1>

<div class='container'>
  <p><%= "Name: #{@app.name}" %></p>
  <p><%= "Address: #{@app.street_address}" %></p>
  <p><%= "City: #{@app.city}" %></p>
  <p><%= "State: #{@app.state}" %></p>
  <p><%= "Zip Code: #{@app.zip_code}" %></p>
  <p><%= "Description: #{@app.description}" %></p>
  <p><%= "Status: #{@app.status}" %></p>

<p>Pets: <% @app.pets.each do |pet| %>
  <div class="container" id= <%= pet.name %>>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </div>
<% end %></p>

  <% if params[:status] != "Submitted" %>
    <%= form_with url: "/applications/#{@app.id}", method: :get, local: true do |f| %>
      <%= f.label :search, "Add a Pet to this Application" %><br/>
      <%= f.text_field :search %>
      <%= f.submit "Search" %>
    <% end %>
  <% else %>
  <% end %>


  <% @pets.each do |pet| %>
    <div class="container" id=<%= pet.name %>>

        <h3><%= pet.name %></h3>
        <%= button_to "Adopt this Pet", "/application_pets/create", method: :post, params: { :application_id => @app.id, :pet_id => pet.id } %>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p>Adoptable: </p>
        <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
    </div>
  <% end %>
