<h1> <%= @application.name %>'s Application</h1>
<p>Applicant Address: <%= @application.street_address %> 
<%= @application.city %> <%= @application.state %> <%= @application.zipcode %></p>
<p>Adoption Reason: <%= @application.description %></p>

<p>Pet(s) to be Adopted: <% @pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>

<p>Application Status: <%= @application.status %></p>

<% if @application.status == 'In Progress'%>
<section id="Search_Pets">
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% if !@search_pets.nil? %>
    <% @search_pets.each do |pet| %>
      <p> <%= pet.name %> 
      <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %></p>
        <%= form.hidden_field :pet, value: pet.id %>
        <%= form.submit "Adopt this Pet" %>  
      <% end %>
    <% end %>
  <% end %>
<% end %>
</section>
<% if @application.any_pets? %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.hidden_field :status, value: @application.change_status %>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>



