<h1>Here there be Applicant's for pet ownership!</h1>
<h3>Applicant name: <%=@app.name%>
  <a>Address: <%=@app.street %></a><br>
  <a>City   : <%=@app.city %></a><br>
  <a>State  : <%=@app.state %></a><br>
  <a>Zip    : <%=@app.zip %></a><br>
  <a>Status : <%=@app.status %></a><br>
  <p>description: <%=@app.description %></p>
