<div class="application">
  <h1>Application</h1>
  <p>Name:
    <%= @app.name %></p>
  <p>Address:
    <%= @app.address %>
    <%= @app.city %>
    <%= @app.state %>
    <%= @app.zipcode %></p>
  <p>Why I am a good fit:
    <%= @app.description %></p>
  <p>Status:
    <%= @app.app_status %></p>
  <p>Pets applied for:</p>
</div>

<div class="pet_search">
  <h3>Add a pet to this application</h3>
  <%= form_with url: '/applications', method: :get, local: true do |f| %>
  <%= f.label :search_for_pet_by_name %>
  <br>
  <%= f.text_field :search_for_pet_by_name %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
</div>

<div class="pet_results">
<ul>
  <% @pet_search.each do |pet| %>
    <li><%= pet.name %></li>
  <% end %>
</ul>
</div>