<h1><%= @app.name %></h1>
<h2>Info</h2>
<h3><%= @app.address %></h3>
<h3><%= @app.city %></h3>
<h3><%= @app.state %></h3>
<h3><%= @app.zipcode %></h3>
<br>
<h4>About:</h4>
<p><%= @app.about %></p>
<table>
  <tr>
    <th><h4>Pets Applied for:</h4></th>
  </tr>
<%@pets.each do |pet|%>
  <tr><td><%= link_to pet.name, "/pets/#{pet.id}"%></td></tr>
<%end%>
</table>
<h3><%= @app.status %></h3>

<%if @app.status == 'In Progress'%>
  <section id='in_prog_stuff'>
    <%if @pets.count.positive? %>
      <section id='submit_app'>
        <%= form_with url: "/applications/#{@app.id}", method: :patch, local: true, authenticity_token: form_authenticity_token do |form| %>
        <%= form.hidden_field :status, value: "Pending" %>
        <%= form.label :about, 'Why would you be a good fit?'%> <br>
        <%= form.text_area :about, placeholder: 'Tell us about yourself and your home..', required: true, class: 'form-control'%> <br>
        <%= form.submit "Submit Application" %>
        <% end %>
      </section>
    <%end%> 
    <br>
    <br>

    <section id='add_pet'>
      <h2>Add a Pet to this Application</h2>
      <%= form_with url: "/applications/#{@app.id}/?sort=name_search", method: :get, local: true, authenticity_token: form_authenticity_token do |form| %>
        <%= form.label :search_name, "Search by Name:" %>
        <%= form.text_field :search_name, placeholder: "Enter name to search.." %>
      <%= form.submit "Search", required: true %>
      <% end %>

      <%if @search.positive? %>
      <table>
      <tr>
        <th>Name</th>
        <th>Adopt</th>
      </tr>
      <%@pet_search.each do |pet|%>
        <tr>
          <td><%= pet.name %></td>
          <td id='adopt'>
            <%= form_with url: "/applications/#{@app.id}", method: :patch, local: true, authenticity_token: form_authenticity_token do |form| %>
            <%= form.hidden_field :pet_adopt_id, value: pet.id %>
            <%= form.submit "Adopt this pet" %>
          <% end %>
          </td>
        </tr>
      <%end%>
      </table>
      <%end%>
    </section>
  </section>
<%end%>
