<h1>All Applications</h1>
<% @applications.each do |application| %>
    <h3>Applicants Name: <%= application.applicant_name %></h3>
    <p>Status: <%= application.status %></p>
    <p>Address: <%= application.address %></p>
    <p>Description: <%= application.description %></p>
    <p>Pets: <%= application.pet_id %></p>
<% end %>
