

<section>
  <header>
    <h2>Applicant Information</h2>
  </header>

  <p>Name: <%= @applicant.name %></p>
  <p>Address: <%= @applicant.address%> <%=@applicant.city%> <%=@applicant.state%> <%=@applicant.zip_code%></p>
  <p>Status: <%= @applicant.status %></p>
  <p>Description: <%= @applicant.description %></p>

  <p>Status of Application: <%= @applicant.status.gsub("_", " ")%>

  <h3>Add a Pet to this Application</h3>

  <%= form_with url: "/pets", method: :get do |form| %>
  <%= form.text_field :search %> 
  <%= form.hidden_field :applicant_id, value: @applicant.id%>
  <%= form.submit "Search" %>
<%end%>

<% if @pets != nil%>
<h5> Pets Returned by Search </h5>
<%@pets.each do |pet|  %>
<%=pet["name"]%>
<%end%>
<%end%>

</section>