<h1>Pet Application</h1>

<%= "Applicant Name: #{@application.name}"%><br>
<%= "Street Address: #{@application.street_address}"%><br>
<%= "City, State Zip: #{@application.city}, #{@application.state}  #{@application.zipcode}"%><br>
<%= "Description of Worthiness: #{@application.description}"%><br>

Current pets

<section id = "current_pets">
<p><% @application.pet.each do |pet| %>
  <%= link_to "#{pet.name}", "/pet/#{pet.id}" %><br>
  <% end %></p></section>

Add a Pet to this Application

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pets != nil %>
  <p><% @pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pet/#{pet.id}" %><br>
  <%= button_to "Adopt this Pet", "/pet_applications", params: {pet_id: pet.id, application_id: @application.id}, method: :post%>
  <% end %></p></section>
<% end %>
<%= "#{@application.status}" %>
