<h1><%= "#{@application.name}" %> Application Details</h1>
<p><%= "Name: #{@application.name}" %></p>
<p><%= "Full address: #{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p><%= "Applicant statement: #{@application.description}" %></p>
<p> Pet(s) applied for:  </p>
<% @application.pets.each do |pet_applied| %>
  <%= link_to "#{pet_applied.name}", "/pets/#{pet_applied.id}" %>
<% end %>
<p> Application Status: <%= @application.status %></p>
<%= render partial: 'add_pet', locals: { path: "/applications/:id", method: :get, button_text: "Submit" } %>
