<h1><%= @application.name%></h1><br>


<ul>
  <li><%= "Status: #{@application.status}" %></li>
  <li><%= "Street: #{@application.street}" %></li>
  <li><%= "City: #{@application.city}"%></li>
  <li><%= "State: #{@application.state}"%></li>
  <li><%= "Zip: #{@application.zip}"%></li>
  <li><%= "Description: #{@application.description}"%></li>
</ul>

<ul>
<% @application.pets.each do |pet| %>
  <div >
    <li><h4><%= link_to "#{pet.name}", "/applications/#{@application.id}" %></h4>
  </div>
<% end %>
</ul>

<h6><%= "Add a Pet to this Application" %></h6>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label 'Search for pets by name' %>
  <%= f.text_field :search  %>
  <%= f.submit "Submit" %>
<% end %>


<% if @pets%>
  <% @pets.each do |pet| %>
    <div>
      <%= "#{pet.name}" %>
    </div>
  <% end %>
<% end %>
