<h3><%= @application.name %></h3>

<p>Address: <%= @application.full_address %></p>

<p>
  Description: <%= @application.description %>
  <% if @application.description == nil && @application.has_pets? %>
    <%= render partial: 'form', locals: {
      path: "/applications/#{@application.id}",
      method: :patch,
      button_text: "Submit Application",
      fields: [:description],
      labels: ["Why would you make a good pet owner?"]
    } %>
  <% end %>
</p>

<section id='application_pets'>
  <p>Pets applying for: </p>
  <% @application_pets.each do |pet| %>
    <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
</section>

<p>Status: <%= @application.status %></p>
<% if @application.status == "In Progress" %>
  <%= render partial: 'form', locals: {
      path: "/applications/#{@application.id}?search=#{@search}",
      method: :get,
      button_text: "Search For Pet!",
      fields: [:search],
      labels: ["Add a Pet to this Application"]
  } %>
<% end %>

<% if @pet_searches.present? %>
  <p><% @pet_searches.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %> 
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
      <%= form.hidden_field :pet, value: pet.id %>
      <%= form.submit "Adopt #{pet.name}!" %>
    <% end %>
  <% end %>
<% end %></p>