<div class="d-flex align-items-center justify-content-center">
  <h1>Applicant Information</h1>
</div>

<h3>Add a Pet to this Application</h3>
<br>
<%= form_with url: "/application/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search, "Enter Pet Name:"%>
  <%= f.search_field :search %>
  <%= f.submit "Search" %>
<% end %>
<br>

<% if @search == true %>
  <% @pets.each do |pet| %>
    <h3><%= pet.name %></h3>
    <h2>Age: <%= pet.age %></h2>
    <h2>Breed: <%= pet.breed %></h2>
    <h2>Adoptable: <%= pet.adoptable %></h2>
    <h2>You can find <%= pet.name %> at <%= pet.shelter_name %>!</h2>
    <%= link_to "Adopt this Pet", "/application/#{@application.id}/?petid=#{pet.id}" %>
  <% end  %>
<% end %>

<br>
<h3>Name: <%= @application.name %></h3>
<h3>Street Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zipcode: <%= @application.zipcode %></h3>
<h3>Why owner woud be a good home: <br><br> -<%= @application.description %></h3>
<h3>Pets Wanted: </h3>
<% if @application.status != "In Progress" %>
  <% @pets.each do |pet| %>
    <%= link_to "#{pet.name}", "pets/#{pet.id}" %>
  <% end %>
<% end %>

<h3>Application Status: <%= @application.status %></h3>
