<h1>Applicant Name: <%= @application.name %></h1>
<h3>Application ID: <%= @application.id %></h3>
<h3>Applicant Address: <%= @application.full_address %></h3>
<h3>Why would I make a good home?: <%= @application.description %></h3>
<h3>Application Status: <%= @application.app_status %></h3>

<h3>Pets being considered for:</h3>


<% @application.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
