<h3><%= @application.name %></h3>
<p><%= @application.street_address %>
<%= @application.city %>,
<%= @application.state %>
<%= @application.zip_code %></p>
<p><%= @application.description %></p>
<% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end  %>
<p><%= @application.status %></p>
