<h1>First name: <%= @application.first_name %></h1>
<h2>Last name: <%= @application.first_name %></h2>
<h3>Street address: <%= @application.street_address %> </h3>
<h3>City: <%= @application.city %> </h3>
<h3>Post code <%= @application.post_code %> </h3>
<h3>Why I would make an excellent pet owner: <%= @application.good_owner %> </h3>
<h3>My pet matches: <%= @application.pet_matches %> </h3>
<h3>Application Status: <%= @application.application_status %> </h3>
