<h2>Application Information</h2>
<div class="flash_messages">
  <%= flash[:notice] %>
</div>
<p> Name: <%= @application.name %></p>
<p> Address: <%= @application.street_address %>, <%= @application.city %> <%= @application.state %>, <%= @application.zip_code %></p>
<p> Description: <%= @application.description %></p>
<p> Pets on this application: </p>
<ul>
  <% @application.pets.each do |pet| %>
  <li><a href="/pets/<%= pet.id %>/"> <%= pet.name %> </a></li>
  <% end %>
</ul>

<<<<<<< HEAD
<%= form_with method: :get do |f|%>
  <%= f.label :find_pet, "Search Pets By Name: " %>
  <%= f.text_field :find_pet %>
  <%= f.submit "Search" %>
<% end %>
<% if params[:find_pet] != nil %>
  <% Pet.search_by_name(params[:find_pet]).each do |pet| %>
  <li><%= pet.name %></li> <%= button_to "Adopt This Pet", "/applications/#{@application.id}", method: "post", params: { pet_id: pet.id, application_id: @application.id } %>
  <% end %>
<% end %>
=======
<p> Application Status: <%= @application.status %></p>

<% if @application.status == "In Progress" %>
  <%= form_with method: :get do |f|%>
    <%= f.label :find_pet, "Search Pets By Name: " %>
    <%= f.text_field :find_pet %>
    <%= f.submit "Search" %>
  <% end %>
  <% @pet_search.each do |pet| %>
    <div id="pet_search_result_<%= pet.id %>"><li><%= pet.name %></li> <%= button_to "Adopt This Pet", "/applications/#{@application.id}", method: "post", params: { pet_id: pet.id, application_id: @application.id } %></div>
  <% end %>
<% end %>

  <% if @pets.length > 0 %>
  <section name="application_submission_form">
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |t| %>
      <%= t.label "Why I would make a good owner:" %>
      <%= t.text_area :description, value: params[:description] %>
      <%= t.submit :submit_this_application %>
    <% end %>
    </section>
  <% end %>
>>>>>>> 87abc77d113128637440ddd57512b10b61f0af5f
