<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></p>
<p>Why would you make a good pet parent?: <%= @application.description %></p>
<p>Pets for this application: </p>
<p>Status: <%= @application.status %></p>