<section id="application-<%= @application.id %>">
  <h1>Name: <%= @application.name %></h1>
  <h3>Street Address: <%= @application.street_address %></h3>
  <h3>City: <%= @application.city %></h3>
  <h3>State: <%= @application.state %></h3>
  <h3>Zip Code: <%= @application.zip_code %></h3>
  <h3>Why would you be a good pet owner? <%= @application.description %></h3>
  <h3>Application Status: <%= @application.status %></h3>
  <h2>Pets on this Application:</h2>
  <% @application.pets.each do |pet| %>
    <p><%= pet.name %></p>
  <% end %>
</section>