<h1><%= @application.name %></h1>
<p>Address: <%= "#{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<h4>Applying to Adopt:</h4>
<div id="pets">
<ul>
  <% @application.pets.each_with_index do |pet| %>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  <% end %>
</ul>
</div>

<% if @application.pets != [] && @application.status == 'In Progress' %>
  <h4>Finalize and Submit Your Application</h4>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: :true do |form| %>
    <%= form.label :description, 'Please tell us why you would make a good owner for the pets.' %><br>
    <%= form.text_area(:description, size: '50x5') %><br>

    <%= form.submit 'Submit Application'%>
  <% end %>
<% end %>

<% if @application.status == 'In Progress' %>
  <h4>Add a Pet to this Application</h4>

  <%= form_tag "/applications/#{@application.id}", method: :get do %>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag 'Submit', name: nil %>
    <%= hidden_field_tag 'application_id', "#{@application.id}" %>
  <% end %>
  <br>
<% end %>

<% if @pets != nil %>
  <% @pets.each do |pet|%>
    <%= pet.name %>
    <%= button_to 'Adopt this Pet', "/applications/#{@application.id}", params: {new_pet: pet}, method: :get %>
  <% end %>
<% end %>
