<h1><%= @application.name%></h1><br>


<ul>
  <li><%= "Status: #{@application.status}" %></li>
  <li><%= "Street: #{@application.street}" %></li>
  <li><%= "City: #{@application.city}"%></li>
  <li><%= "State: #{@application.state}"%></li>
  <li><%= "Zip: #{@application.zip}"%></li>
  <li><%= "Description: #{@application.description}"%></li>
</ul>
