<h1><%= @application[:app][:applicant_name] %>'s Application</h1>

<h2>Applicant Information</h2>
<p>Applicant Name: <%= @application[:app][:applicant_name] %><br>
   Address: <%= @application[:app][:street_address] %>, <%= @application[:app][:city] %>, <%= @application[:app][:state] %> <%= @application[:app][:zipcode] %><br>
   Expression of interest: <%= @application[:app][:why] %><br>
   Application Status: <%= @application[:app][:application_status] %><br>
</p>

<h3>Pets on Application</h3>
<% @application[:app].get_pets(@application[:app][:id]).each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %><br>
<% end %>

<p>
<% if @application[:app][:application_status] != "Pending" && @application[:app][:application_status] != "Accepted" %>
    <%= form_with url: "/applications/#{@application[:app][:id]}", method: :patch, local: true do |f| %>
    <%= f.label :why, "Expression of Interest" %>
    <%= f.text_area :why, value: @application[:app][:why], required: true %><br>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>
</p>

<p>
<% if @application[:app][:application_status] != "Pending" && @application[:app][:application_status] != "Accepted"  %>
  <%= form_with url: "/applications/#{@application[:app][:id]}", method: :get, local: true do |f| %>
    <%= f.label :search, "Search for Pet by Name" %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
<% end %>
</p>

<% if @application[:pets].present? %>
  <% @application[:pets].each do |pet| %>
    <p>
    <%= pet.name %><br>
    Age: <%= pet.age %><br>
    Breed: <%= pet.breed %><br>
    Adobtable? <%= pet.adoptable %><br>
    <%= button_to 'Adopt this Pet', {:controller => "application_pets", :action => "create", :pet_id => pet.id, :app_id=> @application[:app][:id]} , :method=>:post  %>
    <br>
    </p>
  <% end %>
<% end %>