<%= render "details" %>

<h3>Pets Applied for:</h3>
<div id="added_pets">
<% @application.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
</div>
<br>
<% if @application.status == "In Progress" %>

  <h2>Add a Pet to this Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.label :name, "Lookup by Name: " %>
    <%= form.text_field :name %>
    <br>
    <%= form.submit "Submit" %>
  <% end %>

  <% if @results != nil %>
    <% @results.each do |result| %>
      <h3><%= result.name %></h3>
      <%= button_to "Adopt Me", "/pet_applications/#{@application.id}/#{result.id}", method: :post %>
    <% end %>
  <% end %>

<% end %>

<% if !@application.pets.empty? && @application.status == "In Progress"%>
  <h2>Complete your Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
    <%= form.label :description, "Tell us why you would be a good owner for this/these pet(s): " %>
    <%= form.text_field :description %>
    <br>
    <%= form.submit "Submit Application" %>
  <% end %>
<% end %>
