<h1>Name: <%=  @application.name %></h1>
<h3>Street Address: <%= @application.street_address  %></h3>
<h3>City: <%= @application.city  %></h3>
<h3>State: <%= @application.state  %></h3>
<h3>Zip Code: <%= @application.zip_code  %></h3>
<h3>Why they'd make a great home: <%= @application.description  %></h3>
<h3>Status: <%= @application.status  %></h3>
<% if @application.pets.count > 0 %>
   <h3>Interested in adopting:
   <% @application.pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
   <% end %></h3>
<% end %>