<h4>search by Pets:</h4>

    

    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
     <%= text_field_tag(:search, params[:search]) %>
     <%= submit_tag ("Add a Pet to this Application") %>
    <% end %>

    <% if !@pets.nil? %>
      <% @pets.each do |pet| %>
        <%= pet.name %> <%=button_to "Adopt this Pet", "/application_pets?application_id=#{@application.id}&pet_id=#{pet.id}", method: :post %>
      <% end %>
    <% else %>
    <% end %>
        
<h1><%= @application.name %></h1>
<h3><%= @application.address %></h3>
<h3><%= @application.pet_names %></h3>
<h3>Status: <%= @application.status %></h3>
<h3>Description: <%= @application.description %></h3>