<h3> Application Info </h3>

<ul>
  <li><%= "Applicant Name: #{@application.name}" %></li>
  <li><%= "Applicant Address: #{@application.street}" %></li>
  <li><%= "Applicant City: #{@application.city}, #{@application.state}" %></li>
  <li><%= "Applicant Zip Code: #{@application.zip}" %></li>
  <li><%= "Applicant Message: #{@application.message}" %></li>
  <li><%= "Pets Included:" %></li>
    <ul>
      <% @application.pets.each do |pet|%>
        <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
      <%end%>
    </ul>
  <li><%= "Application Status: #{@application.status}" %>
</ul>

<% if @application.status == 'In Progress' %>
  <h3>Add a Pet to this Application</h3><br>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, 'Search for Pet by Name' %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %><br><br>
  <% end %>

  <% @pets&.each do |pet| %>
      <h4><%= pet.name %></h4>
      <%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :post, params: {pet_id: pet.id, application_id: @application.id}%><br><br>
  <% end %>
<% end %>

<% if @application.status == 'In Progress' && @application.pets.length >= 1 %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
    <%= f.label :message, 'Why I would make a good owner for these pet(s)'%><br>
    <%= f.text_field :message %><br>
    <%= f.hidden_field :status, value: "Pending" %>
    <%= f.submit "Submit this Application" %>
  <%end%>
<%end%>
