<h3><%= @application.name %></h3>
<p><%= @application.street_address %><br>
<%= @application.city %>, <%= @application.state%> <%= @application.zip_code%><br>
Description: <%= @application.description%><br>
Pet Names: <%= @application.pet_names %><br>
Application Status: <%= @application.application_status%></p>
