<h3><%=@application.name%></h3>
<%= "Address: " + @application.address %><br>
<%= "City: " + @application.city%><br>
<%= "State: " + @application.state%><br>
<%= "Zip Code: " + @application.zipcode.to_s%><br>
<%= "Description: " + @application.description%><br>
<%= "Status: " + @application.status%><br>
<%= "Pets Applying for:" %>
<% @application.pets.each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %>
<% end %>


<h2> Add a Pet to this Application</h2>

<%= form_with(url: "/applications/#{@application.id}", method: "GET") do |form| %>
  <%= form.label :pet_name %>
  <%= form.text_field :pet_name%>
  <%= form.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
    <%=form_with(url: "/applications/#{@application.id}", method: "PATCH") do |form| %>
      <%= form.hidden_field :pet_adopt, value:"#{pet.id}"%>
      <%= form.hidden_field :pet_name, value:""%>
     <%= form.submit "Adopt this Pet" %>
    <% end %>
  <% end %>

  <%=form_with(url: "/applications/#{@application.id}", method: "PATCH") do |form| %>
      <%= form.label :description, "Why would you make a good owner? " %>
      <%= form.text_field :description%>
     <%= form.submit "Submit Application" %>
    <% end %>
<% end %>

