<h1><%= @application.name %></h1>
<p>Address: <%= "#{@application.street_address}, #{@application.city}, #{@application.state} #{@application.zip_code}" %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<h2>Applying to Adopt:</h2>
<div id="pets">
<ul>
  <% @application.pets.each_with_index do |pet| %>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  <% end %>
</ul>
</div>

<h2>Add a Pet to this Application</h2>

<%= form_tag "/applications/#{@application.id}", method: :get do %>
  <%= label_tag :search %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Submit', name: nil %>
  <%= hidden_field_tag 'application_id', "#{@application.id}" %>
<% end %>
<br>

<% if @pets != nil %>
  <% @pets.each do |pet|%>
    <%= pet.name %>
    <%= button_to 'Adopt this Pet', "/applications/#{@application.id}", params: {new_pet: pet}, method: :get %>
  <% end %>
<% end %>
