<h1><%= @applications.name %></h1>
<h3><%= @applications.street %></h3>
<h3><%= @applications.city %></h3>
<h3><%= @applications.state %></h3>
<h3><%= @applications.zip %></h3>
<h3><%= @applications.description %></h3>
<h3><%= @applications.status %></h3>
