<h1><%= @application.name %>'s Application</h1>

<ul>
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.street_address%>, <%= @application.city%> 
  <%=@application.state%> <%=@application.zip%></li>
  <li><%=@application.description%></li>
  <li>Pets: <% @application.pets.each do |pet|%>
  <%=link_to "#{pet.name}", "/pets/#{pet.id}"%> 
  <% end %>
  </li>
  <li>App Status: <%= @application.status %>

<% if @application.pets.empty? != true %>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
<% form.label :description%>
Why would you make a good owner for these pet(s)
<%=form.text_field :description %><br>
<%=form.submit "Submit Application"%>
<% end %>
<% end %>

</ul>

<% if @application.status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}/?name=", method: :get, local: true do |form| %>   
  <h2>Add a Pet to this Application </h2>
  <ul>
   <span> <%= form.label :Name %> </span>
   <span> <%= form.text_field :Name %> </span>
   <span> <%= form.submit 'Search' %> </span>
  
  <% end %>

  <% if @pets.empty? != true %>
  <% @pets.each do |pet| %>
  <ul>
  <li>Adoptable: <%= pet.adoptable %></li>
  <li>Age: <%= pet.age %></li>
  <li>Breed: <%= pet.breed %></li>
  <li>Name: <%= pet.name %></li>
  <%= button_to 'Adopt this Pet', "/applications/#{params[:id]}?pet_id=#{pet.id}", method: :patch %>
  </ul>
  <% end %>
  <% end %>

<% end %>



