
<h1><%= @application.name %></h1>
<p style='font-weight: bold'>Street Address:</p>
<%= @application.street %>
<p style='font-weight: bold'>City:</p>
<%= @application.city %>
<p style='font-weight: bold'>State:</p>
<%= @application.state %>
<p style='font-weight: bold'>Zip:</p>
<%= @application.zip %>
<p style='font-weight: bold'>Description:</p>
<%= @application.desc %>
<p style='font-weight: bold'>Status:</p>
<%= @application.status %>

<% @pets.each do |pet| %>
  <p><%= pet.name %></p>
<% end %>