<h3>Application Show Page<h3>
  <h4><%= @application.name %><h4>
  <p>Street Address: <%= @application.street_address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip Code: <%= @application.zip_code %></p>
  <p>Description: <%= @application.description %></p>
  <p>Pets: </p>
  <div id='wanted-pets'>
    <% @application.pets.each do |pet| %>
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
    <% end %>
  </div>

  <div id="add-pet-to-application">
    <h5>Add a Pet to this Application</h5>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search %>
      <%= f.text_field :search %>
      <%= f.submit "Search for pets by name" %>
    <% end %>
  <hr>
  <% if params[:search].present? %>
    <% @pets.each do |pet| %>
      <%= pet.name %>
      <%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}?pet_id=#{pet.id}", method: :patch %>
    <% end %>
  <% end %>
  </div>
  <%= form_with url:"/applications/#{@application.id}?submit=true", method: :patch, local: true do |f| %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.submit "Submit Application" %>
  <% end %>
    <p>Status: <%= @application.status %></p>
