<section id="application-<%= @application.id %>">
  <h1>Application ID: <%= @application.id %> <%= @application.applicant_name %></h1>
  <p>Address: <%= @application.street %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
  <p>Statement: <%= @application.statement %></p>
  <h5>Application Status: <%= @application.status %></h5>
</section>
