<h1 style="text-decoration: underline;"><%= "#{@application.name}'s Pet Adoption Application" %></h3>

<%= render partial: 'application_status' %>

<%= render partial: 'application_applicant', locals: { method: :get } %>

<%= render partial: 'application_pets_adopting', locals: { user: :applicant } %>

<% if @application.status == 'In Progress' %>
  <%= render partial: 'pets/pets_search', locals: { path: request.path, method: :get } %>
  <% if params[:search].nil? %>
    <h4>All Adoptable Pets:</h4>
  <% else %>
    <h4>Adoptable Pets Matching Search</h4>
  <% end %>
  <%= render partial: 'pets/pets_view', locals: { source: :applications, method: :patch } %>
<% end %>

<%= render partial: 'application_statement', locals: { method: :patch } %>





