<center><h1>Applicants Information</h1></center?
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>

<p>Status: <%= @application.status %></p>



<% if @application.status == "In Progress" && @application.pets.count > 0 %>
<h3>pets_list:</h3>
<% @application.pets.each do |pet| %>
 <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
 <% end %>
<% elsif @application.status == "In Progress" && @application.pets.count == 0 %>
  <p><%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search_for_pets_by_name %>
    <%= f.text_field :search %>
    <%= f.submit "Submit"%>
    <% end %></p>
<% end %>



<% @pets.each do |pet| %>
 <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
   <%= f.label pet.name %>
   <%= hidden_field_tag(:pet_id, pet.id) %>
   <%= f.submit "Adopt this pet" %>
 <% end %>
<% end %>
