<p><%= @application.name  %></p>
<p><%= @application.address  %></p>
<p><%= @application.city  %></p>
<p><%= @application.state  %></p>
<p><%= @application.zip %></p>
<p><%= @application.description  %></p>
<p><%= @application.status  %></p>

<p>Pets on this Application: <% @application.pets.each do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %></p>

<%= "Add a Pet to this Application" %>
 <%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
   <%= f.label :pet_name %>
   <%= f.text_field :pet_name %>
   <%= f.submit "Search" %>
 <% end %>

<% if @pets.present? %>
 <% @pets.each do |pet| %>
  <%= pet.name %>
  <%= button_to "Adopt this Pet", "/pet_applications/new", method: :post, params: {:application_id => @application.id, :pet_id => pet.id} %>
  <% end %>
 <% end %>
