<h1>Name: <%= @application.name %></h1>
<h3>Address: <%= @application.street_address %> <br> <%= @application.city %>,<%= @application.state %> <%= @application.zip_code %> </h3>
<h3>Why you'd be a good fit: <%= @application.good_fit %></h3>
<h3>Pets: <% @application.pets.each do |pet| %>
            <%= link_to "#{pet.name}", "pets/#{pet.id}" %>
          <% end %> </h3>
<h3>Application Status: <%= @application.status %></h3>

<h2>Add a Pet to this Application:</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pets_found.empty? %>
  <h1><%= "No pets match your search." %></h1>
<% else %>
  <% @pets_found.each do |pet| %>
    <%= pet.name %><%= button_to "Adopt me" %>
  <% end %>
<% end %>
