<h3><u> Applicant's name:</u></h3>
<p><%= @applicant.name %></p>
<h3><u> Applicant's address:</u></h3>
<p>
  <%= @applicant.street_address %>,
  <%= @applicant.city %>,
  <%= @applicant.state %>
  <%= @applicant.zip_code %>
</p>
<h3><u> Why you're good for these pet(s)?</u></h3>
<p><%= @applicant.description %></p>
<h3><u> Pets this application is for:</u></h3>
<p>(all names of pets should be links to their show page)...I need to connect thru applicationpets table</p>
