<h1><%= @application.name %>s Application</h1>

<h4>Application Info</h4>
Full Address: <%= @application.street_address %>,
<%= @application.city %> <%= @application.state %>,
<%= @application.zipcode %><br></br>
Reason Description: <%= @application.description %>

<h4>Applications Pets</h4>

<h4>Application Status</h4>
