<h1> Application </h1>
<p>
  <%= @application.name %>
</p>
<p>
  Address:
  <%= @application.street %>
</p>
<p>
  <%= @application.city %>
</p>
<p>
  <%= @application.state %>
</p>
<p>
  <%= @application.zip %>
</p>
<p>
  <%= @application.description %>
</p>




<p>
  <%= @application.status %>
</p>

<h2>Add a Pet to this Application </h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search  %>
  <%= f.submit "Submit" %>
<% end %>

<p>
  <% @pets.each do |pet|%>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
</p>
