<head>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
  th, td {
  padding: 15px;
  text-align: center;
}
</style>
</head>
<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Good Home Argument</th>
    <th>Status</th>
    <th>Created</th>
    <th>Last updated</th>
  </tr>
  <tr id="application_<%= @application.id %>">
    <td><%= "#{@application.fname} #{@application.lname}" %></td>
    <td><%= "#{@application.street_address}" %><br><%= "#{@application.city}, #{@application.state} #{@application.zip_code}"%></td>
    <td><%= @application.good_home_argument %></td>
    <td><%= @application.status %></td>
    <td><%= @application.created_at %></td>
    <td><%= @application.updated_at %></td>
  </tr>
</table>
<h3>Pets Added to Application</h3>
<ul>
<% @application.pets.each do |pet| %>
  <li id="application_pet_<%=pet.id%>" ><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
<% end %>
</ul>

<h3>"Add a Pet to this Application"</h3>
<%= form_with method: :get, local: true do |form|%>
  <%= form.label :search_partial, 'Search For Your Future Pet!' %>
  <%= form.text_field :search_partial %>
  <%= form.submit "Search All Pets" %>
<% end%>
<% if @searched_pets %>
  <ul>
    <% @searched_pets.each do |pet|%>
      <li id="application_pet_<%=pet.id%>"><%=pet.name%> <%= button_to "Adopt this Pet", pet_id: pet.id %></li>
    <% end %>
  </ul>
<% end %>