<h3>Applicant Name: <%=@application.name%></h3>
   <p>Address: <%=@application.street_address%>
   <%=@application.city%>
   <%=@application.state%>
   <%=@application.zip%></p>
   <p>Description: <%=@application.description%></p>
   <p>Status: <%=@application.status%></p>
   <p>Pets in this application:
     <% @application.pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <% end %></p>

<% if @application.status == "In Progress" %>
  <p><%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search_for_pets_by_name %>
  <%= f.text_field :search %>
  <%= f.submit "Submit"%>
  <% end %></p>

  <% @pets.each do |pet| %>
  <h3><%=link_to "#{pet.name}", "/pets/#{pet.id}"%><%=button_to "Adopt This Pet", method: :post, params: { pet_id: pet.id }, action: "adopt" %></h3>
  <% end %>
<% end %>







