
<section id="App-Info">
  <p><%= @application.name %><p/>
  <p><%= @application.city %><p/>
  <p><%= @application.street_address %><p/>
  <p><%= @application.state %><p/>
  <p><%= @application.zip %><p/>
  <p><%= @application.status %><p/>
  <p><%= @application.description %><p/>
  <% @application.pets.each do |pet| %>
    <p><%= pet.name %></p>
  <% end %>
</section>


<h2>Add a Pet to this Application</h2>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit 'search' %>
<% end %>

<% @pets.each do |pet| %>
<section id="Pet-Search">
  <p><%= pet.name %></p>
<% end %>
</section>
