<h1>Applicant Information</h1>

<p> Applicant ID: <%= @application.id %> </p>
<p> Name: <%= @application.name %> </p>
<p> Address: <%= @application.street_address %>,
<%= @application.city %>,
<%= @application.state %>,
<%= @application.zip %> </p>
<p> Why I would make a good home for this pet: <%= @application.description %> </p>
<p> Application Status: <%= @application.status %> </p>