<h1>Application Info</h1>

<h2>Application Status: <%= @application.status %></<h2>
  <br>
<h2>Applicant: <%= @application.name %></h2>
<h3>Address:</h3>
<p><%= @application.street_address%></p>
<p><%= @application.city %>, <%= @application.state %> <%= @application.zipcode %></p>

<% if @application.status == "In Progress" %>
  <div class="pet_search">
    <h3>Add Pet to this Application</h3>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
       <%= form.label :search, "Search for Pets" %>
       <%= form.text_field :search %>
       <%= form.submit "Search" %>
    <% end %>

    <% if @pets != nil %>
      <% @pets.each do |pet| %>
        <div id="pet_search_results-<%= pet.id %>">
          <%= pet.name %>
          <div id="app_pet_link-<%= pet.id %>">
            <%= form_with url: "/pet_applications?pet_id=#{pet.id}&application_id=#{@application.id}", method: :post, local: true do |form| %>
                <%= form.submit "Adopt this Pet" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<h3>Pets Included in this Application:</h3>
  <div id="pets_on_app">
    <% @application.pets.each do |pet| %>
      <div>
        <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
      </div>
    <% end %>
  </div>

<% if @application.status == "In Progress" && @application.pets.count > 0 %>
  <div id="app_submit">
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
       <%= form.label :description, "Why are you wanting to Adopt?" %>
       <%= form.text_field :description, required: true %>
       <%= form.hidden_field :status, :value => "Pending" %>
       <%= form.submit "Submit Application" %>
    <% end %>
  </div>
<% end %>
