<h1>Application </h1>

<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Why do you want to Adopt?: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
<% @application.pets.each do |pet| %>
<p>Desired Pet:  <%= link_to pet.name, "/pets/#{pet.id}" %></p>
<% end %>

<p>Why I would make a good owner for these pet(s): </p>
<%= form_tag("/applications/#{@application.id}?query=submit", method: :get) do %>
<%= text_field_tag :submit, params[:submit] %>
<%= submit_tag "Submit Application" %>
<% end %>

<p>Add a Pet to this Application: </p>
<%= form_tag("/applications/#{@application.id}?query=search", method: :get) do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>


<div id="pet-results">
  <% @pets.each do |pet| %>
  <p> <%= pet.name %> <%= link_to "Adopt this Pet", "/pet_applications/#{pet.id}/#{@application.id}/create" %> </p>
  <% end %>
</div>
