<h1><%= @application.name %></h1>
<h3><%= @application.address %></h3>
<h3><%= @application.city %>, <%= @application.state %> <%= @application.zip %></h3>
<h3>I would be a good pet parent because: <%= @application.description %>
<h3>Pets applied for:</h3>
<% @application.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>
<h3>Application Status: <%= @application.status %></h3>
