<h1><%= @application.name %></h1>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
<% @application.pets.each_with_index do |pet| %>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
