<br>
<p><h2><%= @application.name %></h2></p>
<p><%= @application.street_address %></p>
<%= @application.city %>
<%= @application.state %>
<%= @application.zipcode %>

<p><h3>Application Status: <%= @application.status %></h3></p>
