<h1><%= @application.name %></h1>
<h3>Address: <%= @application.address %></h3>
<h3>Status: <%= @application.status %></h3>
<h3>Why I'd make a good home for this pet(s): <%= @application.description %></h3>
<h3>Pets Applied For: </h3><% @application.pets.each do |pet| %>
   <p><%= pet.name %></p>
<% end %>

<h3>Add pet to application:</h3>
<%= form_tag(url_for(action: 'show'), method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<% if params[:search].nil? %>
  <p>No pets searched</p>
<% else %>
  <% @pets.each do |pet| %>
    <p><%= pet.name %></p>
    <%= button_to "Adopt #{pet.name}", "/applications/#{@application.id}", method: :patch, params: {pet_id: pet.id} %>
  <% end %>
<% end %>

<% if @application.has_pets? && @application.description.nil? %>
<p>Why I'd make a good home</p>
  <%= form_tag(url_for(action: 'update'), method: :patch) do %>
    <%= text_field_tag(:description, params[:description]) %>
    <%= submit_tag ("Submit Application") %>
  <% end %>
<% end %>
