<h1><%= @application.name %></h1>
<h3><%= @application.street %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip %></h3>
<h3><%= @application.description %></h3>
<h3><%= @application.application_status %></h3>

<h2>Add a Pet to this Application</h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% @pets.each do |pet| %>
  <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
<% end %>

