<h1 style="text-decoration: underline;"><%= "#{@application.name}'s Pet Adoption Application" %></h3>

<h3>Application Status:</h3>
<p><%= "#{@application.status}" %></p>
<% if @application.status == 'In Progress'%>
<p style='color:darkred;'><%= 'Note - Your application has not been submitted yet!' %><br></p>
<p><%= "In order to submit, you must add both 'Pets To Adopt' and an 'Adoption Statement' below." %></p>
<% end %>

<h3>Applicant Details: </h3>
<table>
  <tr>
    <th>Detail</th>
    <th>Value</th>
  </tr>
  <tr><td>Name:</td><td><%= @application.name %></td></tr>
  <tr><td>Street Address:</td><td><%= @application.street_address %></td></tr>
  <tr><td>City:</td><td><%= @application.city %></td></tr>
  <tr><td>State:</td><td><%= @application.state %></td></tr>
  <tr><td>Zip Code:</td><td><%= @application.zip_code %></td></tr>
</table><br>

<h3>Pets To Be Adopted:</h3>
<% if @pets_adopting.count == 0 %>
<p style="color: darkred;"><%= "Please add pets to your application" %></p>
<% else %>
<ul>
  <% @pets_adopting.each do |pet| %>
    <li><tr><td><%= pet.name %></li>
    <% end %>
</ul>
<% end %>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label "Search Pets By Name" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if params[:search].nil? %>
  <h4>All Adoptable Pets:</h4>
<% else %>
  <h4>Adoptable Pets Matching Search</h4>
<% end %>
<%= render partial: 'pets/pets_view', locals: {path: "/applications/#{@application.id}", method: :post } %>

<h3>Adoption Statement:</h3>
<% if @application.statement.nil? %>
  <p style="color: darkred;"><%= "Please add an adoption statement" %></p>
<% end %>
<%= button_to "Add Statement", "/facilities/new", method: :get %>



