<h1>Application Show</h1>

<p>Applicant Name: <%= @application.first %> <%= @application.last %> </p>
<p>Address: <%= @application.street %> <%= @application.city %>, <%= @application.state %> <%= @application.zip %></p>
<p>Description: <%= @application.description%></p>
<% @application.pets.each do |pet|  %>
  <p>Pets on Application: <%= pet.name %></p>
<% end %>
<p>Application Status: <%= @application.status %></p>

<section> <h2>Add a pet to this application: </h2>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
    <%= form.text_field :petsearch %>
    <%= form.submit "Submit" %>
<% end %>
</section>
<h4>Pets: </h4>
<% if @pets != nil %>
  <% @pets.each do |pet| %>
    <p><%= pet.name %></p><%= link_to "Add #{pet.name}", "/applications/#{@application.id}?pet=#{pet.id}" %>
    <% end %>
  <% end %>
