<h1>Application <%= @application.id %> </h1>
<h2>Name: <%= @application.name %></h2>
<p>
  Address: <%= @application.street_address %>,
           <%= @application.city %>,
           <%= @application.state %>,
           <%= @application.zip_code %>
</p>
<p>Description: <%= @application.description %> </p>
<p>Status: <%= @application.status = "In Progress" %> </p>

<div id="pets-to-adopt">
  <% if @application.pets %>
    <h3>Desired Pets: <% @application.pets.each do |pet| %></h3>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
  <% end %>
</div>

<div id="search-bar">
  <h2>Add a pet to this application:</h2>
  <%= form_with url:"/applications/#{@application.id}?search=#{params[:search]}", method: :get, local: true do |form| %>
  <%= form.label :search %>
  <%= form.text_field :search %><br>
  <%= form.submit "Search" %>
  <% end %><br>
  <% if @pets %>
    <% @pets.each do |pet| %>
      <div id="pet-<%= pet.id %>">
        <h3>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
        <p>Adoptable: <%= pet.adoptable %></p>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{pet.id}", method: :post %>
      </div>
    <% end %>
  <% end %>
</div>
