<h3><%= @application.name %></h3>

<p><%= @application.address %>
<p><%= @application.city %>,</p>
<p><%= @application.state %></p>
<p><%= @application.zipcode %></p>
<p><%= @application.description %></p>
<% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end  %>
<p><%= @application.status %></p>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
<%= form.label :search, "Add a Pet to This Application" %>
<%= form.text_field :search %>
<%= form.submit "Search" %>
<% end %>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
  <%= pet.name %>
  <%= link_to "Adopt this Pet", "/applications/#{@application.id}?add_pet=#{pet.id}" %>
  <% end %>
<% end  %>
<% if @application.pets.count > 0 && @application.status == "In Progress" %>
<h4>What makes <%=@application.name %> a good fit?</h4>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
<%= f.label :description %>
<%= f.text_area :description, :required => true %>
<%= f.label "Submit Application"%>
<%= f.submit :submit %>
<%end%>
<%else%>
<h4>Why would you make a good owner for these pet(s)?</h4>
<p><%=@application.description%></p>
<%end%>
<h4> Application Status:</h4>
<p><%=@application.status%></p>
