<h1>Application Show Page</h1>

Applicant Name: <%= @application.name %><br>
Full Address: <%= @application.address %><br>
Why I am a Good Home: <%= @application.description %><br>
Adoptable Pets: <%= @application.pet_names %><br>
Application Status: <%= @application.status %><br>
<h4>Add a Pet to this Application</h4>
<%= form_with url: "/applications/#{@application.id}?search=name", method: :get, local: true do %>
  <%= label_tag(:pet_names, "pet names") %>
  <%= text_field_tag(:pet_names) %>
  <%= submit_tag("Submit") %>
<% end %>
<% @pets.each do |pet| %>
<div id="pet-<%= pet.id %>">

  <%= pet.name %> <%= button_to "Adopt This Pet", "/applications/#{@application.id}/edit", method: :get, local: true %>  <br>

</div>
<% end %>
