<!-- <a href="/applications/<%=@application.id%>"</a> -->

<h3><%= @application.name%> </h3>
<h3><%= @application.address%> </h3>
<h3><%= @application.city%></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zip_code %></h3>
<h3><%= @application.description %></h3>
<h3><%= @application.status %></h3>

<%= link_to "#{@pets.name}", "/pets/:id"%>
