<h3>Name: <%= @application.name %></h3>
<h3>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></h3>
<h3>Description: <%= @application.description %></h3>

<% @application.pets.each do |pet| %>
  <h3>Applying for pet: <%=link_to pet.name, "/pets/#{pet.id}" %> </h3>
<% end %>
<h3>Application status: <%= @application.status %></h3>

<h3>Add a Pet to this Application</h3>

<%= form_with url: "/applications/#{params[:id]}/?search=#{params[:search]}", method: :get, local: true do |f| %>
  <%= f.label :search  %>
  <%= f.text_field :search %>
  <%= f.submit 'Submit' %>
<% end %>

<br>
<% if @search_results %>
  <% @search_results.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", action: "add_pet", params: {chosen_pet: pet.id} %>
  <% end %>
<% end %>
