<h3> Application Info </h3>

<ul>
  <li><%= "Applicant Name: #{@application.name}" %></li>
  <li><%= "Applicant Address: #{@application.street}" %></li>
  <li><%= "Applicant City: #{@application.city}, #{@application.state}" %></li>
  <li><%= "Applicant Zip Code: #{@application.zip}" %></li>
  <li><%= "Applicant Message: #{@application.message}" %></li>
  <li><%= "Pets Included:" %></li>
    <ul>
      <% @application.pets.each do |pet|%>
        <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
      <%end%>
    </ul>
  <li><%= "Application Status: #{@application.status}" %>
</ul>
