<h2>Name: <%= @application.name %></h2>
<p>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></p>
<p>Why would you make a good pet parent?: <%= @application.description %></p>
<div class="pets">
  <p>Pets for this application: </p>
  <div class="pet">
    <% @pets.each do |pet| %>
      <%= pet.name %>
  </div>
  <% end %>
</div>
<p>Status: <%= @application.status %></p>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search_name, 'Search for Pet by Name' %>
    <%= f.text_field :search_name %>
    <%= f.submit 'Submit'  %>
  <% end %>
<% if @pet %> 
  <div class="pet-<%= @pet.id %>">
    <%= button_to 'Adopt this Pet', "/applications/#{@application.id}/#{@pet.id}", method: :post %>
  </div>
<% end %>
