<h1><%= "#{@application.name}'s Application" %></h1>
<p>Address: <%=
  "#{@application.street_address},
  #{@application.city},
  #{@application.state},
  #{@application.zip_code} "
  %></p>
<p>Describe why you would make a good home: <%=
  "#{@application.description}"
  %></p>
<p>Application Status: <%=
  "#{@application.status}"
  %></p>
<p>Pets applied for:
<p><% @application.pets.each do |pet| %></p>
<%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
<% end %>
