<h1>Application</h1>

<h3> <%= @application.name %> </h3>
<p> <%= @application.address %> </p>
<p> <%= @application.city %> </p>
<p> <%= @application.state %> </p>
<p> <%= @application.zip %> </p>
<p> <%= @application.reason %> </p>
<% @application.pets.each do |pet| %> 
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
     <% end %>
<p>Application Status: <%= @application.status %> </p>
