<h1><%= @application.name %></h1>
<h3><%= "Address: #{@application.address}, #{@application.city} #{@application.state}, #{@application.zip}" %></h3>
<h3><%= "Reason For Applying: #{@application.description}" %></h3>
<h3>Dogs Applied For: </h3>

<% @application.pets.each do |pet| %>
  <div class="pet", id = "#{pet.id}">
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  </div>
<% end %>

<% if @application.status == "In Progress" %>
  <div class="search">
    <fieldset>
      <legend>Add a Pet to this Application</legend>
      <%= form_with url: "", method: :get, loacl: true do |form| %>
        <%= form.label :search, "Search for Pets" %>
        <%= form.text_field :search %>
        <%= form.submit "Search" %>
      <% end %>

      <% if @pets != nil %>
        <% @pets.each do |pet| %>
          <h3><%= pet.name %></h3>
          <p>Age: <%= pet.age %></p>
          <p>Breed: <%= pet.breed %></p>
          <p>Adoptable: </p>
          <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>

        <% end %>
      <% end %>
    </fieldset>
  </div>
<% end %>



<h3><%= "Application Status: #{@application.status}" %></h3>
