<h1>Application for <%= @application.name %></h1>
<h4>Address:</h4>
<hr>
<p> <%= @application.address %></p>
<p> <%= @application.city %> , <%= @application.state %></p>
<p> <%= @application.zip %></p>
<hr>
<h4>Status: <%= @application.status %></h4>
<hr>
<h4>Description:</h4>
<hr>
<p> <%= @application.description %></p>
