
  <h4>Name: <%= @application.name %></h2>
  <p>Address: <%= @application.address %>
  <p>Reasons for a good home: <%= @application.applicant_qualitys %></p>
  <p>Pets names: <%= @application.pet_names %></p>
  <p>application status: <%= @application.application_status %></p>
