<h2>Application #<%="#{@application.id}"  %> Information Page</h2>

<ul>
<li><b>Applicant's Name:</b> <%= @application.name %></li>
<li><b>Applicant's Address:</b> <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip_code %></li>
<li><b>Why the applicant believe they have a good home for this pet(s):</b> <%= @application.description %></li>
<li><b>Names of all the pets associated with this application:</b>
<% @pets.each do |pet| %>
<br><%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
</li><br>
<li><b>Application Status:</b> <%= @application.status %></li>
</ul><br>
<% if @application.status == "In Progress" %>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f|%>
  <%= f.label :good_owner, "What makes you a good owner?" %>
  <%= f.text_field :good_owner %>
  <%= f.submit "Submit Application" %>
  <% end %>

<h3> Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>:
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% @pets.each do |pet| %>
    <h3><%= pet.name %></h3>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: </p>
    <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
  <% end %>
<% elsif @application.status == "Pending" %>
<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
<% end %>
<% end %>
