<h1> Application </h1>
<p>
  <%= @application.name %>
</p>


<p> <%= @application.street %> </p>
<p><%= @application.city %></p>
<p><%= @application.state %></p>
<p><%= @application.zip %></p>
<p><%= @application.description %></p>
<p><%= @application.status %></p>


<p> Pets on this Application:
  <% @application.pets.each do |pet| %>
  <section id ="pet-<%= pet.id %>">
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  </section>
  <% end %>
</p>

<h2>Add a Pet to this Application </h2>
<%= form_with url: "/applications/#{@application.id}?search=pet_name", method: :get, local: true do |f| %>
  <%= f.label :pet_name %>
  <%= f.text_field :pet_name  %>
  <%= f.submit "Submit" %>
<% end %>

<p>
<% if @pets.present? %>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= button_to "Adopt this Pet", "/application_pets/new", method: :post, params: {:application_id => @application.id, :pet_id => pet.id} %>
  <% end %>
<% end %>
</p>
