<h1><%= "#{@application.name}'s Application" %></h1>
<h3>Address:</h3>
<%= @full_address %>
<br>
<h3>Why would you be a good home for this pet(s)?</h3>
<%= @application.description %>
<br>
<h3>Names of the pet(s) you want to adopt</h3>
<% if @application.status == "In Progress" %>
  <%= render "app_pets" %>
  <%= render "add_pets" %>
<% else %>
  <%= render "app_pets" %>
<% end %>
<h3>Status</h3>
<%= @application.status %>