<h1>Applications</h1>

<p>Name: <%= @application.name %> </p>
<p>Street address: <%= @application.street_address %> </p>
<p>City: <%= @application.city %> </p>
<p>State: <%= @application.state %> </p>
<p>Zip code: <%= @application.zip_code %> </p>
<p>Description: <%= @application.description %> </p>
<p>Status: <%= @application.status %> </p>

    <% @application.pets.each do |pet| %> 
      <p> <%= pet.name %> </p>
    <% end %>

 <section id="addPet" > 

 <h2> Add a Pet to this Application </h2>


<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search_pet %>
  <%= f.text_field :search_pet %>
  <%= f.submit "Search Pets By Name" %>
<% end %>

<% if @searched_pets.present? %>
  <% @searched_pets.each do |pet|%>
    <p> <%= pet.name %>  </p>
    <%= form_with url: "/applications/#{@application.id}", method: :post, local: true do |f| %>
      <%f.submit "Adopt This Pet"%>
      <% end %>
  <% end %>
<% end %>



 </section>
