<h2>Name: <%= @application.name %></h2>
<p>Address: <%= @application.street_address %></p>
<p>
  City: <%= @application.city %>
  State: <%= @application.state %>
  Zip Code: <%= @application.zip_code %>
</p>
