<h1><%= @application.applicant_name %>'s Application</h1>
<p>Address: <%="#{@application.street_address} #{@application.city}, #{@application.state} #{@application.zip_code}"%><p>
<p>Reason for adopting: <%= @application.description %>
<p>Animal Wishlist:<p>
<% @pets.each do |pet| %>
<ul>
<li><%= link_to "#{pet.name}", "/pets/#{pet.id}"%></li>
</ul>
<%end%>
<p>Application status: <%= @application.status%></p>
<% if @application.status == "In Progress" %>
<%= render "add_pet" %>
<% end %>
<%  if @application.description.nil? == true &&  if @application.pets.empty? == false %>
<p>Submit my application</p>
<p>Enter a description of why you would make a good owner for these pet(s):</p>
<%= form_with url: "/applications/#{@application.id}/edit", method: :patch, local: true do |f| %>
  <%= f.label :freeform %>
  <%= f.text_area :freeform %>
  <%= f.submit "Submit" %>
    <% end %>
  <% end %>
<% end %>

