<h1><%= @application.name %></h1>
<h3>
  <%= label :text, :address, 'Address: ' %>
  <%= @application.street_address %> 
  <%= @application.city %>, 
  <%= @application.state %> 
  <%= @application.zip_code %><br>
  <h3>
    <%= label :text, :description, 'Description: ' %>
    <%= @application.description %><br>
  </h3>

  <h3>
    <%= label :text, :pets_list, 'Available Pets: ' %><br>
    <% @pets.each do |pet| %>
      <pre><h3>   <%= link_to "#{pet.name}", "pets/#{pet.id}" %></h3></pre>
    <% end %>

    <% if !@selected_pets.empty? %>
      <h3>
        <%= label :text, :pets_list, 'Selected Pets: ' %><br>
        <% @selected_pets.each do |pet| %>
          <pre><h3>   <%= link_to "#{pet.name}", "pets/#{pet.id}" %></h3></pre>
        <% end %>
      </h3>
    <% end %>

    <h3>
      <%= label :text, :status, 'Status: ' %>
      <%= @application.status %>
    </h3>
  </h3>

  <% if @application.status == "in progress" %>
    <%= render partial: "in_progress" %>
  <% end %>
</h3>
