

<h3>Applicants Name: <%= @application.name%> </h3>
<h3>Street: <%= @application.address%> </h3>
<h3>City: <%= @application.city%></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zio Code: <%= @application.zip_code %></h3>
<h3>Why they want to adopt:<%=@application.description%></h3>
<h3>Status: <%=@application.status%></h3>

  <%@application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}"%><br>
    <% end %>

    <% if @application.pets.count > 0%>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= f.submit "Submit" %>
  
    <% @application.pets.count > 0 && @application.status == "Pending" %>
    <%end%>
  <%end%>

 <%if @application.status != "Pending" %>
  <%= "Add a Pet to this Application" %>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
    <% end %>
  <% end %>

  <% if @pets %>
    <% @pets.each do |pet| %>
      <%=button_to "Adopt #{pet.name}", application_pets_path(pet: pet)%>
  <% end %>
<% end %>
