
<h1><%= @applications.name %></h1>
<p><%= @applications.street %></p>
<p><%= @applications.city %></p>
<p><%= @applications.state %></p>
<p><%= @applications.zip %></p>
<p><%= @applications.description %></p>
<p><%= @applications.status %></p>
<% @applications.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
<% end %>



