<h1>Here there be Applicant's for pet ownership!</h1>
<h3>Applicant name: <%=@app.name%><h3>
  <a>Address: <%=@app.street %></a><br>
  <a>City   : <%=@app.city %></a><br>
  <a>State  : <%=@app.state %></a><br>

  <a>Zip    : <%=@app.zip %></a><br>
  <a>Status : <%=@app.status %></a><br>
  <p>description: <%=@app.description %></p>
<h4>Pets attached to this application</h4>
  <% @app.pets.each do |pet| %>
  <%=link_to "#{pet.name}","/pets/#{pet.id}"%><br>
  <%end%>
<% if @app.status == "In progress" && @app.pets_present > 0%>
  <%=form_with url: "/applications/#{@app.id}", method: :patch, local: true do |form|%>
    <h4><%="Tell us why you'd be a good forever home."%></h4>
    <%=form.label :description%>
    <%=form.text_field :description%>
    <%=form.hidden_field :status, value: "pending"%><br>
    <%= "When Application is complete, click the Submit button."%><br>
    <%=form.submit "Submit"%>
  <%end%>
<%end%>


<%if @app.status == "In progress"%>
  <h4><%="Add a pet to the application, search by name" %></h4>
  <%= form_with url: "/applications/#{@app.id}?search=pet_name", method: :get, local: true do |form| %>
  <%=form.label :pet_name %>
  <%=form.text_field :pet_name%>
  <%=form.submit "Search"%>
  <%end%>

  <% if @pets.present? %>
    <%@pets.each do |pet|%>
      <%=link_to "#{pet.name}","/pets/#{pet.id}"%><%=button_to "Adopt #{pet.name}", method: :post, params: {:application_id=> @app.id, :pet_id => pet.id} %>
    <%end%>
  <%end%>


<%end%>
