<h1>First name: <%= @application.first_name %></h1><br>
<h2>Last name: <%= @application.last_name %></h2><br>
<h3>Street address: <%= @application.street_address %> </h3><br>
<h3>City: <%= @application.city %> </h3><br>
<h3>Post code <%= @application.post_code %> </h3><br>
<br>

<div>
  <h2>Add a Pet to this Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search, 'Search by pet name' %>
  <%= f.text_field :search %>
  <%= f.text_field :id, value: @application.id, hidden: true %>
  <%= f.submit "Search" %>
  <% end %>
</div>
<br>

<% if @pets != nil %>
<div>
    <h2>Pet search results</h2>
  <% @pets.each do |pet| %>
    <%= pet.name %>
    <%= pet.age %>
    <%= pet.breed %>
    <%= pet.shelter.name %>
    <% end %>
</div>


<h2>Pets added to my application:</h2>
<% @application.pets.each do |pet| %>
<h3><%= link_to "Potential pet: #{pet.name}", "/pets/#{pet.id}" %></h3>
<% end %>
<br>

<h2>Application Status: <%= @application.status %> </h2>
<% end %>
