<html>
<head>
  <h1><%= @application.first_name %> <%= @application.middle_name %> <%= @application.last_name %></h1><br>
</head>

<body style="font-size:20px">
  <table>
    <tr><td>Address:</td><td><%= @application.street_number %> <%= @application.street_prefix %> <%= @application.street_name %> <%= @application.street_type %></td></tr>
    <tr><td>City:</td><td><%= @application.city %></td></tr>
    <tr><td>State:</td><td><%= @application.state %></td></tr>
    <tr><td>Zip Code:</td><td><%= @application.zip_code %></td></tr>
    <tr><td>Application Status:</td><td><%= @application.status %></td></tr>
  </table><br>

  <section>
    <div style="font-size:20px">Add a Pet to this Application</div><br>
    <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
      <%= f.label :search, "Search for Pet(s):" %>
      <%= f.text_field :search %>
      <%= f.submit "Search" %><br>
    <% end %>
  </section><br>

  <section id="application-<%= @application.id %>">
    <% @pets.each do |pet| %>
      <p><%= link_to pet.name, "/pets/#{pet.id}" %> </p>
    <% end %>
  </section>
</body>
</html>
