<h1>Applicant Information</h1>

<p>Add a Pet to this Application</p>

<p> Applicant ID: <%= @application.id %> </p>
<p> Name: <%= @application.name %> </p>
<p> Address: <%= @application.street_address %>,
<%= @application.city %>,
<%= @application.state %>,
<%= @application.zip %> </p>
<p> Application Status: <%= @application.status %> </p>

<% if @application.status == "In Progress" %>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
  <section id="application-<%= pet.id %>">
    <%= pet.id %>
    <%= pet.name %>
    <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |f| %>
      <%= f.hidden_field :pet, value: pet.id %>
      <%= f.submit "Adopt this Pet" %>
    <% end %>
  </section>
  <% end %>
<% end %>


<% if !@app_pets.nil? %>
  <% @app_pets.each do |app_pet| %>
  <p>Adoption Interest: <%= app_pet.pet.name %></p>
  <% end %>
<% end %>

<% if @app_pets.present? %>
<p> Why I would make a good home for this pet: </p>
<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.text_area :description, size: "50x5" %>
   <%= form.submit "Submit Application" %>
<% end %>
<% end %>
<% end %>