<h1><%= "#{@application.name}'s Application'" %></h1>
<p>
  <strong>Status:</strong>
  <%= @application.status %>
</p>
<p>
  <strong>Street Address:</strong>
  <%= @application.street_address%>
</p>
<p>
  <strong>City:</strong>
  <%= @application.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @application.state %>
</p>
<p>
  <strong>Zip Code:</strong>
  <%= @application.zip_code %>
</p>
<p>
  <strong>Description: </strong>
  <%= @application.description %>
</p>
