<h1>Applicant Information</h1>
<p>Name: <%= @app.name %></p>
<p>Street Address: <%= @app.street_address %>, <%= @app.city %>, <%= @app.state %> <%= @app.zipcode %></p>
<p>Description: <%= @app.description %></p>
<p>Status: <%= @app.status %></p>