<h1>Applications</h1>

<p> <%= @application.name %> </p>
<p> <%= @application.street_address %> </p>
<p> <%= @application.city %> </p>
<p> <%= @application.state %> </p>
<p> <%= @application.zip_code %> </p>
<p> <%= @application.status %> </p>

