<h2>Application</h2>
<h3>Name: <%= @application.name %></h3>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Reason: <%= @application.reason %></p>
<p>Status: <%= @application.status %></p>
