<h1>Applications</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address %></p> 
<p><%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p> 