<h2>Application Details</h2>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<p>Description of applicant: <%= @application.description %></p>
<p>Names of pets applied:
  <% @application.pets.each do |pet| %>
    <%= pet.name %>
  <% end %>
</p>
<p>Application status: <%= @application.status %></p>
