<h1><%= @application.name %></h1>
<p>Address: <%= @application.street %>
  <%= @application.city %>
  <%= @application.state %>,
  <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>
<p>Application status: <%= @application.status %></p>
<p>Pets: <%= @pets.name %> </p>
