<h1><%= @application.name %></h1>

<h3>Address: </h3>
<p><%= @application.street_address %></p>
<p><%= @application.city %>, <%= @application.state %>
   <%= @application.zip_code %></p>

<h3>Application Status: <%= @application.status %></h3>

<h3>Pets under consideration: </h3>
<% @application.pets.each do |pet| %>
<%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
<br>
<% end %>

<% unless @application.status == "Pending" %>
  <%= render 'pet_search' %>
  <% if !@pet_search.nil?  %>
    <%= render 'adopt_pet' %>
  <% end %>
  <% if @application.pets.length > 0 %>
    <%= render 'submit' %>
  <% end %>
<% end %>
<br>
