<h1> Applicant ID: </h1>

<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.street_address%>,
  <%= @application.city %>,
  <%= @application.state %>,
  <%= @application.zipcode %></p>
<p>Description: <%= @application.description %></p>
<p>All pets applied for:</p>
<p>Application status: <%= @application.status %></p>
