<h1> Applicant: <%= @application.applicant.full_name %></h1>
<h3> Street Address: <%= @application.applicant.street_address %> </h3>
<h3> City: <%= @application.applicant.city %></h3>
<h3> State: <%= @application.applicant.state %></h3>
<h3> Zipcode: <%= @application.applicant.zipcode%></h3>
<h3> Description: <%= @application.description %></h3>
<h3> Applying For: <%= link_to "#{@application.pet.name}", {controller: "pets", action: "show", id: "#{@application.pet.id}"} %> </h3>
<h3> Application Status: <%= @application.status %> </h3>
  
