<div class="main">
  <h1>All pets</h1>

  <%= form_with url: "/pets", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <table class="table">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Shelter</th>
      <th scope="col">Age</th>
      <th scope="col">Breed</th>
      <th scope="col">Adoptable?</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </thead>  

    <tbody>
      <% @pets.each do |pet| %>
        <tr class="row">
          <th scope="row">
            <%= pet.name %>
            <p class="link"><%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %></p>
            <p class="link"><%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %></p>
          </th>
          <td><p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p></td>
          <td><%= pet.age %></td>
          <td><%= pet.breed %></td>
          <td><%= pet.adoptable %></td>
          <td><%= button_to "Start an Application", "/applications/new", method: :get %></td>
      <% end %>
    </tbody>
  </table>
</div>