<h1>All Pets</h1>
<hr>
<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<body>
  <% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Adoptable: <%= pet.adoptable %></p>
    <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
    <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %> <br>
    <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
    <p>---------------------</p>
  <% end %>
  <p><%= link_to "Start an Application", "/applications/new" %></p>
</body>
