<h1>All pets</h1>

 <%= link_to "Start an Application", "/applications/new", style: 'margin: 20px;'%> <br><br>

<%= form_with url: "/pets", method: :get, local: true, style: 'margin-left:20px; margin-bottom:5px;' do |f| %>
  <%= f.label :search , style: 'margin-left:20px; margin-bottom:5px;'%>
  <%= f.text_field :search , style: 'margin-bottom:5px;'%>
  <%= f.submit "Search" , style: 'margin-bottom:5px;'%>
<% end %>


<% @pets.each do |pet| %>
<table>
  <tr><td><h3><%= pet.name %></h3></td></tr>
  <tr><td>Age: <%= pet.age %></td></tr>
  <tr><td>Breed: <%= pet.breed %></td></tr>
  <tr><td>Adoptable: <%= pet.adoptable %></td></tr>
  <tr><td style='padding-left:10px;padding-right:10px'>You can find <%= pet.name %> at <%= pet.shelter_name %>!  </td></tr>
  </table>
  <%= button_to "Edit #{pet.name}", "/pets/#{pet.id}/edit", method: :get, style: 'margin-left:20px; margin-top:5px; float: left'%>
  <%= button_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete, style: 'margin-left:15px; margin-top:5px; float: left'%>
  <br><br><br>
<% end %>
