<div style="margin: 0 auto; text-align: center">
  <img src="https://user-images.githubusercontent.com/74567704/126038524-5229413d-fda2-4498-bea7-72e92e827341.png" alt="All Pets">
</div>
<div style="margin: 0 auto; text-align: center">
    <a style="align: center" class="btn btn-primary btn-outline-warning" href="/applications/new">Start an Application</a>
</div>
<br/>
<section id="body" align="center">
<%= form_with url: "/pets", method: :get, class: "btn btn-warning btn-outline-primary", local: true do |f| %>
  <%= f.label :search, "Pet Name" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>

<% end %>
</section>


<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
  <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
