<h1>All pets</h1>

<%= button_to "Start an Adoption Application", "/applications/new", method: :get %><br>
<%= render partial: 'pets_view', locals: { source: :pets } %>

<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label "Search Pets By Name" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %><br>

