<h1>All pets</h1>
<%= link_to "Start an Application", "applications/new" %>

<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label :search %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>


<% @pets.each do |pet| %>
  <%= render "shared/pet_details", pet: pet %>
  <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
