<h1>All Pets</h1>

<%= form_tag "/pets", method: "GET" do %>
Search by: <br>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :breed %>
  <%= text_field_tag :breed, params[:breed] %><br>
  <%= label_tag :age %>
  <%= text_field_tag :age, params[:age] %><br>
  <%= submit_tag "Search" %>
<% end %>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Breed: <%= pet.breed %></p>
  <p>Age: <%= pet.age %></p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
<% end %>
