
 <div class="container">
 <div class="d-flex flex-column justify-content-start">
<h1>All Pets</h1>

<%# <%= button_to "Start an Adoption Application", "/applications/new", method: :get %>
<%= form_with url: "/pets", method: :get, local: true do |f| %>
  <%= f.label "Search Pets By Name" %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %><br>
</div>
</div>

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
          <% @pets.each do |pet| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" <%= image_tag("#{pet.name}.png", id: 'pet-photo') %> 
                <div class="card-body"><h3><%= pet.name %></h3>
                  <p class="card-text"><%= "#{pet.name} is a #{pet.age} year old #{pet.breed}. #{pet.description}"%>


                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "View", "/pets/#{pet.id}" %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Edit", "/pets/#{pet.id}/edit" %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Adopt", "/applications/new", method: :get %></button>
                      <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "Delete", "/pets/#{pet.id}", method: :delete %></button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
