<h1>All Pets</h1>

<%= link_to "Start an Application", "/applications/new" %>

<%= form_tag "/pets", method: "GET" do %>
  <%= label_tag :search_by_name %>
  <%= text_field_tag :search_by_name %>
  <%= label_tag :search_by_breed %>
  <%= text_field_tag :search_by_breed, params[:search_by_breed] %>
  <%= label_tag :search_by_age %>
  <%= text_field_tag :search_by_age, params[:search_by_age] %>
  <%= submit_tag "Search" %>
<% end %>

<% @pets.each do |pet| %>
  <h3><%= pet.name %></h3>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <p>Adoptable: </p>
  <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
  <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
  <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
<% end %>
