<center><h1><%= @pet.name %></h1></center>
<center><h3><%= @pet.age %> years old</h3></center>
<center><h3><%= @pet.breed %></h3></center>
<center><h3><%= @pet.adoptable %></h3></center>
<center><h3><%= @pet.shelter_name %></h3></center>



<center><p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p></center>
<center><p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p></center>
