</table >
<table>
  <tr>
    <th>Detail</th>
    <th>Value</th>
  </tr>
    <% @formatted_attributes.each do |attribute, formatted_attribute| %>
      <tr>
        <td><%= "#{formatted_attribute}" %></td>
        <td><% if @record.send("#{attribute}") == true %>
            <%= 'Yes' %>
          <% elsif @record.send("#{attribute}") == false %>
            <%= 'No' %>
          <% else %>
            <%= @record.send("#{attribute}") %>
          <% end %></td>
      </tr>
    <% end %>
  </table><br>

<%= button_to "Edit", "#{@record_path}#{@record.id}/edit", method: :edit %><br>
<%= button_to "Delete", "#{@record_path}#{@record.id}", method: :delete %>