<h1>Name: <%= @pet.name %></h1>
<h3><%= @pet.age %> years old</h3>
<h3>Breed: <%= @pet.breed %></h3>
<h3>Adoptable: <%= @pet.adoptable %></h3>
<h3>Location: <%= @pet.shelter_name %></h3>

<p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
