<h1><%= @pet.name %></h1>
<p><%= @pet.age %> years old</p>
<p><%= @pet.breed %></p>
<p><%= @pet.adoptable %></p>
<p><%= @pet.shelter_name %></p>

<p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
