<div class="d-flex align-items-center justify-content-center">
  <h1><%= @pet.name %>'s Page'</h1>
</div>

<h3>Name: <%= @pet.name %></h3>
<h3>Age: <%= @pet.age %> years old</h3>
<h3>Breed: <%= @pet.breed %></h3>
<% if @pet.adoptable %>
  <h3>Adoption Status: Adoptable</h3>
<% else %>
  <h3>Adoption Status: Not Adoptable</h3>
<% end %>
<h3>Shelter: <%= @pet.shelter_name %></h3>

<p><%= link_to "Update #{@pet.name}", "pets/#{@pet.id}/edit" %></p>
<p><%= link_to "Delete #{@pet.name}", "/pets/#{@pet.id}", method: :delete %></p>
