<h2>Applications</h2>
<p>Applicant: <%= @application.first_name %>  <%= @application.last_name %></p>
<p>Applicant Address: <%= @application.str_address %>  <%= @application.city %> <%= @application.state %> <%= @application.zip %></p>
<p>Why they would be a good home: <%= @application.home_description %> </p>
<p>Status: <%= @application.status %> </p>

<p>Pets applying for:</p>

<% @application.pets.each do |pet| %>
  <p> <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %> </p>
  <% if pet.pet_app_approved?(pet.id, @application.id)  %>
    <%= "#{pet.name}'s adoption was approved!" %>
  <% elsif pet.pet_app_rejected?(pet.id, @application.id) %>
    <%= "#{pet.name}'s adoption was rejected" %>
  <% elsif @application.status == "Pending" %>
    <p><%= button_to "Approve #{pet.name}'s Adoption", "/application_pets", method: :patch, params: {pet_status: "Approved", pet_id: pet.id, id: @application.id, adoptable: false} %> </p>
    <p><%= button_to "Reject #{pet.name}'s Adoption", "/application_pets", method: :patch, params: {pet_status: "Rejected", pet_id: pet.id, id: @application.id, adoptable: true} %> </p>
  <% end %>
<% end %>
