<h1><%= @application.name %>'s Application</h1>

<ul>
  <li>Name: <%= @application.name %></li>
  <li>Address: <%= @application.street_address%>, <%= @application.city%> 
  <%=@application.state%> <%=@application.zip%></li>
  <li><%=@application.description%></li>
  <li>Pets: <% @applicationpets.each do |appPet|%>
  <% if appPet.approved == nil %>
      <%= form_with url: "/admin/applications/#{@application.id}/?pet_id=#{appPet.pet_id}", method: :patch, local: true do |form| %>
      <%=link_to "#{appPet.find_name}", "/pets/#{appPet.pet_id}"%>
          <%= form.submit "Approve #{appPet.find_name}"%>
          <%= form.submit "Reject #{appPet.find_name}"%> 
  <% end %>
  <% else %>
  <span><%= appPet.find_name %>:Approved <%= appPet.approved %></span>
  <% end %>
  <% end %>
  </li>
  <li>App Status: <%= @application.status %>

<% if @application.pets.empty? != true %>
<%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
<% form.label :description%>
Why would you make a good owner for these pet(s)
<%=form.text_field :description %><br>
<%=form.submit "Submit Application"%>
<% end %>
<% end %>

</ul>

<% if @application.status == "In Progress" %>
  <%= render partial: '/partials/search_form', locals: {path: "/applications/#{@application.id}/?name=", method: :get, button_text: 'Search'} %>
    <% if params[:name] %>
    <%= render partial: '/partials/adopt_form' %>
    <% end %>
<% end %>
