<h1>All Shelters(Admin) Reverse Alphabetical Order</h1>
<ul>
<%== @shelters.each do |s| %>
<li>ID: <%= s.id %></li>
<li>Foster Program: <%= s.foster_program %></li>
<li>Name: <%= s.name %></li>
<li>City: <%= s.city %></li>
<li>Rank: <%= s.rank %></li>
<p>---------------------------</p>
<% end %>
</ul>
<h2>Shelters with Pending applications:</h2> 

<p>
<% if @shelters_pending.empty? != true %>
  <%@shelters_pending.each do |shelter_name|%>
    <%=shelter_name%>
  <% end %>
<% end %>
</p>