<h1>Admin Application Show Page</h1>

<p>Name: <%= @application.name %></p>
<p>Full Address: <%= @full_address %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>
 

<%= render "shared/admin_pet_decisions" %> 