<h2> Applicant info: </h2>
<p>Name: <%= @applicant.first_name %> <%= @applicant.last_name %></p>
<p>Address: <%="#{@applicant.street_address} #{@applicant.city}, #{@applicant.state} #{@applicant.zip}"%></p>
<p>Why I would make a good home: <%= @applicant.description %></p>
<p>Application Status: <%= @applicant.status%></p>

<section>
    <h3>Pets I want to Adopt: </h3>
    <div id="applicant-<%= @applicant.id %>" >
      <% @applicant.pets.each do |pet|%>
        <p>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
        <% if @app.approved?(@applicant.id, pet.id) == nil %>
          <%= button_to "Approve Addoption for #{pet.name}", "/admin/applicants/#{@applicant.id}", params: {approved: true, pet_id: "#{pet.id}"}, method: :patch %>
        <% elsif @app.approved?(@applicant.id, pet.id) == true %>
          <%= " - Adoption Aprroved for #{pet.name}" %>
        <% elsif @app.approved?(@applicant.id, pet.id) == false %>
          <%= " - Adoption Rejected for #{pet.name}" %>
        <% end %>
        </p>
      <% end %>
    </div>
</section>