<h1>Applicants</h1>

<% @applicants.each do |applicant| %>
  <h3><%= applicant.name %></h3>
  <p>
    <%= applicant.street_address %>
    <%= applicant.city %>
    <%= applicant.state %>
    <%= applicant.zip_code %>
  </p>
<% end %>
