<%= form_with url: '/applicants', method: :post, local: true do |form| %>
  <h1> Application form </h1>

  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :street_address %>
  <%= form.text_field :street_address %>
  <br>
  <%= form.label :city %>
  <%= form.text_field :city %>
  <br>
  <%= form.label :state %>
  <%= form.text_field :state %>
  <br>
  <%= form.label :zip_code %>
  <%= form.text_field :zip_code %>
<br>
<%= form.label :description %>
<%= form.text_area :description %>
<br>
  <%= form.submit "submit"%>
<% end %>
