<%=  form_with url:'/applicants', method: :post,local: true do |form| %>
<%= form.label :name, "Name:" %>
<%= form.text_field :name %>
<br>
<%= form.label :street_address, "Street Address:" %>
<%= form.text_field :street_address %>
<br>
<%= form.label :city, "City:" %>
<%= form.text_field :city %>
<br>
<%= form.label :state, "State:" %>
<%= form.text_field :state %>
<br>
<%= form.label :zip_code, "Zip Code:" %>
<%= form.number_field :zip_code %>
<br>
<%= form.label :description, "Description of why I would make a good home:" %>
<p><%= form.text_area :description %></p>
<%= form.submit %>

<% end %>
