<% states = [ 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY' ]  %>

<h1> New Application </h1>
<%= form_with url: "/applicants", method: :post, local: true do |f| %>
  <%= f.label :first_name, 'First Name:' %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, 'Last Name:' %>
  <%= f.text_field :last_name %>

  <%= f.label :street_address, 'Street Address:' %>
  <%= f.text_field :street_address %>

  <%= f.label :city, 'City:' %>
  <%= f.text_field :city %>

  <%= f.label :state, 'State: ' %>
  <%= f.select :state, states %>

  <%= f.label :zipcode, 'Zipcode:'%>
  <%= f.text_field :zipcode %>

  <%= f.label :description, 'Description:' %>
  <%= f.text_field :description %>

  <%= f.label :status, 'Status' %>
  <%= f.text_field :status %>

  <%= f.submit "Create Application"%>

  <% if flash[:alert].present? %>
    <p style='font-size:150%; color:red;'><%= flash[:alert] %></p>
  <% end %>

<% end %>
