<h2>Applicant Name: <%= @applicant.name %></h2>
<p>Address: <%= @applicant.street_address %></p>
<p>
  City: <%= @applicant.city %>
  State: <%= @applicant.state %>
  Zip Code: <%= @applicant.zip_code %>
</p>
