<p><strong><center><%=@applicant.name%></center><strong><p>
<p><strong>Street address:</strong> <%= @applicant.street_address %>, <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip_code %></p>
<p>Status<%= @applicant.status %>