<h3><%= @applicant.name %></h3>

<ul>
  <li><%= @applicant.address_line_1 %></li>
  <li><%= @applicant.city %></li>
  <li><%= @applicant.state %></li>
  <li><%= @applicant.zipcode %></li>
  <li><%= @applicant.description %></li>
  <li><%= @applicant.status %></li>
</ul>
