<h1><%= @applicant.name %></h1>
<p><%= @applicant.street_address %>, <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip_code %></p>
<p><%= @applicant.description %></p>
<p><%= @applicant.application_status %></p>

<h3><% @applicant.pets.each do |pet| %></h3>
  <h4><%=  pet.name  %></h4>
  <h4><%=link_to "#{pet.name}", "/pets/#{pet.id}", id: "pet-#{pet.id}" %></h4>
<% end %>