Application for <%= @applicant.name %>

<p>Address: <%= @applicant.street_address %> <%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip %></p>

<p>Description:</p>

<p>Pets Wanted:</p>

<p>Status:</p>
