<center><h1>Applicants</h1></center>
  <h3><center>Name: <%= @applicant.name %></center></h3>
  <h5><center>Street Address: <%= @applicant.street_address %></center></h5>
  <h5><center>City: <%= @applicant.city %></center></h5>
  <h5><center>State: <%= @applicant.state %></center></h5>
  <h5><center>Zip Code: <%= @applicant.zip_code %></center></h5>
  <h5><center>Why you would be a good home: <%= @applicant.description %></center></h5>
  <h5><center>Status: <%= @applicant.status %></center></h5>
  <p> <% @applicant.pets.each do |pet|%> </p>
    <p><center><%= link_to "#{pet.name}", "/pets/#{pet.id}"%><p></center>
  <% end %>
<br>




<% if @applicant.pets && @applicant.status == "In Progress" %>

  <center><%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
  <h4>Add a pet to this application</h4>
  <%= f.label :search_name %>
  <%= f.text_field :search_name %>
  <%= f.submit "Search" %>
 <% end %>
 <% if @applicant.pets.present? && @applicant.status == "In Progress" %>
 <center><%= form_with url: "/applicants/#{@applicant.id}", method: :patch, local: true do |f| %>
    <%= f.label :description, "Why you would be a good home" %>
    <%= f.text_area :description %>
    <%= f.submit "Submit" %>
  <% end %></center>
  <% end %>
<% end %></center>
<br>
<% if params[:search_name]  %>

<% @pets = Pet.pet_name_filter(params[:search_name]) %>
  <% @pets.each do |pet| %>
 <center><div id="pet_<%= pet.id %>">
    <%= button_to "Adopt This Pet!", "/applicants/#{@applicant.id}", method: :get, params: { pet_id: pet.id }, local: :true %>
    <%= pet.name %>
  </div>
  </center>
  <% end %>
<% end %>
 



