<h1><%= @applicant.name %></h1>
<h3><%= @applicant.address %></h3>
<h3><%= @applicant.city %></h3>
<h3><%= @applicant.state %></h3>
<h3><%= @applicant.zip %></h3>
<h4><%= @applicant.description %></h4>
<h3>Application Status: <%= @applicant.status %></h3>
<hr><br>

<% if @selected_pets.length > 0 && @applicant.description == nil%>
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
    <h4>Why I would make a good owner for these pet(s)?</h4>
    <%= f.text_area :description %><br>
    <%= f.submit "Submit Application" %>
  <% end %>
<% end %>

<% if @applicant.status == "In Progress" %>
  <hr><br>
  <h2>Add Pets To This Application</h2>
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
<% end %>

<% @pets.each do |pet| %>
  <h4><%= link_to "#{pet.name}", "/pets/#{pet.id}"%></h4>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
    <%= hidden_field_tag 'selected_pet_id', pet.id  %>
    <%= f.submit "Adopt"%><br><hr>
  <% end %>
  <br><hr>
<% end %>

<h2>Selected Pets</h2>
<% @selected_pets.each do |pet| %>
  <h4><%= pet.name%></h4>
  <p>Age: <%= pet.age %></p>
  <p>Breed: <%= pet.breed %></p>
<% end %>
<br><hr>

<p><%= link_to "Update", "applicants/#{@applicant.id}/edit" %></p>
<p><%= link_to "Delete", "/applicants/#{@applicant.id}", method: :delete %></p>
