<h3><%= @applicant.name %></h3>

<ul>
  <li><%= @applicant.address_line_1 %></li>
  <li><%= @applicant.city %></li>
  <li><%= @applicant.state %></li>
  <li><%= @applicant.zipcode %></li>
  <li><%= @applicant.description %></li>
</ul>

<h2>Pets Applied For</h2>
<p><% @applicant.pets.each do |pet| %></p>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>
<li><%= @applicant.status %></li>
