<h1><%= @application.name %></h1>
<h3>Address: </h3>
<p><%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
<h3>Why I'd be a good home for this pet(s):</h3>
<p><%= @application.home_description %></p>

<h3>Pet(s) to adopt:</h3>
<% @added_pets.each do |pet| %>
  <div class="adopt" id="<%= pet.id %>">
    <p><%= pet.name %></p>
  </div>
<% end %>

<h3>Status:</h3>
<p><%= @application.status %></p>

<h2>Search Adoptable Pets:</h2>
<%= form_with  url: "/applicants/#{@application.id}", method: :get, local: true do |form|%>
  <%= form.label :search %>
  <%= form.text_field :search %>
  <%= form.submit 'Search' %>
<% end %>

<% @search_pets.each do |pet| %>
  <div class = "result" id =<%= pet.id %>>
    <p><%= pet.name %></p>
    <%= form_with url: "/applicants/#{@application.id}?pet_id=#{pet.id}", method: :patch, local: true do |form|  %>
      <%= form.submit 'Adopt this Pet' %>
    <% end %>
  </div>
<% end %>

<% if (@added_pets.length > 0) && (@application.status.downcase == 'in progress')%>
  <%= form_with url: "/applicants/#{@application.id}/submit", method: :patch, local: true do |form|  %>
    <%= form.label :home_description, "Why I would make a good owner for these pet(s):" %>
    <%= form.text_area :home_description  %>
    <%= form.submit 'Submit Application'  %>
  <% end %>
<% end %>
