<h1><%= @applicant.name %>'s Application</h1>
<body>
<p><h3>Name: </h3> <%= @applicant.name %> </p>
<br>
<h3><p>Address: </h3></p>
<p> <%= @applicant.street %> </p>
<p> <%= @applicant.city %>,  <%= @applicant.state.upcase %> <%= @applicant.zip %> </p>
<br>
<p><h3>"Description of why You would make a Good Home:" </h3></p>
<p><%= @applicant.good_home %></p>
<br>
<p><h3>Status: </h3> <%= @applicant.status %> </p>
<br>
<p><h3>Currently Applying For: </h3></p>
<p> <% @applicant.pets.each do |pet|%> </p>
  <p> <%= link_to pet.name, "/pets/#{pet.id}" %> </p>
  <br>
<p> <% end %> </p>
<br>
<% if @applicant.status == 'In Progress' %>
  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |form| %>
    <%= form.label :search_name %>
    <%= form.text_field :search_name %>
    <%= form.submit "Search" %>
  <% end %>
  <br>
    <% if params[:search_name] && @searched_pets.empty? %>
      <p> No pets found with that name </p>
    <% elsif params[:search_name] %>
      <% @searched_pets.each do |pet| %>
      <div id="pet-<%= pet.id %>">
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= form_with model: PetApplicant.new, url: "/pet_applicants", local: true, method: :post do |form| %>
        <%= form.hidden_field :pet_id, value: pet.id %>
        <%= form.hidden_field :applicant_id, value: @applicant.id %>
        <%= form.submit "Adopt this Pet" %>
      <% end %> 
    <% end %> 
  <% end %>
    <br> 
<% end %>
<br>
</body>
