<h1><%= @applicant.name %></h1>
<p><%= @applicant.street_address %>, <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip_code %></p>

<h3><% @applicant.pets.each do |pet| %></h3>
  <h4><%=  pet.name  %></h4>
  <h4><%=link_to "#{pet.name}", "/pets/#{pet.id}", id: "pet-#{pet.id}" %></h4>
<% end %>

<p>Why I would make a good home <%= @applicant.description %></p>
<p><%= @applicant.application_status %></p>

<%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |form| %>
 <p> Add a Pet to this Application <%= form.label :pet_name %></p>
  <%= form.text_field :pet_name %>

  <%= form.submit 'Submit' %>
<% end %>

<h3><% @pets.each do |pet| %></h3>
  <h4><%=  pet.name  %></h4>
<% end %>

