<h2> Pet Application for <%= @applicant.first_name %> <%= @applicant.last_name %></h2>

<p><b>Name: </b><%= @applicant.first_name %> <%= @applicant.last_name %></p>
<p><b>Address: </b><%= @applicant.street_address %></p>
<p><b>City: </b><%= @applicant.city %></p>
<p><b>State: </b><%= @applicant.state %></p>
<p><b>Zipcode: </b><%= @applicant.zipcode %></p>
<p><b>Description: </b><%= @applicant.description %></p>
<p><b>Application Status: </b><i><%= @applicant.status %></i></b></p><br>

<h3> Pet(s) Applying for : </h3>

<% @applicant.pets.each do |pet| %>
<h4><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
<% end %><br>

<h3> Add a Pet to this Application </h3>

<%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |form| %>
  <%= form.label :pet_search, "Search: " %>
  <%= form.text_field :pet_search %>
  <%= form.submit "Submit" %>
<% end %>

<% if @pets != nil %>
  <% @pets.each do |pet| %>
    <p><%= pet.name %><%= button_to "Adopt this Pet", "/applicants/#{@applicant.id}?params=pet_adopt", method: :patch %></p>
  <% end %>
<% end %>
