
<h3> Application for <%= @applicant.name  %> </h3>

<%= "Applicant Name: #{@applicant.name}" %><br>
<%= "Street Address: #{@applicant.street_address}" %><br>
<%= "City: #{@applicant.city}" %><br>
<%= "State: #{@applicant.state}" %><br>
<%= "Zipcode: #{@applicant.zipcode}" %><br>
<%= "Description: #{@applicant.description}" %><br>
<%= "Application Status: #{@applicant.status}" %><br>
<%= render partial: "applicants/selected_pets"%>



<%= render partial: "applicants/form"%>
