
<br>
<br>
Applicant Information
<br>
<br>
<div id="applicant-<%=@applicant.id%>">
  Name: <%= @applicant.name %> <br>
  Address: <%= @applicant.street_address %>, <%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip_code %> <br>
  Why I would make a good home: <%= @applicant.description %> <br>
  Application Status: <%= @applicant.status %>
</div>