<h1>name: <%= @applicant.name %></h1>
<h3>address: <%= @applicant.address %></h3>
<h3>name of pets wanting to adopt: <%= @applicant.names_pets_wanted %></h3>
<h3><%= @applicant.description %></h3>
<h3>application_status: <%= @applicant.application_status %></h3>

