<center>
<h1>Application Information</h1>

<h3><%= @applicant.name %></h3>
  <%= @applicant.address_line_1 %>
  <%= @applicant.city %>
  <%= @applicant.state %>
  <%= @applicant.zipcode %>
  <p>What inspires me to adopt today:</p>
  <%= @applicant.description %>
<p>Application status: <%= @applicant.status %></p>


<h2>Pet(s) Applied For</h2>
<p><% @applicant.pets.each do |pet| %></p>
  <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
<% end %>

<h2><p>Find your bestfriend!</p></h2>
<%= form_with url: "/applicants/#{@applicant.id}", method: :get, local: true do |f| %>
<%= f.label :search%>
<%= f.text_field :search %>
<%= f.submit "Search" %>
<% end %>

<% if @pets.nil? == false %>
<% @pets.each do |pet| %>
<h3><%= pet.name %></h3>
<p>Age: <%= pet.age %></p>
<p>Breed: <%= pet.breed %></p>
<p>Adoptable: </p>
<% end %>
<% end %>
</center>
