<br>
<h2> Applicant Information</h2>

<div id="applicant-<%=@applicant.id%>">
<h4>  Name:</h4> <%= @applicant.name %> <br>
<h4>  Address:</h4> <%= @applicant.street_address %>, <%= @applicant.city %>, <%= @applicant.state %> <%= @applicant.zip_code %> <br>
<h4>  Why I would make a good home:</h4> <%= @applicant.description %> <br>
<h4>  Pets Applied For:</h4> <% @applicant.pets.each do |pet|%>
                      <li> <%= pet.name %></li>
                          <% end %>
  <br>
  Application Status: <%= @applicant.status %>
</div>
  <br>
  <br>
<% if @applicant.pets.present? && @applicant.status == "In Progress" %>
    <div id="add_pets">
      Section to add more pets
    </div>

    <div id="submit">
      <%= form_with url: "/applicants/#{@applicant.id}", method: :patch do |form| %>
        <%= form.label :description, "Why would I make a good owner for these pet(s)?" %>
        <%= form.text_area :description %>
        <%= form.submit "Submit" %>
      <% end %>
    </div>
<% elsif !@applicant.pets.present? && @applicant.status == "In Progress" %>
   <div id="add_pets">
      Section to add more pets
    </div>
<% end %>