<center><h1> Admin: Applicant Show Page </h1></center>

<center><h4>Applicant Name: <%= @applicant.name %></h4> </center><br>
<center><p>Has applied for following pet(s):
 <% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <p><%= pet.name %></p>
    <% if PetApplicant.find_pet_app(pet.id, @applicant.id) && PetApplicant.find_pet_app(pet.id, @applicant.id).status == "In Progress" %>
      <%= button_to "Approve", { approve: pet.id } %>
      <%= button_to "Reject", { reject: pet.id } %>
    <% elsif PetApplicant.find_pet_app(pet.id, @applicant.id) && PetApplicant.find_pet_app(pet.id, @applicant.id).status == "Accepted" %>
      <p><%= pet.name %> is all yours!</p>
   <% else %>
    <% PetApplicant.find_pet_app(pet.id, @applicant.id) && PetApplicant.find_pet_app(pet.id, @applicant.id).status == "Rejected" %>
      <p><%= pet.name %> is not all yours.</p>
  <% end %>
   </div> 
<% end %>

                                          
