<h1>Shelters</h1>
<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <p>Foster Program: <%= shelter.foster_program %></p>
  <p>Location: <%= shelter.city %></p>
  <p>Rank: <%= shelter.rank %></p>
<% end %>
<div id="shelters-with-pending-apps">
  <h1>Shelters with Pending Applications</h1>
  <% @pending_shelters.each do |shelter| %>
    <%= shelter.name %>
  <% end %>
</div>
