<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Foster Program: <%= shelter.foster_program %></p>
    <p>City: <%= shelter.city %></p>
    <p>Rank: <%= shelter.rank %></p>
  </div>
<% end %>
