<center><h1>Shelters</h1></center>

<center><% @shelters.each do |shelter| %>
    <h4>Name:</h4><p><%= shelter.name %></p> 
    <h4>City:</h4><p><%= shelter.city %></p> 
    <h4>Foster Program:</h4><p><%= shelter.foster_program %></p> 
    <h4>Rank:</h4><p><%= shelter.rank %></p> 
<% end %></center>
<hr>
<center><h4> Shelters with Pending Apps </h4>
<% Shelter.all.pending_apps.each do |shelter|%>
    <p><%= shelter.name %><p>
<% end %></center>