<h1>Shelter Details</h1>

<p>Name: <%= @shelter_info.first.name %></p>
<p>Address: <%= @shelter_info.first.city %></p>

<h4><%= "Some quick stats about #{@shelter_info.first.name}:" %> </h4>
<p>Adoptable Pets: <%= "#{@adoptablepetscount}" %></p>
<p>Average Age of Adoptable Pets: <%= "#{@avg_age}" %></p>
