<h1><%= @shelter.name %><br></h1>
<h3><%= @address %></h3>

<div id="statistics">
  <p>Average Pet Age: <%= @shelter.adoptable_pets_average_age %></p>
  <p>Number of Adoptable Pets: <%= @shelter.adoptable_pet_count %></p>
  <p>Number of Adopted Pets: <%= @shelter.adopted_pet_count %></p>
</div>

<div id="action_required">
  <p>Action Required</p>
  <ul>
    <% @shelter.action_required_pets.each do |pet| %>
      <li><%= pet.name %></li>
    <% end %>
  </ul>

</div>
