<style>
table, th, td {
  border:1px solid black;
}
</style>

<h1><%= @shelter.name %></h1>
Location: <%= @shelter.city %>
<h2>Statistics:</h2>
<div id="statistics">
<table>
  <tr>
    <td>Average age of adoptable pets:</td>
    <td><%= @shelter.average_age%></td>
  </tr>
  <tr>
    <td>Number of adoptable pets:</td>
    <td><%= @shelter.pet_count %></td>
  </tr>
  <tr>
    <td>Number of pets adopted:</td>
    <td><%= @shelter.adopted_pet_count %></td>
  </tr>
</table>
</div>
<h2>Action Required:</h2>
<div id="action_required">
  <% @shelter.pets_with_pending_apps.each do |pet| %>
  <%= pet.name %>
  <% end %>
</div>