<% @shelter.each do |shelter| %>
<h1><%= shelter.name %></h1>
<h3><%= shelter.city %></h3>
<% end %>
<h4>Shelter Statistics</h4>
<p>Adoptable Pet Count: <%= @shelter_pets.count %></p>
<p>Adoptable Pet Average Age:
  <%= @shelter_average_age %>
</p>
<h4>Action Required</h4>
<div id="action_required">
<% @app_pets_nil.each do |app_pet| %>
  <p><%= link_to "#{app_pet.pet.name}", "/admin/applications/#{app_pet.application.id}" %></p>
<% end %>
</div>