<h1><%= @app.name %></h1>

<h4>Full Address: </h4>
  <p><%= @app.street_address %></p>
  <p><%= @app.city %>, 
  <%= @app.state %> 
  <%= @app.zip_code %></p>
<br> 

<h4>Requested Pets: </h4>

<% @app.pets.each do |pet| %>
<%= pet.name %>
  <%if pet.approved?(@app.id) %>
    <p> Pet has been approved</p>
  <% else %>
    <p><%= button_to "Approve #{pet.name}", "/admin/applications/#{@app.id}?pet_id=#{pet.id}", method: :patch, local: true, params: {pet_status: 1} %></p>
  <% end %>
<% end %>
