<h2>Applicant Name: <%= @application.name %></h2>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>

	<h4>Pets on application:</h4>

	<% @application.pets.each do |pet| %>
	<%= link_to "#{pet.name}","/pets/#{pet.id}" %>
	<% if !@application.application_pending?(pet.id) %>
				<p>You have been <%= @application.application_status(pet.id).downcase %></p>
	<% else %>
		<%= button_to "Approve Application", "/admin/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id, status: "Approved" }  %>
		<%= button_to "Reject Application", "/admin/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id, status: "Rejected"}  %>
	<% end %>
<% end %>
