<h1>Admin Portal</h1>
<h2>Application</h2>
<h3><%= @application.name %></h3>
<h3>Application Status: <%= @application.status %></h3>
<p>Pets applying for:</p>

<% @pets.each do |pet| %>
<ul>
  <li><%= pet.name %>
    <% if pet.has_accepted_application(@application) %>
      This pet has already been approved for adoption

    <% elsif pet.pet_app(@application).approved.nil? %>
      <%= form_with url: "/pet_applications/#{pet.pet_app(@application).id}", method: :patch, local: true do |form|%> 
      <%= form.hidden_field :approved, value: true %>
        <%= form.submit "Approve #{pet.name}" %>
      <% end %>

      <%= form_with url: "/pet_applications/#{pet.pet_app(@application).id}", method: :patch, local: true do |form|%> 
        <%= form.submit "Reject #{pet.name}" %>
      <% end %>

    <% elsif pet.pet_app(@application).approved == true %>
      is Approved

    <% else pet.pet_app(@application).approved == false %>
      is Rejected      
    <% end %>

  </li>
</ul>
<% end %>