<h3><%= @application.name%></h3>
<h3>Address:</h3>
<p><%= @application.street %> 
<%= @application.city %> 
<%= @application.state %> 
<%= @application.zipcode %> </p>
<p>Application description: <%= @application.description %> </p>
<p>Application status: <%= @application.status %> </p>

<h3>Application pets:</h3>
<% @application.pets.each do |pet| %> 
  <div id="pet-<%= pet.id %>">
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </p>
  <% pet.pet_applications.each do |pet_app|  %>
    <% if pet_app.application_id == @application.id %> 
      <% if pet_app.app_status == "Approved" %>
        <p>Approved</p>
      <% elsif pet_app.app_status == "Rejected" %>
        <p>Rejected</p>
      <% else pet_app.app_status == nil %>
        <% if pet.adoptable == false %>
          <p>This pet has been approved for adoption</p>
          <% else %>
            <%= button_to "Reject Application", "/admin/applications/#{@application.id}", method: :patch, params: { status: 'Rejected', pet_id: pet.id } %> 
            <%= button_to "Approve Application", "/admin/applications/#{@application.id}", method: :patch, params: { status: 'Approved', pet_id: pet.id } %> 
        <% end %>    
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>

