<h3><%= @application.name%></h3>
<h3>Address:</h3>
<p><%= @application.street %> 
<%= @application.city %> 
<%= @application.state %> 
<%= @application.zipcode %> </p>
<p>Application description: <%= @application.description %> </p>
<p>Application status: <%= @application.status %> </p>

<h3>Application pets:</h3>
<% num = 0 %>
<% @pet_apps.each do |pet_app|  %>
  <div id="pet-<%= pet_app.pet_id %>">
  <p><%= link_to "#{@pets[num].name}", "/pets/#{@pets[num].id}" %> </p>
  <% num += 1 %>
  <% if pet_app.status == "Approved" %>
    <p>Approved</p>
  <% elsif pet_app.status == "Rejected" %>
    <p>Rejected</p>
  <% else pet_app.status.nil? %>
    <%= button_to "Reject Application", "/admin/applications/#{@application.id}", method: :patch, params: {status: 'Rejected', pet_id: pet_app.pet_id } %> 
    <%= button_to "Approve Application", "/admin/applications/#{@application.id}", method: :patch, params: {status: 'Approved', pet_id: pet_app.pet_id } %> 
  <% end %>
  </div>
<% end %>

