<h4><%= @application.name%>'s Application</h4>
<h5>Pets Applied For</h5>
<% @application.pet_applications.each do |pet_app| %>
<div class="pet_app-<%=pet_app.id%>">
<%= pet_app.pet.name %>

  <% if pet_app.status == "Pending" %>
  <p><%= button_to "Approve", "/admin/applications/#{@application.id}", params: {approve: pet_app.id}, method: :patch %>
  <%= button_to "Reject", "/admin/applications/#{@application.id}", params: {reject: pet_app.id}, method: :patch %></p>

  <% elsif pet_app.status == "Approved" %>
  <p>Approved for Adoption</p>

  <% elsif pet_app.status == "Not Approved"%>
  <p>Not Approved</p>
  <% end %>
</div>
<% end %>

<h4>Application Status: <%= @application.status %></h4>
