<h1>Admin View-Applications</h1>

<div id = "applications_admin">
    <h2>Pets Requested on Application</h2>
    <h3>Applicant Name: <%=@application.name%></h3>
    <h4>Application Status:<%=@application.app_status%></h4>
    <%@pet_applications.each do |pet_application|%>
    <div id="pet-<%=pet_application.id %>">
     <p><b>Pet name:</b> <%= pet_application.pet.name %></p>
      <p><b>Status: </b><%= pet_application.status %></p>
      <% if pet_application.status == "Pending" && pet_application.pet.adoptable == true %>
      <p><%= button_to "Approve", "/admin/applications/#{pet_application.id}", method: :patch, params:{:status=>"Approved"} %></p>
      <p><%= button_to "Reject", "/admin/applications/#{pet_application.id}", method: :patch, params:{:status=>"Rejected"} %></p>
      <% elsif pet_application.status == "Pending" && pet_application.pet.adoptable == false %>
      <p>Pet No Longer Adoptable</p>
      <p><%= button_to "Reject", "/admin/applications/#{pet_application.id}", method: :patch, params:{:status=>"Rejected"} %></p>
    <br>
    <% end %>
    <br>
    </div>
    <%end%>

</div>