<h1>Admin Portal</h1>
<h2>Application</h2>
<h3><%= @application.name %></h3>
<h3>Application Status: <%= @application.status %></h3>
<p>Pets applying for:</p>

<% @pets.each do |pet| %>
<ul>
  <li><%= pet.name %>
    <% if pet.has_accepted_application(@application) %>
      This pet has already been approved for adoption
      <%= render partial: 'accept_reject', locals: {pet_app_id: pet.pet_app(@application).id, 
        value: false, 
        button_text: "Reject #{pet.name}"
        } %>

    <% elsif pet.pet_app(@application).approved.nil? %>
      <%= render partial: 'accept_reject', locals: {pet_app_id: pet.pet_app(@application).id, 
      value: true, 
      button_text: "Approve #{pet.name}"
      } %>

      <%= render partial: 'accept_reject', locals: {pet_app_id: pet.pet_app(@application).id, 
      value: false, 
      button_text: "Reject #{pet.name}"
      } %>

    <% elsif pet.pet_app(@application).approved == true %>
      is Approved

    <% else pet.pet_app(@application).approved == false %>
      is Rejected      
    <% end %>

  </li>
</ul>
<% end %>