<h1>Name: <%=  @application.name %></h1>
<h3>Street Address: <%= @application.street_address  %></h3>
<h3>City: <%= @application.city  %></h3>
<h3>State: <%= @application.state  %></h3>
<h3>Zip Code: <%= @application.zip_code  %></h3>
<h3>Why they'd make a great home: <%= @application.description  %></h3>
<h3>Application Status: <%= @application.status  %></h3>

<% if @application.status == "Pending" %>
  <h3>Interested in Adopting: </h3>
  <% @application.pets.each do |pet| %>
      <h2><%= pet.name %></h2>
      <% if pet.application_status(@application.id) == "Pending" %>
        <%= button_to "Approve #{pet.name}", "/admin/applications/#{@application.id}/#{pet.id}/Approved", method: :patch %>
        <%= button_to "Reject #{pet.name}", "/admin/applications/#{@application.id}/#{pet.id}/Rejected", method: :patch %>
      <% else %>
        <h2><%= pet.application_status(@application.id) %></h2>
      <% end %>
  <% end %>
<% end %>