<h1><%= @application.applicant_name %>'s Application</h1>

<h2>Applicant Information</h2>
<p>Applicant Name: <%= @application.applicant_name %><br>
   Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %> <%= @application.zipcode %><br>
   Expression of interest: <%= @application.why %><br>
   Application Status: <%= @application.application_status %><br>
</p>

<div id="petsonapp">
<h3>Pets on Application</h3>
<% @application.get_pets(@application.id).each do |pet| %>
  <%= link_to pet.name, "/pets/#{pet.id}" %><br>
  <% binding.pry %>
  <% if pet.app_stat(@application.id, pet.id) != "Approved" && pet.app_stat(@application.id, pet.id) != "Rejected" %>
    <%= form_with url: '/admin/applications', method: :patch, local: true do |form| %>
      <%= form.hidden_field :pet_id, value: pet.id %>
      <%= form.hidden_field :app_id, value: @application.id %>
      <%= form.submit "Approve #{pet.name}" %>
      <%= form.submit "Reject #{pet.name}" %>
    <% end %>
  <% else %>
    <p><%= pet.name %> <%= pet.app_stat(@application.id, pet.id) %></p>
  <% end %>
<% end %>
</div>
