<h1>Application</h1>
<p>Name: <%= @application.name %></p>
<p>Address: <%= "#{ @application.street }" %>
<%= "#{@application.city}, #{ @application.state }   #{ @application.zip }" %></p>
<p>Applicants reason: <%= @application.applicant_argument %></p>
Pet(s) applied for: 
<ul>

<% @pets.each_with_index do |pet, index|%>
  <div id="<%= pet.id %>">
  <li><%= pet.name %>
  <% if pet.adoptable && @application_pets[index].approved = "Pending" %>
    <%= button_to "Approve", "/admin/applications/#{ @application.id }?pet_id=#{pet.id}" %>
    <%= button_to "Reject", "/admin/applications/#{ @application.id }?reject_pet_id=#{pet.id}" %>
  <% elsif %>
    <b><%= "#{@application_pets[index].approved}" %></b>
  <% end %>
  </div>
<% end %>
</ul>