<h2>Applicant name: <%= @application.name %></h2>
<p>Address: <%= @application.address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip %></p>
<p>Description: <%= @application.description %></p>

	<h4>Pets on application:</h4>

	<% @application.pets.each do |pet|%>
		<% if pet.adoptable %>
			<%= pet.name %>
			<%= button_to "Approve", "/admin/applications/#{@application.id}", method: :patch, params: {approve: pet.id}%>
			<%= button_to "Reject", "/admin/applications/#{@application.id}", method: :patch, params: {reject: pet.id}%>
			<% else %>
			   <p><%= pet.name %> has been approved!</p>
		<% end %>
   <% end %>
