<h1><%= @application.name%>'s Application</h1>

<h2>Status: <%= @application.status %></h2>

<h3>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zipcode %></h3>

<p> Why I would make a good home for this pet:
<br>
<%= @application.description %> </p>


<%= @application.id%>
<p>Pet(s) Applying for: </p>
<% @pets.each do |pet|%>
  <div class="pet_<%=pet.pet_id%>">
    <% if pet.application_status == nil %>
      <p><%= pet.name %></p>
      <%= button_to "Approve", "/admin/applications/#{@application.id}/#{pet.pet_id}/update?approve=true", local: true, method: :patch  %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}/#{pet.pet_id}/update?approve=false", local: true, method: :patch  %></p>
    <% elsif pet.application_status == "Approved" %>
      <p><%= pet.name %></p>
      <p>Approved</p>
    <% elsif pet.application_status == "Rejected" %>
      <p><%= pet.name %></p>
      <p>Rejected</p>
    <% end %>
    <%= pet.application_status %>
    <%= pet.pet_id %>
  </div>
<%end%>
