<h1>Start New Application</h1>
<%= form_with url: "/applications", method: :post, local: true do |form| %>
  <%= form.label "Applicant Name:" %>
  <%= form.text_field :name %>
  <%= form.label "Street Address:" %>
  <%= form.text_field :street_address %>
  <%= form.label "City:" %>
  <%= form.text_field :city %>
  <%= form.label "State:" %>
  <%= form.text_field :state %><br>
  <%= form.label "Zip Code:" %>
  <%= form.text_field :zip_code %>
  <%= form.hidden_field :status, value: "In Progress" %>
  <%= form.submit %>
<% end%>