<h1>Edit Shelter</h1>
<%= form_with url: "/veterinary_offices/#{@vet_office.id}", method: :patch, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :boarding_services %>
  <%= f.check_box :boarding_services %>

  <%= f.label :max_patient_capacity %>
  <%= f.number_field :max_patient_capacity %>

  <%= f.submit %>
<% end %>
