<h1>All veterinarians</h1>

<%= link_to "Sort alphabetically", "/veterinary_offices/#{@veterinary_office.id}/veterinarians?sort=alphabetical" %>

<% @office_vets.each do |vet| %>
  <section id="veterinarian-<%= vet.id %>">
    <h3><%= vet.name %></h3>
    <p>Rating: <%= vet.review_rating %></p>
    <p>Practice: <%= vet.office_name %></p>
    <%= link_to "Edit #{vet.name}", "/veterinarians/#{vet.id}/edit" %>
    <%= link_to "Delete #{vet.name}", "/veterinarians/#{vet.id}", method: :delete %>
  </section>
<% end %>

<%= form_with url: "/veterinary_offices/#{@veterinary_office.id}/veterinarians", method: :get do |form| %>
  <%= form.label "Only display veterinarians with a review rating of at least..." %>
  <%= form.select :review_rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
  <%= form.submit "Filter" %>
<% end %>

<p><%= link_to "Create a Veterinarian", "/veterinary_offices/#{@veterinary_office.id}/veterinarians/new" %></p>
