<h1> Application Details </h1>
<p>Name: <%= @adopt_app.name %></p>
<p>Address: <%= @adopt_app.street_address %> <%= @adopt_app.city %>, <%= @adopt_app.state %> <%= @adopt_app.zip_code %></p>
<p>Description: <%= @adopt_app.description %></p>
<% @pets.each do |pet| %>
  <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a></p>
<% end %>
<p>Status: <%= @adopt_app.status %></p>

<% if @adopt_app.status == "In Progress" %>
  <br><%= form_with url: "/adopt_apps/#{@adopt_app.id}", method: :get, local: true do |form| %>
<hr>
<h3>  Add a Pet to this Application </h3> 
    <%= form.label(:search_pets, "Search pets by name:") %>
    <%= form.text_field(:search_pets) %>
    <%= form.submit("Search") %>
  <% end %><br>
<% end %>

<% if @searched_pets != nil %>
  <% @searched_pets.each do |pet| %>
    <div id="<%= pet.id %>"><%= pet.name %> 
      <%= button_to "Adopt This Pet", "/adopt_apps/#{@adopt_app.id}", form: {style: 'display:inline-block;'}, method: :patch, params: {pet_id: pet.id} %>
    </div><br>
  <% end %>
<% end %>