<h1> New Owner Application Form </h1>

  <%= label_tag 'Name:' %>
  <%= text_field_tag :name %><br>
  <%= label_tag 'Street Address' %>
  <%= text_field_tag :street_address %><br>
  <%= label_tag 'City' %>
  <%= text_field_tag :city %><br>
  <%= label_tag 'State' %>
  <%= text_field_tag :state %><br>
  <%= label_tag 'Zip Code:' %>
  <%= text_field_tag :zip_code %><br>

  <%= submit_tag 'Submit Application' %>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end%>
