<h1> New Owner Application Form </h1>

  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :address %>
  <%= text_field_tag :address %><br>
  <%= label_tag :city %>
  <%= text_field_tag :city %><br>
  <%= label_tag :state %>
  <%= text_field_tag :state %><br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip %><br>
  <%= label_tag(" Why would you make a great pet owner?") %>
  <%= text_field_tag :description %><br>

  <%= submit_tag 'Submit Application' %>

  <% end %>

<% flash.each do |type, message| %>
  <p><%= message %></p>
<% end%>
