
<h3>Application for: <%= @application.name %></h3>
<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>

<p>Why would you make a great pet owner?: <%= @application.description %></p>

<p>Application Status: <%= @application.status %></p>
<%= if pet_application.status = N/A %>
  <%= form_with url: "/pets", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
<% end %>
