
<h3>Application for: <%= @application.name %></h3>
<p>Name: <%= @application.name %></p>

<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>

<% if @application.pets == true %>
  <p>Why would you make a great pet owner?: <%= @application.description %></p>
<% end %>



<p>Application Status: <%= @application.status %></p>

<% if @application.status == "In Progress" %>
  <h3>Add a pet to this application: </h3>

  <%= form_with url: "/owner_applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= hidden_field :id, @application.id %>
    <%= f.submit "Submit" %>
  <% end %>
  <% if !@pets.nil? %>
    <% @pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <br>
    <% end %>
  <% end %>
<% end %>
