<h1>Add Description</h1>

<%= form_with url: "/apps/#{@app.id}", method: :patch, local: true do |form| %>
  <p><%= form.label :description, 'Add a description' %>
  <%= form.text_area :name, size: '60x5' %></p>
  <%= form.hidden_field :status, value: 'pending' %>
  <p><%= form.submit 'Submit Application' %></p>
<% end %>
