<% @apps.each do |application| %>
  <section id="application-<%= application.id %>">
    <h1><%= link_to "#{application.name}", "/apps/#{application.id}" %></h1>
    <p><%= application.address %></p>
    <p><%= application.city %></p>
    <p><%= application.state %></p>
    <p><%= application.zip %></p>
    <p><%= application.description %></p>
  </section>
<% end %>