<h1>New Application</h1>
<%= form_with url: '/apps/:id', method: :post, local: :true do |form| %>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
    <%= form.label :address, 'Street Address' %>
    <%= form.text_field :address %>
    <%= form.label :city, 'City' %>
    <%= form.text_field :city %>
    <%= form.label :zip_code, 'Zip Code' %>
    <%= form.text_field :zip_code %>
    <%= form.label :description, 'Description' %>
    <%= form.text_field :description %>
    <%= form.submit 'Submit' %>
<% end %>
<% if @errors.present? %>
       <p><%= @errors %></p>
<% end %>