<h1>Application Show Page</h1>

<p>Name: <%= @app.name %></p>
<p>Address:</p>
<p><%= @app.address %></p>
<p><%= "#{@app.city}, #{@app.zip_code}" %></p>
Description: <%= @app.description %>
Status: <%= @app.status %>
<h3>Links to Pets</h3>
<% if @app.pets %>
  <% @app.pets.each do |pet| %>
    <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
<% end %>

Pets Interested in:
<ul id="pets_wanted">
<% @app.pets.each do |pet| %>
  <li>
  Name: <%= pet.name %>
  Age: <%= pet.age %>
  </li>
<% end %>
</ul>

<%= form_with url: "/apps/#{@app.id}", method: :get, local: :true do |form| %>
  <p>Add a Pet to this Application:</p>
  <%= form.label :search, "Search" %>
  <%= form.text_field :search %>
  <%= form.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <div id="pet_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= button_to "Adopt this pet", "/apps/#{@app.id}", method: :get, params: { pet_id: pet.id }, local: :true %>
    </div>
  <% end %>
<% end %>

<% if @app.pets.count > 0 %>
  <div id="submit_app">
    <%= form_with url: "/apps/#{@app.id}", method: :patch, local: :true do |form| %>
      <p>Please describe why you would make a good owner for these pet(s):</p>
      <%= form.label :description, "Description" %>
      <%= form.text_field :description %>
      <%= form.hidden_field :status, value: "Pending" %>
      <%= form.submit "Submit Application" %>
    <% end %>
  </div>
<% end %>

<h2>List of Shelter Pets</h2>
<% @app.shelter.pets.each do |pet| %>
  <p><%= pet.name %></p>
<% end %>