<h1><%= @app.name %>'s Page</h1>

<h3>Address:</h3>
<p>Street: <%= @app.address %></p>
<p>City: <%= @app.city %></p>
<p>State: <%= @app.state %> </p>
<p>Zip Code: <%= @app.zip %></p>
<p>Description: <%= @app.description %></p>
<p>Application Status: <%= @app.status %></p>

<p>Pets: <% @app.pets.each do |pet| %></p>
    <%= link_to "{pet.name}", "/pet/#{pet.id}" %>
<% end %>

<% if @app.status == "In Progress" %>
  <p><%= form_with url: "/apps/#{@app.id}", method: :get, local: true do |form| %>
    <h3><%= form.label :search, "Add a Pet to this Application" %>:</h3>
    <%= form.text_field :search %>
    <%= form.submit "Search" %></p>
  <% end %>

  <div id="Submit">
    <%= form_with url: "/apps/#{@app.id}", method: :patch, local: true do |form| %>
      <%= form.label :description, "Why do you think you'll be a good pet owner?"%>
      <%= form.text_field :description %>
      <%= form.hidden_field :status, value: 'Pending', disabled: @app.pets.empty? %>
      <%= form.submit "Submit", disabled: @app.pets.empty? %>
    <% end %>
  </div>
  
  Pets: 
  <% if params[:search] %>
    <div id="james">
    <% @search_pets.each do |p| %>
      <%= p.name %>
      <%= button_to "Adopt this Pet", "/app_pets/new", method: :post, params: { :app_id => @app.id, :pet_id => p.id}  %>
    </div>
    <% end %>
  <% end %>
<% end %>