<h1>Name: <%= @app.name %></h1>
<p>Address: <%= @app.address %></p>
<p>City: <%= @app.city %></p>
<p>State: <%= @app.state %></p>
<p>ZIP: <%= @app.zip %></p>
<p>Description: <%= @app.description %></p>
<p>
  Pets: <% @app.pets.each do |pet| %>
  <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
  <% end %>
</p>
<p>Status: <%= @app.status %></p>

<% if @app.status == "in progress" %>
  <%= render partial: 'search' %>
<% end %>