<h1>Application Show Page</h1>

Name: <%= @app.name %>
Address: <%= @app.address %>
City <%= @app.city %>
State: <%= @app.state %>
Zip Code: <%= @app.zip_code %>
Description: <%= @app.description %>
links_to_pets: <%= @app.links_to_pets %>
Status: <%= @app.status %>