<h1>Application Show Page</h1>

<p>Name: <%= @app.name %></p>
<p>Address:</p>
<p><%= @app.address %></p>
<p><%= "#{@app.city}, #{@app.zip_code}" %></p>
Description: <%= @app.description %>
Status: <%= @app.status %>
<h3>Links to Pets</h3>
<% if @app.pets %>
  <% @app.pets.each do |pet| %>
    <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
<% end %>

<%= form_with url: "/apps/#{@app.id}", method: :get, local: :true do |form| %>
  <p>Add a Pet to this Application:</p>
  <%= form.label :search, "Search" %>
  <%= form.text_field :search %>
  <%= form.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <div id="pet_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= button_to "Adopt this pet", "/apps/#{@app.id}", method: :get, params: { pet_id: pet.id }, local: :true %>
    </div>
  <% end %>
<% end %>
