<h1>Name: <%= @app.name %></h1>
<p>Address: <%= @app.address %> in</p>
<p>City: <%= @app.city %> in</p>
<p>State: <%= @app.state %> in</p>
<p>ZIP: <%= @app.zip %> in</p>
<p>Description: <%= @app.description %> in</p>