<h1>Application Show Page</h1>
<h3><%= @app.shelter.name %></h3>
<p>Name: <%= @app.name %></p>
<p>Address: <%= "#{@app.address}, #{@app.city} #{@app.zip_code}" %></p>
<% if @app.description.present? %>
<p><%= "Description:" + @app.description %><p>
<% end %>
<p>Status: <%= @app.status %><p>
<% if !@app.pets.empty? %>
  <strong><%= "Links to Pets" %></strong>
  <% @app.pets.each do |pet| %>
    <%= link_to pet.name, "/pets/#{pet.id}" %>
  <% end %>
<% end %>

<p>Pets Interested in:</p>
<ul id="pets_wanted">
<% @app.pets.each do |pet| %>
  <li>
  Name: <%= pet.name %>
  Age: <%= pet.age %>
  </li>
<% end %>
</ul>

<%= form_with url: "/apps/#{@app.id}", method: :get, local: :true do |form| %>
  <p>Add a Pet to this Application:</p>
  <%= form.label :search, "Search" %>
  <%= form.text_field :search %>
  <%= form.submit "Submit" %>
<% end %>

<% if !@pets.nil? %>
  <% @pets.each do |pet| %>
    <div id="pet_<%= pet.id %>">
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
      <%= button_to "Adopt this pet", "/apps/#{@app.id}", method: :get, params: { pet_id: pet.id }, local: :true %>
    </div>
  <% end %>
<% end %>

<% if @app.pets.count > 0 %>
  <div id="submit_app">
    <%= form_with url: "/apps/#{@app.id}", method: :patch, local: :true do |form| %>
      <p>Please describe why you would make a good owner for these pet(s):</p>
      <%= form.label :description, "Description" %>
      <%= form.text_field :description %>
      <%= form.hidden_field :status, value: "Pending" %>
      <%= form.submit "Submit Application" %>
    <% end %>
  </div>
<% end %>
<br><br>

<strong>List of Shelter Pets</strong>
<% @app.shelter.pets.each do |pet| %>
  <p><%= pet.name %></p>
<% end %>