<h1><%= @application.name%>'s Application</h1>

<h2>Status: <%= @application.status %></h2>

<h3>Address: <%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zipcode %></h3>

<p> Why I would make a good home for this pet:
<br>
<%= @application.description %> </p>
