<h1>All Applications</h1>

<% @applications.each do |application| %>
  <h3><%= application.name %></h3>
  <p>Street Address: <%= application.street_address %></p>
  <p>City: <%= application.city %></p>
  <p>State: <%= application.state %></p>
  <p>Zipcode: <%= application.zipcode %></p>
  <p>Description: "<%= application.description %>"</p>
  <p>Interested in: <ul><% application.pets.each do |pet| %>
      <li><%= pet.name %>
    <% end %></ul></p>
  <p>Status: <%= application.status %></p>
<% end %>
