<% @applications.each do |applicant| %>
<section id= "application-<%= applicant.id %>">
  <h1><%= applicant.name %></h1>
  <h2><%= applicant.id %></h2>
  <%= applicant.pets.each do |pet| %>
  <p><%= pet.name %></p>
  <% end %>
</section>
<% end %>
