<%= form_with url: '/applications/new', method: :post, local: true do |form| %>
<%= form.label :name, "Your Name:" %>
<%= form.text_field :applicant_name %>
<br>
<%= form.label :street_address, "Street Address:" %>
<%= form.text_field :app_street %>
<br>
<%= form.label :city, "City:" %>
<%= form.text_field :app_city %>
<br>
<%= form.label :state, "State:" %>
<%= form.text_field :app_state %>
<br>
<%= form.label :zip_code, "Zip:" %>
<%= form.text_field :app_zip_code %>
<br>
<%= form.submit "Submit Application" %>
<% if flash[:messages] %>
  <% flash[:messages].each do |message| %>
    <h3><%= message %></h3>
  <%end%>
<% end %>
<% end %>









