<h1>New Application</h1>

<%= form_with url: '/applications', method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :street_address %>
  <%= form.text_field :street_address %>
  <%= form.label :city %>
  <%= form.text_field :city %>
  <%= form.label :state %>
  <%= form.text_field :state %>
  <%= form.label :zip %>
  <%= form.text_field :zip %>

  <%= form.submit "Submit" %>
<% end %>
