<h1>Application Preview</h1>
<p>Applicant Name: <%= @application.name %></p>
<br>
<p>Applicant Address: <%= @application.street_address %> <%=@application.city %>, <%= @application.state%> <%= @application.zip%> </p>
<br>
<p>Application Justification: <%= @application.description %></p>
<br>
<p>Pets Applied For <% @application.pets.each do |pet| %>
                          <%= link_to "#{pet.name}", "/pets/#{pet.id}"%>
                    <% end%></p>
                    <br>
<p>Application Status: In Progress <%= @application.status %></p>
<br>
<br>
<% if @application.in_progress? %>
      <div>
            <h3>Add a Pet to this Application</h3>
            <%= form_tag("/applications/#{@application.id}", method: :get, local: true) do %>
            <p>Enter Pet Name:</p>
            <%= text_field_tag(:pet_search, params[:pet_search])%>
            <%= submit_tag ("Find Pet") %>
            <% end %>
            <br>
            <br>
      <% @pets.each do |pet| %>
            <p>Pet Name: <%= pet.name%> <%= button_to 'Adopt this Pet', "/applications/#{@application.id}/application_pets", method: :post, params: {pet_id: pet.id} %><br>
            <p>Breed: <%= pet.breed%><br>
            <p>Age: <%= pet.age%><br>
            <br>
            <br>
      <%end%>
      </div>
<%end%>






