<h1><%= @application.name %></h1>

<h4>Full Address: </h4>
<p><%= @application.street_address %></p>
<p><%= @application.city %>, 
<%= @application.state %> 
<%= @application.zip_code %></p>
<br>
<h4>Description of why they'd be a good home for this pet(s): </h4>
<p><%= @application.description %></p>
<br>
<h4>Requested Pets: </h4>
<p><%= @application.pets_on_app %></p>
<br>
<h4>Application Status: </h4>
<p><%= @application.app_status %></p>
  