<h1>Application Details!</h1>

<p>Applicant's Name: <%= @application.name %></p>
<p>Applicant's Address: <%= @application.street %>
<%= @application.city %>
<%= @application.state %>
<%= @application.zip_code %></p>
<p>Why would you be a good home for a pet? <%= @application.good_home %></p>
<p>Pets Applied For: <% @application.pets.each do |pet| %>
                        <p><%= link_to pet.name, "/pets/#{pet.id}" %></p>
                      <% end %>
<p>Application Status: <%= @application.status %></p>

<%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
  <p><%= f.label "Add a Pet to this Application:" %></p>
  <p><%= f.text_field :pet %></p>

  <%= f.submit "Submit"%>
<% end %>

<% if !@found_pets.empty?%>
  <% @found_pets.each do |pet| %>
    <p><%= pet.name %><%= button</p>
  <% end %>
<% end %>