<p><strong>Full Name: </strong><%= @application.name %></p>
<p><Strong>Street Address: </strong><%= @application.street_address %></p>
<p><Strong>City: </strong><%= @application.city %></p>
<p><Strong>Zip Code: </strong><%= @application.zip_code %></p>
<p><Strong>Why would you make a good home? </strong><%= @application.description %></p>
<p><Strong>Pet Names (list all): </strong><%= @application.pet_names %></p>
<p><Strong>Application Status: </strong><%= @application.application_status %></p>
