Application for <%= @application.name %>

<p>Address: <%= @application.street_address %> <%= @application.city %>, <%= @application.state %> <%= @application.zip %></p>

<p>Description: I would be a great parent because I love dogs.</p>

<p>Pets Wanted: <%= link_to "Lucille Bald", "/pets/#{@pets.id}"%></p>

<p>Status:</p>
