<h1>Application Show Page</h1>
<center><h2>Application Information</h2></center>
<p>Name: <%= @application.name %></p>
<p>Address: <%= @full_address %></p>
<p>Description: <%= @application.description %></p>

<p>Application Status: <%= @application.status %></p>

<br>

<h3>Pet(s) Application Is For:</h3>
<% @applied_pets.each do |pet| %>
    <%= pet.name %>
<% end %> 
<br> 
<br>
<%= form_with url: "/application/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search, "search" %>
    <%= f.text_field :search %>
    <%= f.text_field :id, value: @application.id, hidden: true %> 
    <%= f.submit "Search" %>
  <% end %>

<% if @pets.nil? == false %>
    <% @pets.each do |pet| %>
        <h3><%= pet.name %></h3>
        <p>Age: <%= pet.age %></p>
        <p>Breed: <%= pet.breed %></p>
        <p>Adoptable: </p>
        <p>You can find <%= pet.name %> at <%= pet.shelter_name %>!</p>
        <%= link_to "Edit #{pet.name}", "/pets/#{pet.id}/edit" %>
        <%= link_to "Delete #{pet.name}", "/pets/#{pet.id}", method: :delete %>
    <% end %>
 <% end %>