<h1> <%= "Application #{@application.id}" %> </h1>

<p>Name of Applicant: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<p>Pets applying for: <%= @application.pets %></p>
<p>Application status: <%= @application.status %></p>

