
<h1> Your Application </h1>
<h2> Name: <%= @application.name %> </h2>
<h3> Full Address: <%= @application.full_address %> </h3>
<h3> Description: <%= @application.description %> </h3>
<h3> Status: <%= @application.status %> </h3>
<h2> Your Pets </h2>
<% @application.pets.each do |pet| %>
  <h3> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h3>
<% end %>

<% if @application.status == 'in_progress' %>
  <div id="add-pet-to-app">
    <h2> Add a Pet to this Application </h2>
    <%= form_with url: "/applications/#{@application.id}?search=query", method: :get do |form| %>
      <%= form.label :query %>
      <%= form.text_field :query %>
      <%= form.submit "Search" %>
    <% end %>

    <% @pets_found.each do |pet| %>
      <h3><%= pet.name %></h3>
      <h3> <%= link_to "Adopt #{pet.name}", "/applications/#{@application.id}?search=#{pet.id}", method: :post %> </h3>
    <% end %>
  </div>

  <% if @application.pets.count > 0 %>
    <div id="submission">
      <%= form_with url: "/applications/#{@application.id}?add=description", method: :patch do |form| %>
        <%= form.label :description, "enter a description" %>
        <%= form.text_field :description %>
        <%= form.hidden_field :status, :value => :pending %>
        <%= form.submit "Submit" %>
      <% end %>
    </div>
  <% end %>
<% end %>
