<h1><%= @application.name %></h1>
<h3>Street Address: <%= @application.street_address %></h3>
<h3>City: <%= @application.city %></h3>
<h3>State: <%= @application.state %></h3>
<h3>Zip: <%= @application.zip_code %></h3>
<h3>Description: <%= @application.description %></h3>
<h3>Status: <%= @application.status %></h3>
