<h1><%= @application.name %></h1>

<h3><%= @application.address %></h3>
<h3><%= @application.city %></h3>
<h3><%= @application.state %></h3>
<h3><%= @application.zipcode %></h3>
<h3><%= @application.description %></h3>
<h3><%= @application.pets.each {|pet| pet.name} %></h3>
<h3><%= @application.status %></h3>
