<p>Name: <%= @application.name %></p>
<p>Street Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>

Names of Pets: <% @application.pets.each do |pet| %>
  
  <% end %>
<p>Application Status: <%= @application.application_status %></p>