<body style="background-color:DarkKhaki; color:DarkSlateGrey;">
</body>
<h1>Application from: <%= @application.last %>, <%= @application.first %></h1>

<p>Address: <%= @application.street %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zip %></p>
<p>Desctiption: <%= @application.description %></p>
<p>Pets to Adopt: <% @application.pets.each do |pet| %>
                    <%= pet.name %>
                  <% end%> </p>
<% if @application.status == "In Progress" %>
  <p><%= "Add a pet to this Application" %></p>
  <p><%= "Search Pet Name:" %>
  <br>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
  <p>Search Results:</p>
  <% if @pets != nil %>
    <% @pets.each do |pet| %>
      <%= pet.name %><%= button_to "Adopt this Pet", "/applications/#{@application.id}", method: :patch, params: { pet_id: pet.id } %>
    <% end %>
  <% end %><br>
  <% if @pets_on_application > 0 %>
    <%= button_to "Submit", "/applications/#{@application.id}", method: :patch, params: { status: "Pending" } %>
  <% end %>
<% end %>
<p>Application Status: <%= @application.status %></p>