<h1><%= @application.name %></h1>


<h4>Full Address: </h4>
<p><%= @application.street_address %></p>
<p><%= @application.city %>, 
<%= @application.state %> 
<%= @application.zip_code %></p>
<br>
<h4>Description of why they'd be a good home for this pet(s): </h4>
<p><%= @application.description %></p>
<br>
<h4>Requested Pets: </h4>

<% @application_pets.each do |pet| %>
<%= link_to pet.name, "/pets/#{pet.id}" %>
<% end %>

<br>
<h4>Application Status: </h4>
<p><%= @application.app_status %></p>
  
<h3><%=form_with url: "/applications/#{@application.id}", method: :get, local: true do |form| %>
  <%= form.label :search, "Add a Pet to this Application" %>
  <%= form.text_field :search %>
  <%= form.submit "Search" %>
<% end %>

<% @found_pets.each do |pet|%>
  <%= pet.name %>

  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %>
    <%= form.hidden_field :pet, value: pet.id %>
    <%= form.submit "Adopt this Pet" %>
  <% end %>
<% end %>
