<h1> Your Application </h1>
<h2> Name: <%= @application.name %> </h2>
<h3> Full Address: <%= @application.full_address %> </h3>
<h3> Description: <%= @application.description %> </h3>
<h3> Status: <%= @application.status %> </h3>
<h2> Your Pets </h2>
<% @application.pets.each do |pet| %>
<h3> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h3>
<% end %>
