<div class="container marketing">
  <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Welcome to adopt-don't shop!</h1>
          <p class="lead text-muted">With more adoptable pets than ever, we have an urgent need for pet adopters. Search for dogs, cats, and other available pets for adoption near you.</p>
          <p>
            <a href="/application/new" class="btn btn-primary my-2">Get Started</a>
          </p>
        </div>
      </div>
    </section>




    <!-- Three columns of text below the carousel -->

    <div class="row">
      <div class="col-lg-4" >
        <div class="style="width:70px; height:140">
          <%= image_tag("pics/cat2.jpg", style:'width:75%; height:50%')%>
        </div>
        <h2>Lucille</h2>
        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
        <p><a class="btn btn-secondary" href="/pets/1">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <div class="style="width:70px; height:140">
          <%= image_tag("pics/cat.jpeg", style:'width:50%; height:50%')%>
        </div>
        <h2>Blake</h2>
        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        <p><a class="btn btn-secondary" href="/pets/3">View details »</a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <div class="style="width:50px; height:90">
          <%= image_tag("pics/cat3.jpg", style:'width:77%;')%>
        </div>

        <h2>Lobster</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
        <p><a class="btn btn-secondary" href="/pets/1">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">

        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <div class="style="width:500px; height:500px">
          <%= image_tag("pics/cat4.jpg", style:'width:75%; height:50%')%>
        </div>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <div class="style="width:500px; height:500px">
          <%= image_tag("pics/cat5.jpg", style:'width:75%; height:50%')%>
        </div>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <div class="style="width:500px; height:500px">
          <%= image_tag("pics/cat6.jpg", style:'width:75%; height:50%')%>
        </div>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

  <!-- FOOTER -->
  <footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>© 2017–2021 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
  </footer>
  </main>
