<h1> Application Completed </h1>
<p> Thank you for submitting your application </p>

<p> Applicant ID: <%= @application.id %> </p>
<p> Name: <%= @application.name %> </p>
<p> Address: <%= @application.street_address %>,
<%= @application.city %>,
<%= @application.state %>,
<%= @application.zip %> </p>
<%= @application.description %> </p>

<p> Application Status: <%= @application.status %> </p>

<% @app_pets.each do |app_pet| %>
  <p>Adoption Interest: <%= app_pet.pet.name %></p>
  <% end %>