<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>

<section id="Shelters_pending">
  <h2>Shelter's with Pending Applications</h2>
  <% @applications.each do |application| %>
    <% application.pets.each do |pet| %>
    <%= pet.shelter.name %>
    <% end %>
  <% end %>
</section>