<h1>Admin Shelters Index</h1>

<% @shelters.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
    <p>Created at: <%= shelter.created_at %></p>
    <%= link_to "Update #{shelter.name}", "/shelters/#{shelter.id}/edit" %>
    <%= link_to "Delete #{shelter.name}", "/shelters/#{shelter.id}", method: :delete %>
  </div>
<% end %>

<h2>Shelters with Pending Applications:</h2>

<% @shelters_with_pending_applications.each do |shelter| %>
  <div id="pending<%= shelter.id %>">
    <h3><%= shelter.name %></h3>
  </div>
<% end %>
