<h3><%= @shelter.name %></h3>
<p> Address: <%= @shelter.address%></p>
<p> City / State: <%= @shelter.city%></p>
<p> Zip Code: <%= @shelter.zip%></p>
<% if @shelter.pets.count > 0 %>
    <h4><%= @shelter.name %> Statistics:</h4>
    <p>Average pet age: <%= @shelter.average_pet_age.round(2)%>
    <p>Adoptable pets: <%= @shelter.adoptable_pet_count%>
    <p>Adopted pets: <%= @shelter.adopted_pet_count%>
<%end %>
<br>
<h4>Action Required</h4>
<% if !@shelter.action_required.empty? %>
    <% @shelter.action_required.each do |pet|  %>
    <%= pet.name %>
<% end %>
<% end %>


