<h3><%= @shelter.name %></h3>
<p> Address: <%= @shelter.address%></p>
<p> City / State: <%= @shelter.city%></p>
<p> Zip Code: <%= @shelter.zip%></p>
<% if @shelter.pets.count > 0 %>
    <h4><%= @shelter.name %> Statistics:</h4>
    <p>Average pet age: <%= @shelter.average_pet_age.round(2)%>
<% end %>