<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <section>
      <p><%= link_to "Pets", "/pets" %>
        <%= link_to "Shelters", "/shelters" %>
        <%= link_to "Veterinarians", "/veterinarians" %>
        <%= link_to "Veterinary Offices", "/veterinary_offices" %></p>
    </section>
    <%= yield %>
    <% flash.each do |type, msg| %>
      <div>
        <h4><%= msg %></h4>
      </div>
    <% end %>

  </body>
</html>
