<!DOCTYPE html>
<html>

<head>
  <title>Adopt, Don't Shop</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

  <div class="topnav">
    <%= link_to "Pets", "/pets" %>
    <%= link_to "Shelters", "/shelters" %>
    <%= link_to "Veterinarians", "/veterinarians" %>
    <%= link_to "Veterinary Offices", "/veterinary_offices" %>
    <br>
    <br>
    <br>
  </div>
</head>

<body>
  <% flash.each do |type, message| %>
    <p class="flash"><%= message %></p>
  <% end %>

  <%= yield %>
</body>

</html>