<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="navbar">
      <ul class="navbar-items">
      <li class="navbar-item"><h1>Adopt, don't shop!</h1></li>
      <li class="navbar-item"><%= link_to "Pets", "/pets" %></li>
      <li class="navbar-item"><%= link_to "Shelters", "/shelters" %></li>
      <li class="navbar-item"><%= link_to "Veterinarians", "/veterinarians" %></li>
      <li class="navbar-item"><%= link_to "Veterinary Offices", "/veterinary_offices" %></li>
      </ul>
    </header>

    <% flash.each do |type, msg| %>
      <div class="alert-info">
        <%= msg %>
      </div>
    <% end %>
    <div class="content"> </content>
    <%= yield %>
  </body>
</html>
