<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav">
     <%= image_tag('paw_print.png', id: 'main-logo') %>
      <span style="text-align: right">
      <a class="active" href="/">Home</a>
      <a class="active" href="/pets">Pets</a>
      <a class="active" href="/shelters">Shelters</a>
      <a class="active" href="/admins">AdminPortal</a>
      </span>
    </div>
    <br><% flash.each do |type, msg| %>
      <div class='error'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
