<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <section>
      <p><%= link_to "Pets", "/pets" %></p>
      <p><%= link_to "Shelters", "/shelters" %></p>
      <p><%= link_to "Apps", "/apps" %></p>
      <p><%= link_to "Admin Shelter Index", "/admin/shelters" %></p>
    </section>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
