<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"%>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body>
    <% flash.each do |type, message| %>
    <div class="alert alert-info">
        <%= message %>
    </div>
    <% end %>
    <nav>
      <%= link_to 'Pets', "/pets", method: :get%>
      <%= link_to 'Shelters', "/shelters", method: :get%>

    </nav>
    <%= yield %>
  </body>
</html>
