<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
  <div class="container">
    <%= yield %>
  </div>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <section>
      <p><%= link_to "Pets", "/pets" %></p>
      <p><%= link_to "Shelters", "/shelters" %></p>
      <p><%= link_to "Veterinarians", "/veterinarians" %></p>
      <p><%= link_to "Veterinary Offices", "/veterinary_offices" %></p>
    </section>
    <%= yield %>
  </body>
</html>
