<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://adoptnotshop.herokuapp.com//">Home</a></li>
      <li><a href="/pets">Pets</a>
      <li><a href="/shelters">Shelters</a>
      <li><a href="/veterinarians">Veterinarians</a>
      <li><a href="/veterinary_offices">Veterinary Offices</a>
    </ul>
  </div>
</nav>

  <div class="container">
  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
  </div>
</html>
