<!DOCTYPE html>
<html>
  <head>
    <title>Adopt, Don't Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('pets.png')%> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <%= stylesheet_link_tag 'application', media: 'all' %> 
    <%=javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(59, 87, 105)">
      <a class="navbar-brand" href="#">
        <img src="https://img.icons8.com/ios/452/animal-shelter.png" style="max-width: 55px; max-height:auto;"alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color: rgb(217, 221, 222);">Home </a>
          </li>
          <li class="nav-item">
            <%= link_to "Pets", "/pets", :class => "nav-link", :style=>"color: rgb(217, 221, 222);" %>
          </li>
          <li class="nav-item">
            <%= link_to "Shelters", "/shelters", :class => "nav-link", :style=>"color: rgb(217, 221, 222);" %>
          </li>
          <li class="nav-item">
            <%= link_to "Veterinarians", "/veterinarians", :class => "nav-link", :style=>"color: rgb(217, 221, 222);"%>
          </li>
          <li class="nav-item">
            <%= link_to "Veterinary Offices", "/veterinary_offices", :class => "nav-link", :style=>"color: rgb(217, 221, 222);"%>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(217, 221, 222);" >
              Applicants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "Apply to Adopt", "/apps/new", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <%= link_to "Current Applicants", "/app", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="row mr-auto">
          <div class="col-lg alert alert-warning"><%= msg %></div>
        </div>
      <% end %>
      <div class="row justify-content-center">
        <%= yield %>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
